Repository Kajabi/sage-lib, pull requests merged in 2020-12, with the labels that each got.

#80 Page Header - updates to grid when no secondary_text is present
  docs/lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_page_heading.scss
Labels: enhancement

#102 Label Positioning and Structure for Affixed Inputs
  packages/sage-assets/lib/stylesheets/patterns/elements/_form_input.scss
  packages/sage-system/lib/inputaffixes.js
Labels: bug

#83 React Tooltips
  packages/sage-react/lib/Tooltip/Tooltip.jsx
  packages/sage-react/lib/Tooltip/Tooltip.story.jsx
  packages/sage-react/lib/Tooltip/TooltipElement.jsx
  packages/sage-react/lib/Tooltip/configs.js
  packages/sage-react/lib/Tooltip/index.js
Labels: enhancement

#90 Feature Toggle - create component
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/feature_toggle/_preview.html.erb
  docs/app/views/examples/objects/feature_toggle/_props.html.erb
  docs/app/views/examples/objects/feature_toggle/_rules_do.html.erb
  docs/app/views/examples/objects/feature_toggle/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_components/sage_feature_toggle.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/patterns/elements/_switch.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_feature_toggle.scss
Labels: enhancement

#75 feat(search component): migrate KJB's search.js into Sage
  docs/lib/sage_rails/app/views/sage_components/_sage_search.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_search.scss
  packages/sage-react/lib/Search/Search.jsx
  packages/sage-system/lib/search.js
Labels: enhancement

#86 Loader - improve loading indicator
  docs/app/helpers/elements_helper.rb
  docs/app/views/examples/elements/loader/_markup.html.erb
  docs/app/views/examples/elements/loader/_preview.html.erb
  docs/app/views/examples/elements/loader/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_loader.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_loader.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_loader.scss
  packages/sage-react/lib/Loader/Loader.jsx
  packages/sage-react/lib/Loader/Loader.story.jsx
  packages/sage-react/lib/Loader/configs.js
Labels: enhancement

#109 Modal - resolve invalid property reference
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
Labels: bug

#105 Sage Form Section - updated mobile spacing in header
  packages/sage-assets/lib/stylesheets/patterns/objects/_form_section.scss
Labels: enhancement

#100 Sage Hero - add Rails component
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/hero/_preview.html.erb
  docs/app/views/examples/objects/hero/_props.html.erb
  docs/app/views/examples/objects/hero/_rules_do.html.erb
  docs/app/views/examples/objects/hero/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_components/sage_hero.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/patterns/elements/_button.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_hero.scss
  packages/sage-system/lib/hero.js
  packages/sage-system/lib/index.js
  packages/sage-system/lib/init.js
Labels: enhancement

#113 Outline Item - resolved misalignment issue with loader
  packages/sage-assets/lib/stylesheets/patterns/elements/_loader.scss
Labels: bug

#111 Feature Toggle - update toggle to allow for more flexibility
  docs/app/views/examples/objects/feature_toggle/_preview.html.erb
  docs/app/views/examples/objects/feature_toggle/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_feature_toggle.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_feature_toggle.scss
Labels: enhancement

#104 CLI: Display bridge status `bridge:kajabi-products:status`
  README.md
  package.json
Labels: documentation

#120 TinyMCE - resolved overflow issue with the toolbar
  packages/sage-assets/lib/stylesheets/vendor/_tinymcev4.scss
Labels: bug

#119 Sage docs odd scrolling issue
  packages/sage-assets/lib/stylesheets/layout/_page.scss
  packages/sage-assets/lib/stylesheets/layout/_stage.scss
Labels: bug

#129 Sage-focus-outline - update focus-within to show background-color
  docs/app/views/examples/objects/outline_item/_preview.html.erb
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_outline_item.scss
Labels: enhancement

#133 Tabs - update responsive styles
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_choice.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_tabs.scss
Labels: enhancement

#140 Outline-focus - followup for better style isolation
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_outline_item.scss
Labels: bug

#143 Tabs - updates to react choice tabs
  packages/sage-react/lib/Tabs/Tabs.jsx
Labels: enhancement

#141 fix(modal): add large attribute
  docs/app/views/examples/objects/modal/_markup1.html.erb
  docs/app/views/examples/objects/modal/_preview.html.erb
  docs/app/views/examples/objects/modal/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_modal.scss
  packages/sage-assets/lib/stylesheets/tokens/_container.scss
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
Labels: enhancement

#136 Interactive Label - responsive updates
  docs/lib/sage_rails/app/views/sage_components/_sage_label.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_label.scss
  packages/sage-react/lib/Label/Label.jsx
Labels: enhancement
