Repository Kajabi/sage-lib, pull requests merged in 2021-05, with the labels that each got.

#454 Modal: add JS events on "open"
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/modal/_props.html.erb
  packages/sage-system/lib/modal.js
Labels: enhancement

#457 Responsive type and type pairings
  docs/app/views/pages/grid_templates.html.erb
  docs/app/views/pages/spacing.html.erb
  docs/app/views/pages/typography.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_code.scss
  docs/lib/sage-frontend/stylesheets/docs/_colors.scss
  docs/lib/sage-frontend/stylesheets/docs/_footer.scss
  docs/lib/sage-frontend/stylesheets/docs/_icon.scss
  docs/lib/sage-frontend/stylesheets/docs/_specs.scss
  docs/lib/sage-frontend/stylesheets/docs/_status_key.scss
  docs/lib/sage-frontend/stylesheets/docs/_status_table.scss
  docs/lib/sage-frontend/stylesheets/docs/_token.scss
  docs/lib/sage_rails/app/sage_components/sage_label.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_label_secondary_button.html.erb
  packages/sage-assets/lib/stylesheets/components/_alert.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_input_group.scss
  packages/sage-assets/lib/stylesheets/components/_label.scss
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-assets/lib/stylesheets/tokens/_font_size.scss
  packages/sage-assets/lib/stylesheets/tokens/_index.scss
  packages/sage-assets/lib/stylesheets/tokens/_line_height.scss
  packages/sage-assets/lib/stylesheets/tokens/_type_pairings.scss
  packages/sage-assets/lib/stylesheets/tokens/_type_specs.scss
Labels: enhancement

#456 Rails components - statuses token
  docs/app/views/examples/components/alert/_preview.html.erb
  docs/app/views/examples/components/card_highlight/_preview.html.erb
  docs/app/views/examples/components/catalog_item/_preview.html.erb
  docs/app/views/examples/components/dropdown/_preview.html.erb
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/app/views/examples/components/icon_card/_preview.html.erb
  docs/app/views/examples/shared/_rules.html.erb
  docs/app/views/pages/grid_templates.html.erb
  docs/lib/sage_rails/app/sage_components/sage_alert.rb
  docs/lib/sage_rails/app/sage_components/sage_avatar.rb
  docs/lib/sage_rails/app/sage_components/sage_avatar_group.rb
  docs/lib/sage_rails/app/sage_components/sage_card_highlight.rb
  docs/lib/sage_rails/app/sage_components/sage_icon.rb
  docs/lib/sage_rails/app/sage_components/sage_icon_card.rb
  docs/lib/sage_rails/app/sage_components/sage_label.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/sage_components/sage_transaction_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_label_secondary_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_radio.html.erb
  packages/sage-assets/lib/stylesheets/components/_alert.scss
Labels: RAILS :exclamation:, enhancement

#462 Patch stray comma
  packages/sage-assets/lib/stylesheets/tokens/_type_specs.scss
Labels: bug

#459 Sortable Dropdown Interaction Investigation
  packages/sage-system/lib/init.js
Labels: bug

#474 Sage icons 1.10
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  packages/sage-assets/lib/fonts/sage/Sage.eot
  packages/sage-assets/lib/fonts/sage/Sage.svg
  packages/sage-assets/lib/fonts/sage/Sage.ttf
  packages/sage-assets/lib/fonts/sage/Sage.woff
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: enhancement

#475 Alert button positioning
  packages/sage-assets/lib/stylesheets/components/_banner.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
Labels: bug

#468 Next version bump (~v3.25.0)
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/toast/_preview.html.erb
  docs/app/views/examples/components/toast/_props.html.erb
  docs/app/views/examples/shared/_code.html.erb
  docs/lib/sage_rails/app/sage_components/sage_toast.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/package.json
  packages/sage-assets/lib/fonts/sage/Sage.eot
  packages/sage-assets/lib/fonts/sage/Sage.svg
  packages/sage-assets/lib/fonts/sage/Sage.ttf
  packages/sage-assets/lib/fonts/sage/Sage.woff
  packages/sage-assets/lib/stylesheets/components/_banner.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_null_view.scss
  packages/sage-assets/lib/stylesheets/components/_panel_controls.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/.DS_Store
  packages/sage-react/lib/Toast/Toast.jsx
  packages/sage-react/lib/Toast/Toast.story.jsx
  packages/sage-react/lib/configs/tokens/icons.js
  packages/sage-system/lib/.DS_Store
  packages/sage-system/lib/accordion-panel.js
  packages/sage-system/lib/index.js
  packages/sage-system/lib/init.js
  packages/sage-system/lib/toast.js
  packages/sage-system/lib/toast/toast.config.js
  packages/sage-system/lib/toast/toast.js
  packages/sage-system/lib/toast/toast.template.js
  packages/sage-system/lib/utils/index.js
Labels: Version Bump

#480 Update toast property name in copy-button.js
  packages/sage-system/lib/copy-button.js
Labels: bug

#534 Tabsitem react, remove stray console log
  packages/sage-react/lib/Tabs/TabsItem.jsx
Labels: bug

#537 Stray copytext whitespace
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_button.html.erb
Labels: bug

#489 PanelControls: rework sort conditional
  docs/app/views/examples/components/panel_controls/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_panel_controls.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_controls.html.erb
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
Labels: RAILS :exclamation:

#541 Stat Box Null View
  docs/app/views/examples/components/stat_box/_preview.html.erb
  docs/app/views/examples/components/stat_box/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_stat_box.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_stat_box.html.erb
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-react/lib/StatBox/StatBox.jsx
  packages/sage-react/lib/StatBox/StatBox.spec.jsx
  packages/sage-react/lib/StatBox/StatBox.story.jsx
Labels: RAILS :exclamation:, REACT :exclamation:, enhancement

#535 Next version bump (~v3.27.0)
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/page_heading/_preview.html.erb
  docs/app/views/examples/components/panel_controls/_preview.html.erb
  docs/app/views/examples/components/stat_box/_preview.html.erb
  docs/app/views/examples/components/stat_box/_props.html.erb
  docs/app/views/examples/components/table/_preview.html.erb
  docs/app/views/examples/components/table/_props.html.erb
  docs/app/views/pages/sandbox.html.erb
  docs/lib/sage_rails/app/helpers/sage_table_helper.rb
  docs/lib/sage_rails/app/sage_components/sage_page_heading.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_controls.rb
  docs/lib/sage_rails/app/sage_components/sage_stat_box.rb
  docs/lib/sage_rails/app/sage_components/sage_table.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_controls.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_stat_box.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_table.html.erb
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/components/_page_heading.scss
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-assets/lib/stylesheets/components/_table.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-react/lib/StatBox/StatBox.jsx
  packages/sage-react/lib/StatBox/StatBox.spec.jsx
  packages/sage-react/lib/StatBox/StatBox.story.jsx
  packages/sage-react/lib/Tabs/TabsItem.jsx
Labels: Version Bump

#543 BUILD-1145: podcast search not working
  packages/sage-system/lib/search.js
Labels: bug
