Repository Kajabi/sage-lib, pull requests merged in 2021-11, with the labels that each got.

#978 Next Version Bump ~4.24.0
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/app/views/examples/components/avatar/_props.html.erb
  docs/app/views/examples/components/card/_props.html.erb
  docs/app/views/examples/components/panel/_props.html.erb
  docs/app/views/examples/components/sortable/_preview.html.erb
  docs/app/views/examples/components/sortable/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_avatar.rb
  docs/lib/sage_rails/app/sage_components/sage_avatar_group.rb
  docs/lib/sage_rails/app/sage_components/sage_card_list_item.rb
  docs/lib/sage_rails/app/sage_components/sage_card_row.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_list_item.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_row.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_sortable_item_custom.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_card_list_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_card_row.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_list_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_row.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item_custom.html.erb
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/Avatar/Avatar.jsx
  packages/sage-react/lib/Avatar/Avatar.story.jsx
  packages/sage-react/lib/Card/CardListItem.jsx
  packages/sage-react/lib/Card/CardRow.jsx
  packages/sage-react/lib/Card/configs.js
  packages/sage-react/lib/Panel/PanelListItem.jsx
  packages/sage-react/lib/Panel/PanelRow.jsx
  packages/sage-react/lib/Panel/configs.js
Labels: Version Bump

#985 [Fix]: Patch optional grid template
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item_custom.html.erb
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: bug

#982 [Improvement] Dropdown: make options dropdown able to change subtle trigger
  packages/sage-react/lib/Dropdown/OptionsDropdown.jsx
Labels: improvement

#988 [SAGE-969] Sage Tabs aria-controls fix
  docs/lib/sage_rails/app/views/sage_components/_sage_tab.html.erb
Labels: bug, a11y

#992 Update proptypes for Card row
  packages/sage-react/lib/Card/CardRow.jsx
Labels: bug

#995 Patch build/ci process for heroku issues
  docs/package.json
Labels: bug, P1

#996 Remove package lock
  .gitignore
  packages/sage-react/package-lock.json
Labels: bug, P1

#989 Next Version Bump ~4.25.0
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/app/views/examples/components/icon/_props.html.erb
  docs/app/views/examples/components/indicator/_props.html.erb
  docs/app/views/pages/icon.html.erb
  docs/lib/sage_rails/app/sage_components/sage_icon.rb
  docs/lib/sage_rails/app/sage_components/sage_indicator.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_indicator.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tab.html.erb
  packages/sage-assets/lib/fonts/sage/Sage.eot
  packages/sage-assets/lib/fonts/sage/Sage.svg
  packages/sage-assets/lib/fonts/sage/Sage.ttf
  packages/sage-assets/lib/fonts/sage/Sage.woff
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/Card/CardRow.jsx
  packages/sage-react/lib/Dropdown/OptionsDropdown.jsx
  packages/sage-react/lib/Icon/Icon.jsx
  packages/sage-react/lib/Icon/Icon.story.jsx
  packages/sage-react/lib/Indicator/Indicator.jsx
  packages/sage-react/lib/Indicator/Indicator.spec.jsx
  packages/sage-react/lib/Indicator/Indicator.story.jsx
  packages/sage-react/lib/Indicator/index.js
  packages/sage-react/lib/Select/Select.jsx
  packages/sage-react/lib/Select/Select.story.jsx
  packages/sage-react/lib/Sortable/Sortable.story.jsx
  packages/sage-react/lib/Sortable/SortableItemCustom.jsx
  packages/sage-react/lib/Sortable/configs.js
  packages/sage-react/lib/configs/tokens/icons.js
  packages/sage-react/lib/index.js
Labels: Version Bump

#933 [Sage 882] Drawer: Component using Modal as base
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/drawer/_preview.html.erb
  docs/app/views/examples/components/drawer/_props.html.erb
  docs/app/views/examples/components/drawer/_rules_do.html.erb
  docs/app/views/examples/components/drawer/_rules_dont.html.erb
  docs/app/views/examples/components/modal/_props.html.erb
  docs/app/views/layouts/application.html.erb
  docs/lib/sage_rails/app/sage_components/sage_drawer.rb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/sage_components/sage_modal_content.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_drawer.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  package.json
  packages/sage-assets/lib/stylesheets/components/_drawer.scss
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-react/lib/Drawer/Drawer.jsx
  packages/sage-react/lib/Drawer/Drawer.story.jsx
  packages/sage-react/lib/Drawer/index.js
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Modal/ModalHeader.jsx
Labels: enhancement, Sydney Cycle

#1001 [Improvement] Develop mocks platform
  docs/app/controllers/pages_controller.rb
  docs/app/helpers/application_helper.rb
  docs/app/helpers/mocks/contact_profile_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/mocks/_heading.html.erb
  docs/app/views/mocks/archives/test/_main.html.erb
  docs/app/views/mocks/contact_profile/_main.html.erb
  docs/app/views/pages/mock.html.erb
  docs/app/views/pages/mocks.html.erb
  docs/config/routes.rb
  docs/lib/sage-frontend/javascript/docs/index.js
  docs/lib/sage-frontend/javascript/docs/mocks/contact_profile/index.js
  docs/lib/sage-frontend/javascript/docs/mocks/index.js
  docs/lib/sage-frontend/javascript/docs/scroll-to-active-nav-item.js
  docs/lib/sage-frontend/stylesheets/docs/_heading.scss
  docs/lib/sage-frontend/stylesheets/docs/index.scss
  docs/lib/sage-frontend/stylesheets/docs/mocks/_contact_profile.scss
  docs/lib/sage-frontend/stylesheets/docs/mocks/_index.scss
Labels: improvement

#878 MOCK: Contact Profile Drawer
  docs/app/helpers/mocks/contact_profile_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/_heading.html.erb
  docs/app/views/pages/mock.html.erb
  packages/sage-assets/lib/stylesheets/components/_description.scss
  packages/sage-react/lib/Description/Description.jsx
  packages/sage-react/lib/Description/Description.spec.jsx
  packages/sage-react/lib/Description/Description.story.jsx
  packages/sage-react/lib/Description/index.js
  packages/sage-react/lib/mocks/contact-profile/ContactProfile.story.jsx
  packages/sage-react/lib/mocks/contact-profile/components/Data.jsx
  packages/sage-react/lib/mocks/contact-profile/components/Header.jsx
  packages/sage-react/lib/mocks/contact-profile/components/Profile.jsx
  packages/sage-react/lib/mocks/contact-profile/components/index.js
  packages/sage-react/lib/mocks/contact-profile/dataHelper.jsx
Labels: Mock

#1006 [Sage-983] Label - Custom Icon Color
  docs/app/views/examples/components/label/_preview.html.erb
  docs/app/views/examples/components/label/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_label.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_label.html.erb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-react/lib/Label/Label.jsx
  packages/sage-react/lib/Label/Label.story.jsx
Labels: improvement

#1014 [SAGE-1013] Radio - update alignment within sortable component
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
Labels: enhancement

#1020 fix(input error): remove deprecated form field error class
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
Labels: improvement, tech debt

#1023 feat(icons): add new icons
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  packages/sage-assets/lib/fonts/sage/Sage.eot
  packages/sage-assets/lib/fonts/sage/Sage.svg
  packages/sage-assets/lib/fonts/sage/Sage.ttf
  packages/sage-assets/lib/fonts/sage/Sage.woff
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: enhancement

#1026 feat(icon copy): add feature to copy icon code to clipboard
  docs/app/views/pages/icon.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_icon.scss
Labels: documentation, enhancement

#1012 [Sage-881] Avatar - New Badge Prop
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/app/views/examples/components/avatar/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  packages/sage-assets/lib/stylesheets/components/_avatar.scss
  packages/sage-react/lib/Avatar/Avatar.jsx
  packages/sage-react/lib/Avatar/Avatar.story.jsx
Labels: enhancement

#1028 [SAGE-1000] Icon Background Sizing on Smaller Screens
  docs/app/views/examples/components/icon/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
Labels: bug

#1030 [Sage-966] Modal - Updates Docs with Sage Tokens
  docs/app/views/examples/components/modal/_preview.html.erb
Labels: improvement

#961 feat(alert): new spec updates for Alert component
  docs/app/views/examples/components/alert/_preview.html.erb
  docs/app/views/examples/components/alert/_props.html.erb
  docs/app/views/examples/components/alert/_rules_do.html.erb
  docs/app/views/examples/components/alert/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_components/sage_alert.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_alert.html.erb
  packages/sage-assets/lib/stylesheets/components/_alert.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-react/lib/Alert/Alert.jsx
  packages/sage-react/lib/Alert/Alert.story.jsx
  packages/sage-react/lib/Alert/configs.js
Labels: improvement, P2, Sydney Cycle

#1029 Next Version Bump: ~4.28.0
  docs/app/views/examples/components/alert/_preview.html.erb
  docs/app/views/examples/components/alert/_props.html.erb
  docs/app/views/examples/components/alert/_rules_do.html.erb
  docs/app/views/examples/components/alert/_rules_dont.html.erb
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/app/views/examples/components/avatar/_props.html.erb
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/pages/icon.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_icon.scss
  docs/lib/sage_rails/app/sage_components/sage_alert.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_alert.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  packages/sage-assets/lib/stylesheets/components/_alert.scss
  packages/sage-assets/lib/stylesheets/components/_avatar.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-react/lib/Alert/Alert.jsx
  packages/sage-react/lib/Alert/Alert.story.jsx
  packages/sage-react/lib/Alert/configs.js
  packages/sage-react/lib/Avatar/Avatar.jsx
  packages/sage-react/lib/Avatar/Avatar.story.jsx
Labels: Version Bump

#1034 feat(description): add Description export
  packages/sage-react/lib/index.js
Labels: bug, P1

#1036 fix(colors): update tokens to match color palette updates
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/tokens/_color_palette.scss
Labels: bug

#1027 [BASH] Branches Update: Create a more visually appealing update process
  bin/branches.sh
  package.json
Labels: documentation, dependencies

#1045 fix(page heading): add alignment to page heading actions
  docs/app/views/examples/components/page_heading/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_page_heading.scss
Labels: bug

#1039 Next version bump ~v4.29.0
  bin/branches.sh
  docs/app/views/examples/components/page_heading/_preview.html.erb
  docs/app/views/examples/components/panel/_preview.html.erb
  docs/app/views/examples/components/panel/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_panel_header.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_header.html.erb
  package.json
  packages/sage-assets/lib/stylesheets/components/_page_heading.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/tokens/_color_palette.scss
  packages/sage-react/lib/Panel/Panel.story.jsx
  packages/sage-react/lib/Panel/PanelHeader.jsx
Labels: Version Bump

#1050 [MAN-2229] PanelHeader Title: Allow for custom classes
  packages/sage-react/lib/Panel/Panel.story.jsx
  packages/sage-react/lib/Panel/PanelHeader.jsx
  packages/sage-react/lib/Panel/PanelTitle.jsx
Labels: bug, In QE

#1053 [SAGE-1052] Modal - add id to react version
  packages/sage-react/lib/Modal/Modal.jsx
Labels: improvement

#1054 Next version bump ~v4.30.0
  docs/app/views/application/_home_sections.html.erb
  docs/app/views/examples/components/description/_preview.html.erb
  docs/app/views/examples/components/switch/_preview.html.erb
  docs/app/views/examples/components/switch/_props.html.erb
  docs/app/views/examples/components/switch/_rules_do.html.erb
  docs/lib/sage_rails/app/sage_components/sage_switch.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_switch.html.erb
Labels: Version Bump

#1055 fix(workflow): update-release workflow token switch
  .github/workflows/release-deploy.yml
  .github/workflows/update-release.yml
Labels: bug

#1049 [SAGE-869] Toast events and `test_id` additions
  docs/app/views/examples/components/toast/_preview.html.erb
  docs/app/views/examples/components/toast/_props.html.erb
  packages/sage-system/lib/toast/toast.config.js
  packages/sage-system/lib/toast/toast.js
  packages/sage-system/lib/toast/toast.template.js
Labels: enhancement, javascript

#1051 [MOCK]: New Plan Upgrade Features
  docs/app/helpers/mocks/new_plans_upgrade_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/mocks/new_plans_upgrade/_feature_usage_display.html.erb
  docs/app/views/mocks/new_plans_upgrade/_main.html.erb
  docs/app/views/mocks/new_plans_upgrade/_plan_tiers.html.erb
  docs/app/views/mocks/new_plans_upgrade/_plan_upgrade_panel.html.erb
  docs/app/views/mocks/new_plans_upgrade/_upgrade_modal.html.erb
  docs/app/views/mocks/new_plans_upgrade/_usage_alert.html.erb
  docs/lib/sage-frontend/stylesheets/docs/mocks/_index.scss
  docs/lib/sage-frontend/stylesheets/docs/mocks/_new_plans_upgrade.scss
Labels: Mock
