Repository Kajabi/sage-lib, pull requests merged in 2021-10, with the labels that each got.

#849 [Sage 493] Quick Fix for subtle button padding
  packages/sage-assets/lib/stylesheets/components/_button.scss
Labels: bug, Version Bump

#846 Next version bump ~4.19.0
  .github/workflows/release-deploy.yml
  docs/Gemfile
  docs/Gemfile.lock
  docs/app/helpers/components_helper.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_button.html.erb
  packages/sage-assets/lib/stylesheets/components/_copy_text.scss
  packages/sage-assets/lib/stylesheets/core/_variables.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: Version Bump

#852 fix(lerna): revert lerna publish changes
  .github/workflows/release-deploy.yml
Labels: P1

#853 [Sage-848] Avatar Alignment Bug
  packages/sage-react/lib/Button/Button.story.jsx
Labels: bug

#857 [Workflow] Release/Deploy workflow is not running
  .github/workflows/release-deploy.yml
Labels: bug

#856 Next version bump ~4.19.0
  .github/workflows/release-deploy.yml
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/panel_controls/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_controls.html.erb
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-react/lib/Button/Button.story.jsx
  packages/sage-react/lib/Dropdown/DropdownTrigger.jsx
  packages/sage-react/lib/Dropdown/DropdownTriggerDefault.jsx
  packages/sage-react/lib/Dropdown/DropdownTriggerSelect.jsx
  packages/sage-react/lib/PanelControls/PanelControlsPagination.jsx
Labels: Version Bump

#858 [Sage-758] Adds Preview Modal for Active Event
  docs/app/views/examples/components/modal/_preview.html.erb
Labels: bug

#873 fix(workflow): update token to unique value to fix workflow
  .github/workflows/update-release.yml
Labels: bug

#875 [Sage-802] Expandable Card Alignment Prop
  docs/app/views/examples/components/expandable_card/_preview.html.erb
  docs/app/views/examples/components/expandable_card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_expandable_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_expandable_card.scss
  packages/sage-react/lib/ExpandableCard/ExpandableCard.jsx
Labels: improvement

#894 Chart: Stabilizes React component
  packages/sage-react/lib/Chart/Chart.jsx
  packages/sage-react/lib/Chart/Chart.story.jsx
  packages/sage-react/lib/Chart/types/Bar.jsx
  packages/sage-react/lib/Chart/types/Donut.jsx
  packages/sage-react/lib/index.js
Labels: bug

#921 feat(icons): add new icons
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  packages/sage-assets/lib/fonts/sage/Sage.eot
  packages/sage-assets/lib/fonts/sage/Sage.svg
  packages/sage-assets/lib/fonts/sage/Sage.ttf
  packages/sage-assets/lib/fonts/sage/Sage.woff
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: improvement

#930 Carousel Component
  .stylelintignore
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/carousel/_preview.html.erb
  docs/app/views/examples/components/carousel/_props.html.erb
  docs/app/views/examples/components/carousel/_rules_do.html.erb
  docs/app/views/examples/components/carousel/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_components/sage_carousel.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_carousel.html.erb
  packages/sage-assets/lib/stylesheets/components/_carousel.scss
  packages/sage-assets/lib/stylesheets/components/_next_best_action.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/vendor/_tiny_slider.scss
  packages/sage-react/lib/Carousel/Carousel.jsx
  packages/sage-react/lib/Carousel/Carousel.spec.jsx
  packages/sage-react/lib/Carousel/Carousel.story.jsx
  packages/sage-react/lib/Carousel/index.js
  packages/sage-react/lib/index.js
  packages/sage-react/package-lock.json
  packages/sage-react/package.json
  packages/sage-system/lib/carousel.js
  packages/sage-system/lib/index.js
  packages/sage-system/lib/init.js
  packages/sage-system/package.json
  yarn.lock
Labels: Sydney Cycle

#971 [SAGE-941] Button - center full_width button
  packages/sage-assets/lib/stylesheets/components/_button.scss
Labels: enhancement
