Repository Kajabi/sage-lib, pull requests merged in 2021-08, with the labels that each got.

#675 Update Pagination
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
Labels: Sage 3: Tier 3

#676 Stat Box Enhancements
  docs/app/views/examples/components/stat_box/_preview.html.erb
  docs/app/views/examples/components/stat_box/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_stat_box.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_stat_box.html.erb
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-react/lib/StatBox/StatBox.jsx
  packages/sage-react/lib/StatBox/StatBox.story.jsx
  packages/sage-react/lib/StatBox/configs.js
Labels: RAILS :exclamation:, REACT :exclamation:, enhancement

#665 Next version bump ~4.11.0
  docs/app/views/examples/components/dropdown/_props.html.erb
  docs/app/views/examples/components/stat_box/_preview.html.erb
  docs/app/views/examples/components/stat_box/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_stat_box.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_stat_box.html.erb
  packages/sage-assets/lib/stylesheets/components/_feature_toggle.scss
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-assets/lib/stylesheets/components/_switch.scss
  packages/sage-assets/lib/stylesheets/components/_table.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-react/lib/StatBox/StatBox.jsx
  packages/sage-react/lib/StatBox/StatBox.story.jsx
  packages/sage-react/lib/StatBox/configs.js
Labels: Version Bump

#685 docs(minor doc update): update number to written number
  README.md
Labels: documentation

#686 Next version bump (~4.11.2+)
  .github/workflows/lint-test-build.yml
  .github/workflows/release-deploy.yml
  README.md
  lefthook.yml
  lerna.json
Labels: Version Bump

#695 Next version bump (~4.12.0)
  docs/app/views/examples/components/media_tile/_preview.html.erb
  docs/app/views/examples/components/media_tile/_props.html.erb
  docs/app/views/examples/components/media_tile/_rules_do.html.erb
  docs/app/views/examples/components/media_tile/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_media_tile.html.erb
  packages/sage-assets/lib/fonts/sage/Sage.eot
  packages/sage-assets/lib/fonts/sage/Sage.svg
  packages/sage-assets/lib/fonts/sage/Sage.ttf
  packages/sage-assets/lib/fonts/sage/Sage.woff
  packages/sage-assets/lib/stylesheets/components/_media_tile.scss
  packages/sage-assets/lib/stylesheets/components/_progress_bar.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/Chart/index.js
  packages/sage-react/lib/configs/tokens/icons.js
  packages/sage-react/lib/index.js
Labels: Version Bump

#705 Fix menu icon used in OptionsDropdown
  packages/sage-react/lib/Dropdown/OptionsDropdown.jsx
Labels: bug

#689 [Upload Card] bring over upload card updates from `kajabi-products`
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_upload_card.scss
Labels: Component

#704 SageLabel: remove duplicate quotes around `interactive_type` label
  docs/lib/sage_rails/app/views/sage_components/_sage_label.html.erb
Labels: bug

#708 README updates
  README.md
  readme/sage-hero-bkgd.jpg
  readme/sage-icon-wordmark.svg
  readme/sage-icon.png
Labels: documentation

#678 JBH Choice React Component
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-react/lib/Choice/Choice.jsx
  packages/sage-react/lib/Choice/Choice.spec.jsx
  packages/sage-react/lib/Choice/Choice.story.jsx
  packages/sage-react/lib/Choice/configs.js
  packages/sage-react/lib/Choice/index.js
  packages/sage-react/lib/index.js
Labels: Component

#715 Sage docs homepage cleanup
  docs/app/views/application/_footer.html.erb
  docs/app/views/application/_home_code.html.erb
  docs/app/views/application/_home_developer.html.erb
  docs/app/views/application/_home_sections.html.erb
  docs/app/views/layouts/home.html.erb
  docs/app/views/pages/index.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_home.scss
Labels: documentation

#716 [Checkbox] strike-through text for checked sortable item value
  docs/app/views/examples/components/sortable/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
Labels: enhancement

#719 Pagination Items Spacing on Smaller Screens
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
Labels: improvement

#703 Next version bump ~4.12.0
  README.md
  docs/app/views/application/_footer.html.erb
  docs/app/views/application/_home_code.html.erb
  docs/app/views/application/_home_developer.html.erb
  docs/app/views/application/_home_sections.html.erb
  docs/app/views/examples/components/sortable/_preview.html.erb
  docs/app/views/examples/components/sortable/_props.html.erb
  docs/app/views/layouts/home.html.erb
  docs/app/views/pages/index.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_home.scss
  docs/lib/sage_rails/app/sage_components/sage_component.rb
  docs/lib/sage_rails/app/sage_components/sage_sortable_item_custom.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_label.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item_custom.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
  packages/sage-assets/lib/stylesheets/components/_sortable.scss
  packages/sage-assets/lib/stylesheets/components/_upload_card.scss
  packages/sage-react/lib/Choice/Choice.jsx
  packages/sage-react/lib/Choice/Choice.spec.jsx
  packages/sage-react/lib/Choice/Choice.story.jsx
  packages/sage-react/lib/Choice/configs.js
  packages/sage-react/lib/Choice/index.js
  packages/sage-react/lib/index.js
  readme/sage-hero-bkgd.jpg
  readme/sage-icon-wordmark.svg
  readme/sage-icon.png
Labels: Version Bump

#725 [revert] render method stripping whitespace
  docs/lib/sage_rails/app/sage_components/sage_component.rb
Labels: bug

#733 SageLink updates
  docs/app/views/examples/components/link/_preview.html.erb
  docs/app/views/examples/components/link/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_link.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
Labels: enhancement

#730 Issue Template Update: Suggestion Template
  .github/ISSUE_TEMPLATE/suggestion.md
  README.md
  readme/sage-hero-bkgd.jpg
  readme/sage-hero.jpg
  readme/sage-icon-wordmark.svg
Labels: documentation

#741 Card row alignment schema
  docs/lib/sage_rails/app/sage_components/sage_card_row.rb
  packages/sage-assets/lib/stylesheets/layout/_grid-templates.scss
Labels: bug

#738 Next version bump (~v4.13.0)
  .github/ISSUE_TEMPLATE/suggestion.md
  CONTRIBUTING.md
  README.md
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/button/_props.html.erb
  docs/app/views/examples/components/dynamic_select/_preview.html.erb
  docs/app/views/examples/components/dynamic_select/_props.html.erb
  docs/app/views/examples/components/dynamic_select/_rules_do.html.erb
  docs/app/views/examples/components/dynamic_select/_rules_dont.html.erb
  docs/app/views/examples/components/link/_preview.html.erb
  docs/app/views/examples/components/link/_props.html.erb
  docs/app/views/examples/components/loader/_preview.html.erb
  docs/app/views/examples/components/loader/_props.html.erb
  docs/app/views/examples/components/toast/_preview.html.erb
  docs/lib/sage-frontend/javascript/docs/button-group.js
  docs/lib/sage-frontend/javascript/docs/index.js
  docs/lib/sage_rails/app/sage_components/sage_button.rb
  docs/lib/sage_rails/app/sage_components/sage_button_group.rb
  docs/lib/sage_rails/app/sage_components/sage_card_row.rb
  docs/lib/sage_rails/app/sage_components/sage_dynamic_select.rb
  docs/lib/sage_rails/app/sage_components/sage_link.rb
  docs/lib/sage_rails/app/sage_components/sage_loader.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_dynamic_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_loader.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_dynamic_select.scss
  packages/sage-assets/lib/stylesheets/components/_expandable_card.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_loader.scss
  packages/sage-assets/lib/stylesheets/core/functions/_index.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_index.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/layout/_grid-templates.scss
  packages/sage-assets/lib/stylesheets/tokens/_line_height.scss
  packages/sage-assets/lib/stylesheets/tokens/_type_specs.scss
  packages/sage-react/lib/Button/ButtonGroup.jsx
  packages/sage-react/lib/Loader/Loader.jsx
  packages/sage-react/lib/Loader/configs.js
  packages/sage-system/lib/dynamicSelect.js
  packages/sage-system/lib/index.js
  packages/sage-system/lib/init.js
  readme/AUTOMATIONS.md
  readme/CICD.md
  readme/sage-hero-bkgd.jpg
  readme/sage-hero.jpg
  readme/sage-icon-wordmark.svg
Labels: Version Bump
