Repository Kajabi/sage-lib, pull requests merged in 2021-03, with the labels that each got.

#347 Select - icon cursor hover styles
  packages/sage-assets/lib/stylesheets/patterns/elements/_form_select.scss
Labels: bug

#345 Docs - update react docs - EmptyState, ExpandableCard, FormSection, Label, Search
  packages/sage-react/lib/EmptyState/EmptyState.jsx
  packages/sage-react/lib/EmptyState/EmptyState.story.jsx
  packages/sage-react/lib/ExpandableCard/ExpandableCard.story.jsx
  packages/sage-react/lib/FormSection/FormSection.story.jsx
  packages/sage-react/lib/Label/Label.story.jsx
  packages/sage-react/lib/Search/Search.story.jsx
Labels: REACT :exclamation:, documentation

#354 Form Select - select label z-index adjustment
  packages/sage-assets/lib/stylesheets/patterns/elements/_form_select.scss
Labels: bug

#353 Docs - Update react docs
  docs/app/helpers/elements_helper.rb
  docs/app/helpers/objects_helper.rb
  packages/sage-react/lib/PageHeading/PageHeading.story.jsx
  packages/sage-react/lib/Panel/Panel.story.jsx
  packages/sage-react/lib/Panel/PanelFigureNotes.story.mdx
  packages/sage-react/lib/Panel/PanelListNotes.story.mdx
  packages/sage-react/lib/Panel/PanelNotes.story.mdx
  packages/sage-react/lib/Panel/PanelRowNotes.story.mdx
  packages/sage-react/lib/Panel/PanelStackNotes.story.mdx
  packages/sage-react/lib/Panel/PanelTilesNotes.story.mdx
  packages/sage-react/lib/PanelControls/PanelControls.story.jsx
  packages/sage-react/lib/Tabs/Tabs.story.jsx
  packages/sage-react/lib/Tabs/TabsNotes.story.mdx
  packages/sage-react/lib/Tooltip/Tooltip.story.jsx
  packages/sage-react/lib/TransactionCard/TransactionCard.story.jsx
  packages/sage-react/lib/Type/Type.story.jsx
  packages/sage-react/lib/Type/Type.story.mdx
  packages/sage-react/lib/UploadCard/UploadCard.story.jsx
Labels: REACT :exclamation:, documentation

#363 Icons - updated icon alignment
  packages/sage-assets/lib/stylesheets/patterns/elements/_toast.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_alert.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_banner.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_empty_state.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_nav.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_upload_card.scss
Labels: bug

#364 Rails SageSortable: Fix bug where Sortable onload injects JS response twice.
  packages/sage-system/lib/util.js
Labels: bug

#346 Docs - update react docs
  docs/app/helpers/elements_helper.rb
  docs/app/helpers/objects_helper.rb
  packages/sage-assets/lib/stylesheets/patterns/objects/_data_card.scss
  packages/sage-react/lib/DataCard/DataCard.story.jsx
  packages/sage-react/lib/DataCard/DataCardGroupNotes.story.mdx
  packages/sage-react/lib/DataCard/DataCardNotes.story.mdx
  packages/sage-react/lib/DataCard/DataCardScrollNotes.story.mdx
  packages/sage-react/lib/Input/Input.story.jsx
  packages/sage-react/lib/Loader/Loader.story.jsx
  packages/sage-react/lib/Select/Select.story.jsx
  packages/sage-react/lib/Table/Table.story.jsx
  packages/sage-react/lib/Textarea/Textarea.story.jsx
  packages/sage-react/lib/Toggle/Checkbox.story.jsx
  packages/sage-react/lib/Toggle/Radio.story.jsx
  packages/sage-react/lib/Toggle/Toggle.jsx
Labels: REACT :exclamation:, documentation

#357 Docs: sage react docs update
  docs/app/helpers/elements_helper.rb
  docs/app/helpers/objects_helper.rb
  packages/sage-react/lib/Card/Card.story.jsx
  packages/sage-react/lib/Card/CardNotes.story.mdx
  packages/sage-react/lib/CopyText/CopyText.story.jsx
  packages/sage-react/lib/Dropdown/Dropdown.story.jsx
  packages/sage-react/lib/Grid/Grid.story.jsx
  packages/sage-react/lib/Grid/GridNotes.story.mdx
  packages/sage-react/lib/Sortable/Sortable.story.jsx
  packages/sage-react/lib/Toggle/Switch.story.jsx
  packages/sage-react/lib/story-support/helpers.jsx
Labels: REACT :exclamation:, documentation

#365 Add Icon Card option to FeatureToggle
  docs/app/views/examples/elements/icon_card/_preview.html.erb
  docs/app/views/examples/elements/icon_card/_props.html.erb
  docs/app/views/examples/objects/feature_toggle/_preview.html.erb
  docs/app/views/examples/objects/feature_toggle/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_feature_toggle.rb
  docs/lib/sage_rails/app/sage_components/sage_icon_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_card.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_icon_card.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_feature_toggle.scss
Labels: enhancement

#366 Docs - fixed actions with each story
  docs/app/helpers/elements_helper.rb
  docs/app/helpers/objects_helper.rb
  packages/sage-react/lib/Alert/Alert.story.jsx
  packages/sage-react/lib/Avatar/Avatar.story.jsx
  packages/sage-react/lib/Avatar/index.js
  packages/sage-react/lib/AvatarGroup/AvatarGroup.jsx
  packages/sage-react/lib/AvatarGroup/AvatarGroup.story.jsx
  packages/sage-react/lib/AvatarGroup/configs.js
  packages/sage-react/lib/AvatarGroup/index.js
  packages/sage-react/lib/CopyButton/CopyButton.story.jsx
  packages/sage-react/lib/DataCard/DataCard.story.jsx
  packages/sage-react/lib/FormSection/FormSection.story.jsx
  packages/sage-react/lib/HelpLink/HelpLink.story.jsx
  packages/sage-react/lib/IconCard/IconCard.story.jsx
  packages/sage-react/lib/Link/Link.story.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-react/lib/Panel/Panel.story.jsx
  packages/sage-react/lib/PanelControls/PanelControls.story.jsx
  packages/sage-react/lib/Popover/Popover.story.jsx
  packages/sage-react/lib/Property/Property.story.jsx
  packages/sage-react/lib/Search/Search.story.jsx
  packages/sage-react/lib/Select/Select.story.jsx
  packages/sage-react/lib/Tabs/Tabs.story.jsx
  packages/sage-react/lib/Textarea/Textarea.story.jsx
  packages/sage-react/lib/Toggle/Checkbox.story.jsx
  packages/sage-react/lib/Toggle/Radio.story.jsx
  packages/sage-react/lib/Type/Type.story.jsx
  packages/sage-react/lib/index.js
Labels: REACT :exclamation:, documentation

#375 Property Element Icon Alignment
  packages/sage-assets/lib/stylesheets/patterns/elements/_property.scss
Labels: bug

#376 Table Overflow Gradient Adjustment
  packages/sage-assets/lib/stylesheets/patterns/elements/_table.scss
Labels: enhancement

#370 Modal transition & animation settings
  docs/app/views/examples/objects/modal/_preview.html.erb
  docs/app/views/examples/objects/modal/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_modal.scss
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-react/lib/Modal/configs.js
Labels: enhancement

#367 Panel Controls: Page size dropdown
  packages/sage-assets/lib/stylesheets/patterns/elements/_table.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_dropdown.scss
  packages/sage-react/lib/PanelControls/PanelControls.jsx
  packages/sage-react/lib/PanelControls/PanelControls.story.jsx
  packages/sage-react/lib/PanelControls/utils.js
  packages/sage-react/lib/configs/classnames/index.js
  packages/sage-react/lib/configs/classnames/type.js
Labels: enhancement

#369 Button group - add modifier for space-between
  docs/app/views/examples/elements/button/_preview.html.erb
  docs/app/views/examples/elements/button/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_button_group.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button_group.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_button.scss
  packages/sage-react/lib/Button/ButtonGroup.jsx
  packages/sage-react/lib/Button/ButtonGroup.story.jsx
  packages/sage-react/lib/Button/configs.js
Labels: RAILS :exclamation:, REACT :exclamation:, enhancement

#379 Dropdown Custom Content
  docs/app/views/examples/objects/dropdown/_preview.html.erb
  docs/app/views/examples/objects/dropdown/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_dropdown.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_button.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_dropdown.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_panel_controls.scss
  packages/sage-system/lib/dropdown.js
Labels: enhancement

#380 Panel Controls(Rails) - update pagination and bulk actions selection
  docs/Gemfile
  docs/Gemfile.lock
  docs/app/views/examples/objects/pagination/_props.html.erb
  docs/app/views/examples/objects/panel_controls/_preview.html.erb
  docs/app/views/examples/objects/panel_controls/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_pagination.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_controls.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_pagination.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_controls.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_checkbox.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_pagination.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_panel_controls.scss
Labels: RAILS :exclamation:

#385 Panel Controls - added affordance for tabs dropdown
  docs/app/views/examples/objects/panel_controls/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_panel_controls.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_controls.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_button.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_dropdown.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_panel_controls.scss
Labels: RAILS :exclamation:

#371 Rails components - verify existence of html_attributes
  docs/app/views/pages/sandbox.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_alert.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_assistant.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_banner.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_billboard.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_body.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_breadcrumbs.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_button_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_catalog_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_container.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_text.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_text_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_data_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_description.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_input.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_section.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_textarea.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_grid_col.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_grid_row.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_header.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_indicator.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_helper.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_label.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_label_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_loader.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_meter.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_nav.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_null_view.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_overlay.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_pagination.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_controls.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_popover.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_search.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sidebar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_stage.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_status_icon.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_switch.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs_pane.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tooltip.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_transaction_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_upload_card.html.erb
Labels: RAILS :exclamation:

#387 Pagination - updates to button styles conditional to affect all pages, not just the first page - sage bump followup
  docs/lib/sage_rails/app/views/sage_components/_sage_pagination.html.erb
Labels: RAILS :exclamation:

#389 Toggle updates
  docs/app/views/examples/elements/checkbox/_preview.html.erb
  docs/app/views/examples/elements/checkbox/_props.html.erb
  docs/app/views/examples/elements/radio/_preview.html.erb
  docs/app/views/examples/elements/radio/_props.html.erb
  docs/app/views/examples/objects/card/_preview.html.erb
  docs/app/views/examples/objects/panel/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_checkbox.rb
  docs/lib/sage_rails/app/sage_components/sage_radio.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_checkbox.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_radio.html.erb
  packages/sage-assets/lib/stylesheets/core/_variables.scss
  packages/sage-assets/lib/stylesheets/patterns/elements/_checkbox.scss
  packages/sage-assets/lib/stylesheets/patterns/elements/_radio.scss
  packages/sage-assets/lib/stylesheets/patterns/elements/_switch.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_card.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_panel.scss
  packages/sage-react/lib/configs/classnames/index.js
Labels: enhancement

#392 Pagination - updates styles when arrows present
  docs/app/views/examples/objects/pagination/_preview.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_pagination.scss
Labels: RAILS :exclamation:

#390 Modal - add header image to modalcontent
  docs/app/views/examples/objects/modal/_preview.html.erb
  docs/app/views/examples/objects/modal/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal_content.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_modal.scss
Labels: RAILS :exclamation:

#388 Rails Pane / Grid - add generated_css_classes to missing grid or panel components
  docs/lib/sage_rails/app/views/sage_components/_sage_grid_col.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_grid_row.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_divider.html.erb
Labels: RAILS :exclamation:

#395 Pagination Count Prefix & Suffix
  docs/app/views/examples/objects/pagination/_markup.html.erb
  docs/app/views/examples/objects/pagination/_props.html.erb
  docs/app/views/examples/objects/panel_controls/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_pagination.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_pagination.html.erb
  packages/sage-react/lib/Pagination/Pagination.jsx
Labels: enhancement
