Repository Kajabi/sage-lib, pull requests merged in 2021-06, with the labels that each got.

#548 Next version bump (~v4.2.0)
  docs/app/views/examples/components/copy_text/_preview.html.erb
  docs/app/views/examples/components/copy_text/_props.html.erb
  docs/config/webpack/development.js
  docs/lib/sage_rails/app/sage_components/sage_copy_button.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_button.html.erb
  docs/package.json
  package.json
  packages/sage-assets/lib/stylesheets/components/_copy_text.scss
  packages/sage-assets/lib/stylesheets/vendor/_parsley.scss
  packages/sage-react/lib/CopyButton/CopyButton.jsx
  packages/sage-system/lib/search.js
  yarn.lock
Labels: Version Bump

#552 Update state color settings
  docs/app/views/examples/components/transaction_card/_preview.html.erb
  docs/app/views/examples/components/transaction_card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_transaction_card.rb
  packages/sage-assets/lib/stylesheets/components/_transaction_card.scss
  packages/sage-react/lib/TransactionCard/TransactionCard.jsx
  packages/sage-react/lib/TransactionCard/TransactionCard.story.jsx
  packages/sage-react/lib/TransactionCard/configs.js
Labels: enhancement

#555 fix(modal js): prevent modal JS from erroring on close when `active: true` attribute set
  packages/sage-system/lib/modal.js
Labels: bug

#550 Sage 3 - align border radius to spec
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_label.scss
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/tokens/_border.scss
Labels: Sage 3: Tier 1

#553 Indicator - add prop to show text representation of the current page
  docs/app/views/examples/components/indicator/_preview.html.erb
  docs/app/views/examples/components/indicator/_props.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_indicator.rb
  docs/lib/sage_rails/app/sage_components/sage_modal_content.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_indicator.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  packages/sage-assets/lib/stylesheets/components/_indicator.scss
Labels: enhancement

#561 Next version bump (~v4.3.0)
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/hint/_preview.html.erb
  docs/app/views/examples/components/hint/_props.html.erb
  docs/app/views/examples/components/hint/_rules_do.html.erb
  docs/app/views/examples/components/hint/_rules_dont.html.erb
  docs/app/views/examples/components/indicator/_preview.html.erb
  docs/app/views/examples/components/indicator/_props.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_hint.rb
  docs/lib/sage_rails/app/sage_components/sage_indicator.rb
  docs/lib/sage_rails/app/sage_components/sage_modal_content.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_hint.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_indicator.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_hint.scss
  packages/sage-assets/lib/stylesheets/components/_indicator.scss
  packages/sage-assets/lib/stylesheets/components/_label.scss
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/tokens/_border.scss
  packages/sage-react/lib/Hint/Hint.jsx
  packages/sage-react/lib/Hint/Hint.spec.jsx
  packages/sage-react/lib/Hint/Hint.story.jsx
  packages/sage-react/lib/Hint/index.js
  packages/sage-react/lib/index.js
  packages/sage-system/lib/modal.js
  packages/sage-system/lib/tooltip.js
Labels: Version Bump

#565 temp: hide focus/blur listeners
  packages/sage-system/lib/tooltip.js
Labels: bug

#563 style(colors): updates the colors to sage 3 colors
  packages/sage-assets/lib/stylesheets/tokens/_color_palette.scss
Labels: Sage 3: Tier 1

#568 IconCard - add round property for circular border
  docs/app/views/examples/components/icon_card/_preview.html.erb
  docs/app/views/examples/components/icon_card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_icon_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_icon_card.scss
  packages/sage-react/lib/IconCard/IconCard.jsx
  packages/sage-react/lib/IconCard/IconCard.story.jsx
Labels: RAILS :exclamation:, REACT :exclamation:, enhancement

#571 [Sage-528] Sage 3 box-shadows
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/components/_tooltip.scss
  packages/sage-assets/lib/stylesheets/tokens/_shadow.scss
Labels: Sage 3: Tier 1

#578 Allow `type` attribute on Button component
  docs/app/views/examples/components/button/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
Labels: RAILS :exclamation:, bug

#566 Next version bump (~v4.4.0)
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_footer.html.erb
  docs/app/views/application/_home_code.html.erb
  docs/app/views/application/_home_developer.html.erb
  docs/app/views/application/_home_hero.html.erb
  docs/app/views/application/_home_sections.html.erb
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/container/_preview.html.erb
  docs/app/views/examples/components/container/_props.html.erb
  docs/app/views/examples/components/container/_rules_do.html.erb
  docs/app/views/examples/components/container/_rules_dont.html.erb
  docs/app/views/examples/components/icon_card/_preview.html.erb
  docs/app/views/examples/components/icon_card/_props.html.erb
  docs/app/views/layouts/application.html.erb
  docs/app/views/layouts/breakout.html.erb
  docs/app/views/layouts/home.html.erb
  docs/app/views/layouts/sandbox.html.erb
  docs/app/views/lockup/lockup/unlock.erb
  docs/app/views/pages/container.html.erb
  docs/app/views/pages/index.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_home.scss
  docs/lib/sage_rails/app/sage_components/sage_icon_card.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_container.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_catalog_item.scss
  packages/sage-assets/lib/stylesheets/components/_empty_state.scss
  packages/sage-assets/lib/stylesheets/components/_icon_card.scss
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/components/_switch.scss
  packages/sage-assets/lib/stylesheets/components/_tooltip.scss
  packages/sage-assets/lib/stylesheets/layout/_container.scss
  packages/sage-assets/lib/stylesheets/tokens/_color_palette.scss
  packages/sage-assets/lib/stylesheets/tokens/_container.scss
  packages/sage-assets/lib/stylesheets/tokens/_shadow.scss
  packages/sage-react/lib/Card/Card.story.jsx
  packages/sage-react/lib/DataCard/DataCard.story.jsx
  packages/sage-react/lib/Grid/Grid.jsx
  packages/sage-react/lib/Grid/Grid.story.jsx
  packages/sage-react/lib/Grid/configs.js
  packages/sage-react/lib/IconCard/IconCard.jsx
  packages/sage-react/lib/IconCard/IconCard.story.jsx
  packages/sage-react/lib/Loader/Loader.story.jsx
  packages/sage-react/lib/Panel/Panel.story.jsx
  packages/sage-react/lib/PanelControls/PanelControls.story.jsx
  packages/sage-react/lib/Sortable/Sortable.story.jsx
  packages/sage-react/lib/UploadCard/UploadCard.story.jsx
Labels: Version Bump

#583 [SAGE-581] added `content_for` sections to the properties view
  docs/app/views/examples/components/alert/_props.html.erb
  docs/app/views/examples/components/assistant/_props.html.erb
  docs/app/views/examples/components/catalog_item/_props.html.erb
  docs/app/views/examples/components/dropdown/_props.html.erb
  docs/app/views/examples/components/feature_toggle/_props.html.erb
  docs/app/views/examples/components/modal/_props.html.erb
  docs/app/views/examples/components/null_view/_props.html.erb
  docs/app/views/examples/components/page_heading/_props.html.erb
  docs/app/views/examples/components/panel_controls/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_page_heading.rb
Labels: documentation

#585 Next version bump (~v4.5.0)
  docs/app/views/examples/components/alert/_props.html.erb
  docs/app/views/examples/components/assistant/_props.html.erb
  docs/app/views/examples/components/catalog_item/_props.html.erb
  docs/app/views/examples/components/dropdown/_props.html.erb
  docs/app/views/examples/components/feature_toggle/_props.html.erb
  docs/app/views/examples/components/modal/_props.html.erb
  docs/app/views/examples/components/null_view/_props.html.erb
  docs/app/views/examples/components/page_heading/_props.html.erb
  docs/app/views/examples/components/panel_controls/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_page_heading.rb
  packages/sage-react/lib/Dropdown/Dropdown.jsx
  packages/sage-react/lib/Dropdown/Dropdown.story.jsx
  packages/sage-react/lib/Dropdown/stories/CustomPanelStory.jsx
Labels: Version Bump

#595 Next version bump (~v4.6.0)
  docs/app/views/examples/components/button/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_button.rb
  docs/lib/sage_rails/app/sage_components/sage_component.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_card_divider.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_chart_legend.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_checkbox.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_choice.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_container.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_section.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_textarea.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_indicator.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_controls.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_divider.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_radio.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sidebar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_switch.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tab.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_transaction_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_label.scss
  packages/sage-assets/lib/stylesheets/components/_page_heading.scss
  packages/sage-assets/lib/stylesheets/components/_transaction_card.scss
  packages/sage-react/lib/TransactionCard/TransactionCard.jsx
Labels: Version Bump
