Repository Kajabi/sage-lib, pull requests merged in 2021-01, with the labels that each got.

#149 Page heading help link icon href fix
  docs/lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
Labels: bug

#145 Hero - conditionally render aria attribute
  docs/app/views/examples/objects/hero/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
Labels: enhancement

#155 Adjustments to toast functionality
  docs/app/views/examples/elements/toast/_preview.html.erb
  docs/app/views/examples/elements/toast/_props.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_toast.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_toast.scss
  packages/sage-system/lib/index.js
  packages/sage-system/lib/init.js
  packages/sage-system/lib/toast.js
Labels: enhancement

#197 Feature Toggle - update conditional link attribute
  docs/app/views/examples/objects/feature_toggle/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
Labels: enhancement

#202 Feature Toggle - added flexibility to component title heading level
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/feature_toggle/_preview.html.erb
  docs/app/views/examples/objects/feature_toggle/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_feature_toggle.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
Labels: enhancement

#201 Feature Toggle - conditionally render aria attributes
  docs/lib/sage_rails/app/sage_components/sage_button.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
Labels: enhancement

#229 Modal - update docs - rails component
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/hero/_preview.html.erb
  docs/app/views/examples/objects/modal/_markup.html.erb
  docs/app/views/examples/objects/modal/_markup1.html.erb
  docs/app/views/examples/objects/modal/_preview.html.erb
  docs/app/views/examples/objects/modal/_props.html.erb
  docs/app/views/examples/objects/modal/_rules_do.html.erb
Labels: documentation

#230 Rails Tabs Spacer Support
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs.html.erb
Labels: enhancement

#220 Toast - update to announce to screen readers
  packages/sage-react/lib/Toast/Toast.jsx
  packages/sage-system/lib/toast.js
Labels: enhancement

#233 Billboard - updated docs and demo
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/billboard/_markup.html.erb
  docs/app/views/examples/objects/billboard/_preview.html.erb
  docs/app/views/examples/objects/billboard/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_billboard.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_billboard.html.erb
Labels: documentation

#244 Form Input - added rails component
  docs/app/helpers/elements_helper.rb
  docs/app/views/examples/elements/form_input/_preview.html.erb
  docs/app/views/examples/elements/form_input/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_input.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_input.html.erb
Labels: documentation, enhancement

#240 Expandable Card - added rails component
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/expandable_card/_preview.html.erb
  docs/app/views/examples/objects/expandable_card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_expandable_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
Labels: documentation, enhancement

#250 Meter - add rails component
  docs/app/helpers/elements_helper.rb
  docs/app/views/examples/elements/meter/_preview.html.erb
  docs/app/views/examples/elements/meter/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_meter.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_meter.html.erb
Labels: documentation, enhancement

#248 Form Textarea - added rails component
  docs/app/helpers/elements_helper.rb
  docs/app/views/examples/elements/form_textarea/_markup.html.erb
  docs/app/views/examples/elements/form_textarea/_preview.html.erb
  docs/app/views/examples/elements/form_textarea/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_textarea.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_textarea.html.erb
Labels: documentation, enhancement

#245 Form Select - added rails component and updated docs
  docs/app/helpers/elements_helper.rb
  docs/app/views/examples/elements/form_select/_markup.html.erb
  docs/app/views/examples/elements/form_select/_preview.html.erb
  docs/app/views/examples/elements/form_select/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_select.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
Labels: documentation, enhancement

#252 Input Helper - added rails component and updated docs
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/input_helper/_preview.html.erb
  docs/app/views/examples/objects/input_helper/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_input_helper.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_helper.html.erb
Labels: documentation, enhancement

#239 Data Card - added Rails component and conditional title tag
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/data_card/_markup.html.erb
  docs/app/views/examples/objects/data_card/_preview.html.erb
  docs/app/views/examples/objects/data_card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_data_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_data_card.html.erb
Labels: documentation, enhancement

#254 Patch card highlight
  packages/sage-assets/lib/stylesheets/patterns/elements/_card_highlight.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_card.scss
Labels: bug

#231 Nav and NavLink - updated rails docs
  docs/app/helpers/elements_helper.rb
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/elements/nav_link/_preview.html.erb
  docs/app/views/examples/elements/nav_link/_props.html.erb
  docs/app/views/examples/elements/nav_link/_rules_do.html.erb
  docs/app/views/examples/elements/nav_link/_rules_dont.html.erb
  docs/app/views/examples/objects/nav/_markup.html.erb
  docs/app/views/examples/objects/nav/_preview.html.erb
  docs/app/views/examples/objects/nav/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_nav.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_nav.html.erb
Labels: documentation

#247 Toast adjustments to fix bootstrap styling conflicts
  packages/sage-assets/lib/stylesheets/patterns/elements/_toast.scss
  packages/sage-system/lib/toast.js
Labels: bug

#258 Input affix render bug
  packages/sage-react/lib/Input/Input.jsx
  packages/sage-react/lib/Label/Label.jsx
  packages/sage-react/lib/Panel/Panel.story.jsx
Labels: bug

#262 Status Icon - add rails demo code and updated props
  docs/app/helpers/elements_helper.rb
  docs/app/views/examples/elements/status_icon/_preview.html.erb
  docs/app/views/examples/elements/status_icon/_props.html.erb
Labels: RAILS :heavy_check_mark:, documentation, enhancement

#255 Input Group added rails component
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/input_group/_markup.html.erb
  docs/app/views/examples/objects/input_group/_preview.html.erb
  docs/app/views/examples/objects/input_group/_props.html.erb
  docs/app/views/examples/objects/input_helper/_markup.html.erb
  docs/lib/sage_rails/app/sage_components/sage_input_group.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_group.html.erb
Labels: RAILS :heavy_check_mark:, documentation, enhancement

#257 Indicator - added rails component
  docs/app/helpers/elements_helper.rb
  docs/app/views/examples/elements/indicator/_markup.html.erb
  docs/app/views/examples/elements/indicator/_preview.html.erb
  docs/app/views/examples/elements/indicator/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_indicator.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_indicator.html.erb
Labels: RAILS :heavy_check_mark:, documentation, enhancement

#259 Link - add rails component and updated docs
  docs/app/helpers/elements_helper.rb
  docs/app/views/examples/elements/link/_markup.html.erb
  docs/app/views/examples/elements/link/_preview.html.erb
  docs/app/views/examples/elements/link/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_link.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
Labels: RAILS :heavy_check_mark:, documentation, enhancement
