Repository Kajabi/sage-lib, pull requests merged in 2021-09, with the labels that each got.

#749 Next version bump ~v4.13.0
  docs/app/controllers/pages_controller.rb
  docs/app/helpers/application_helper.rb
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_home_sections.html.erb
  docs/app/views/application/_nav.html.erb
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/application/_status_item.html.erb
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/app/views/examples/components/icon/_props.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/modal/_props.html.erb
  docs/app/views/examples/components/panel/_preview.html.erb
  docs/app/views/layouts/full_page.html.erb
  docs/app/views/pages/help.html.erb
  docs/app/views/pages/panels_cards.html.erb
  docs/app/views/pages/status.html.erb
  docs/app/views/pages/support.html.erb
  docs/app/views/pages/token.html.erb
  docs/config/routes.rb
  docs/lib/sage-frontend/stylesheets/docs/_status_key.scss
  docs/lib/sage-frontend/stylesheets/docs/_variables.scss
  docs/lib/sage_rails/app/sage_components/sage_icon.rb
  docs/lib/sage_rails/app/sage_components/sage_modal_content.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_header.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_subheader.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_header.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_subheader.html.erb
  packages/sage-assets/lib/stylesheets/components/_alert.scss
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/tokens/_line_height.scss
  packages/sage-assets/lib/stylesheets/tokens/_type_specs.scss
  packages/sage-react/lib/Icon/Icon.jsx
  packages/sage-react/lib/Icon/Icon.story.jsx
  packages/sage-react/lib/Icon/configs.js
  packages/sage-react/lib/MediaTile/MediaTile.jsx
  packages/sage-react/lib/MediaTile/MediaTile.spec.jsx
  packages/sage-react/lib/MediaTile/MediaTile.story.jsx
  packages/sage-react/lib/MediaTile/MediaTiles.jsx
  packages/sage-react/lib/MediaTile/MediaTiles.spec.jsx
  packages/sage-react/lib/MediaTile/MediaTiles.story.jsx
  packages/sage-react/lib/MediaTile/index.js
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-react/lib/Modal/ModalHeader.jsx
  packages/sage-react/lib/Panel/Panel.jsx
  packages/sage-react/lib/Panel/Panel.story.jsx
  packages/sage-react/lib/Panel/PanelFigure.jsx
  packages/sage-react/lib/Panel/PanelFigureNotes.story.mdx
  packages/sage-react/lib/Panel/PanelHeader.jsx
  packages/sage-react/lib/Panel/PanelSubheader.jsx
  packages/sage-react/lib/Panel/PanelSubtext.jsx
  packages/sage-react/lib/index.js
Labels: Version Bump

#769 fix(web-console update): update web-console to 3.0+ to fix error details
  docs/Gemfile
  docs/Gemfile.lock
Labels: bug

#763 [Sage-762] Fixes Icon page in Docs
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/app/views/examples/components/icon/_props.html.erb
Labels: bug

#764 [Sage-760]: Updates path issue to fix Container page
  docs/app/views/examples/components/container/_props.html.erb
Labels: bug

#770 Next version bump ~v4.14.0
  docs/Gemfile
  docs/Gemfile.lock
  docs/app/views/examples/components/container/_props.html.erb
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/app/views/examples/components/icon/_props.html.erb
  docs/app/views/examples/components/panel/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_panel_header.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_subheader.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_header.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_subheader.html.erb
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-react/lib/Panel/Panel.jsx
  packages/sage-react/lib/Panel/Panel.story.jsx
  packages/sage-react/lib/Panel/PanelHeader.jsx
  packages/sage-react/lib/Panel/PanelSubheader.jsx
  packages/sage-react/lib/Panel/PanelSubtext.jsx
Labels: Version Bump

#786 Next version bump v4.14.0
  docs/app/controllers/async_controller.rb
  docs/app/views/async/modal-demo-2.html.erb
  docs/app/views/async/modal-demo-3.html.erb
  docs/app/views/async/modal-demo.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/layouts/async.html.erb
  docs/config/routes.rb
  packages/sage-system/lib/modal.js
Labels: Version Bump

#787 Gracefully check for a trigger
  packages/sage-system/lib/modal.js
Labels: bug, Version Bump

#593 [Sage-496] Sage 3 - Input, Textarea, and Select
  docs/app/views/examples/components/form_input/_props.html.erb
  docs/app/views/examples/components/form_select/_props.html.erb
  docs/app/views/examples/components/popover/_preview.html.erb
  docs/app/views/lockup/lockup/unlock.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_input.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_textarea.html.erb
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/core/_variables.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/Input/Input.jsx
  packages/sage-system/lib/inputhelper.js
Labels: Sage 3: Tier 2

#641 [Sage-494] Sage 3 - Dropdowns and Menus
  docs/app/views/examples/components/dropdown/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_dropdown.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-react/lib/Dropdown/Dropdown.jsx
  packages/sage-react/lib/Dropdown/configs.js
Labels: Sage 3: Tier 2

#794 Sage3 Hero Updates
  docs/app/views/examples/components/hero/_preview.html.erb
  docs/app/views/examples/components/hero/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_hero.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  packages/sage-assets/lib/stylesheets/components/_hero.scss
Labels: enhancement

#757 [Sage-755] Include Figma embed within Docs
  docs/app/assets/images/logo-figma.svg
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/_component.html.erb
  docs/app/views/examples/shared/_figma_embed.html.erb
Labels: documentation

#784 [SAGE-759] expandable card active
  docs/app/views/examples/components/expandable_card/_preview.html.erb
  docs/app/views/examples/components/expandable_card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_expandable_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_expandable_card.scss
  packages/sage-react/lib/ExpandableCard/ExpandableCard.jsx
  packages/sage-react/lib/ExpandableCard/ExpandableCard.story.jsx
  packages/sage-system/lib/accordion-panel.js
Labels: improvement

#797 Next version bump v4.16.0
  docs/app/assets/images/logo-figma.svg
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/_component.html.erb
  docs/app/views/examples/components/expandable_card/_preview.html.erb
  docs/app/views/examples/components/expandable_card/_props.html.erb
  docs/app/views/examples/components/hero/_preview.html.erb
  docs/app/views/examples/components/hero/_props.html.erb
  docs/app/views/examples/components/panel/_preview.html.erb
  docs/app/views/examples/shared/_figma_embed.html.erb
  docs/lib/sage_rails/app/sage_components/sage_expandable_card.rb
  docs/lib/sage_rails/app/sage_components/sage_hero.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_header.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_subheader.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_header.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_subheader.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_search.html.erb
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_expandable_card.scss
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/components/_hero.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-assets/lib/stylesheets/components/_switch.scss
  packages/sage-assets/lib/stylesheets/core/_variables.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/vendor/_tinymcev4.scss
  packages/sage-react/lib/ExpandableCard/ExpandableCard.jsx
  packages/sage-react/lib/ExpandableCard/ExpandableCard.story.jsx
  packages/sage-react/lib/Panel/Panel.jsx
  packages/sage-react/lib/Panel/Panel.story.jsx
  packages/sage-react/lib/Panel/PanelHeader.jsx
  packages/sage-react/lib/Panel/PanelSubheader.jsx
  packages/sage-react/lib/Panel/PanelSubtext.jsx
  packages/sage-react/lib/Search/Search.jsx
  packages/sage-system/lib/accordion-panel.js
Labels: Version Bump

#805 Next version bump ~v4.17.0
  .github/workflows/update-release.yml
  docs/app/views/examples/components/form_select/_preview.html.erb
  docs/app/views/examples/components/icon_list/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_select.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_list.html.erb
  package.json
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_icon_list.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/Select/Select.jsx
  packages/sage-react/lib/Select/Select.story.jsx
Labels: Version Bump

#815 [Sage 814] Banner icon updates
  docs/app/views/examples/components/banner/_preview.html.erb
  docs/app/views/examples/components/banner/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_banner.rb
  packages/sage-assets/lib/stylesheets/components/_banner.scss
Labels: bug, documentation

#816 Remove `stash` and `stash pop` from `branches:update` script
  package.json
Labels: improvement

#829 [BUG] SageFormSelect Markup Fix
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
Labels: bug

#820 Next version bump ~4.18.0
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/banner/_preview.html.erb
  docs/app/views/examples/components/banner/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_banner.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
  package.json
  packages/sage-assets/lib/stylesheets/components/_banner.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/Input/Input.jsx
  packages/sage-react/lib/Input/Input.story.jsx
  packages/sage-system/lib/inputaffixes.js
Labels: Version Bump

#830 [Sage-825] Form Select Label Color Fix
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
Labels: bug

#833 [SAGE-832] expandable card rails js bug
  packages/sage-system/lib/accordion-panel.js
Labels: bug

#831 Next version bump ~4.18.0
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_tooltip.scss
  packages/sage-system/lib/accordion-panel.js
Labels: Version Bump

#575 [Sage-493] Sage 3 - Button Updates
  docs/app/views/application/_assistant.html.erb
  docs/app/views/application/_footer.html.erb
  docs/app/views/application/_home_hero.html.erb
  docs/app/views/application/_nav.html.erb
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/button/_props.html.erb
  docs/app/views/examples/components/dropdown/_preview.html.erb
  docs/app/views/examples/components/empty_state/_preview.html.erb
  docs/app/views/examples/components/null_view/_preview.html.erb
  docs/app/views/examples/components/page_heading/_preview.html.erb
  docs/app/views/examples/components/toast/_preview.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_home.scss
  docs/lib/sage_rails/app/sage_components/sage_button.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-react/lib/Button/Button.jsx
Labels: documentation, improvement, P2
