Repository Kajabi/sage-lib, pull requests merged in 2021-07, with the labels that each got.

#609 Button custom content additions
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/button/_props.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_example.scss
  docs/lib/sage_rails/app/sage_components/sage_button.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  packages/sage-react/lib/Button/Button.jsx
  packages/sage-react/lib/Button/Button.story.jsx
Labels: enhancement

#606 Add image prop to Avatar
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/app/views/examples/components/avatar/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_avatar.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  packages/sage-assets/lib/stylesheets/components/_avatar.scss
  packages/sage-react/lib/Avatar/Avatar.jsx
  packages/sage-react/lib/Avatar/Avatar.story.jsx
Labels: RAILS :exclamation:, REACT :exclamation:

#616 Docs: Sidebar updates
  docs/app/views/application/_sidebar.html.erb
  docs/lib/sage-frontend/javascript/docs/index.js
  docs/lib/sage-frontend/javascript/docs/scroll-to-active-nav-item.js
  docs/lib/sage-frontend/stylesheets/docs/_sidebar.scss
  packages/sage-assets/lib/stylesheets/components/_nav.scss
Labels: documentation

#619 Panel controls bulk actions alignment
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
Labels: bug

#615 Popover react positions and sync to 3.0
  docs/app/views/examples/components/popover/_preview.html.erb
  docs/app/views/examples/components/popover/_props.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_example.scss
  docs/lib/sage_rails/app/sage_components/sage_popover.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_popover.html.erb
  packages/sage-assets/lib/stylesheets/components/_popover.scss
  packages/sage-react/lib/Popover/Popover.jsx
  packages/sage-react/lib/Popover/Popover.story.jsx
  packages/sage-react/lib/Popover/configs.js
  packages/sage-system/lib/popover.js
Labels: enhancement

#624 Panel figure enhancements
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/panel/_preview.html.erb
  docs/app/views/examples/components/panel_figure/_preview.html.erb
  docs/app/views/examples/components/panel_figure/_props.html.erb
  docs/app/views/examples/components/panel_figure/_rules_do.html.erb
  docs/app/views/examples/components/panel_figure/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_components/sage_panel_figure.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_figure.html.erb
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/components/_panel_figure.scss
  packages/sage-assets/lib/stylesheets/index.scss
Labels: enhancement

#623 Passing down common props
  docs/lib/sage_rails/app/sage_components/sage_component.rb
Labels: enhancement

#613 [Sage-491] interaction pattern
  docs/app/views/examples/components/icon_card/_preview.html.erb
  docs/app/views/examples/components/link/_preview.html.erb
  docs/app/views/examples/components/sortable/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_alert.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_banner.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_catalog_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_stat_box.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_status_icon.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_transaction_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_alert.scss
  packages/sage-assets/lib/stylesheets/components/_banner.scss
  packages/sage-assets/lib/stylesheets/components/_breadcrumbs.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_catalog_item.scss
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_copy_text.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_expandable_card.scss
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/components/_hero.scss
  packages/sage-assets/lib/stylesheets/components/_label.scss
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_nav.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-assets/lib/stylesheets/components/_status_icon.scss
  packages/sage-assets/lib/stylesheets/components/_switch.scss
  packages/sage-assets/lib/stylesheets/components/_tab.scss
  packages/sage-assets/lib/stylesheets/components/_transaction_card.scss
  packages/sage-assets/lib/stylesheets/components/_typeahead.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/HelpLink/HelpLink.jsx
  packages/sage-react/lib/Link/Link.jsx
  packages/sage-react/lib/StatBox/StatBox.jsx
  packages/sage-react/lib/TransactionCard/TransactionCard.jsx
  packages/sage-react/lib/configs/classnames/links.js
Labels: Sage 3: Tier 1

#625 fix(panel figure): corrects an invalid calc default value
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/components/_panel_figure.scss
Labels: bug, priority

#627 Make link truncation optional
  docs/app/views/examples/components/link/_preview.html.erb
  docs/app/views/examples/components/sortable/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_link.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_catalog_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_transaction_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_transaction_card.scss
  packages/sage-react/lib/Link/Link.jsx
  packages/sage-react/lib/TransactionCard/TransactionCard.jsx
Labels: bug

#629 fix(link): adjust template logic for sagelink to correct spec failure
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
Labels: bug

#584 [SAGE-497] Label - align to spec
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_label.scss
Labels: Sage 3: Tier 2

#639 [Button] add spinner to loading state
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/button/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_button.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-react/lib/Toast/Toast.jsx
  packages/sage-system/lib/button-spinner.js
  packages/sage-system/lib/index.js
  packages/sage-system/lib/init.js
  packages/sage-system/lib/toast/toast.template.js
Labels: RAILS :exclamation:, REACT :exclamation:, enhancement

#637 Next version bump (~v4.9.0)
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/button/_props.html.erb
  docs/app/views/examples/components/media_tile/_preview.html.erb
  docs/app/views/examples/components/media_tile/_props.html.erb
  docs/app/views/examples/components/media_tile/_rules_do.html.erb
  docs/app/views/examples/components/media_tile/_rules_dont.html.erb
  docs/app/views/examples/components/panel_figure/_preview.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_example.scss
  docs/lib/sage_rails/app/sage_components/sage_button.rb
  docs/lib/sage_rails/app/sage_components/sage_dropdown.rb
  docs/lib/sage_rails/app/sage_components/sage_media_tile.rb
  docs/lib/sage_rails/app/sage_components/sage_media_tiles.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_figure.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_media_tile.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_media_tiles.html.erb
  packages/sage-assets/lib/fonts/sage/Sage.eot
  packages/sage-assets/lib/fonts/sage/Sage.svg
  packages/sage-assets/lib/fonts/sage/Sage.ttf
  packages/sage-assets/lib/fonts/sage/Sage.woff
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_label.scss
  packages/sage-assets/lib/stylesheets/components/_media_tile.scss
  packages/sage-assets/lib/stylesheets/components/_nav.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/components/_panel_figure.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/Toast/Toast.jsx
  packages/sage-react/lib/configs/tokens/icons.js
  packages/sage-system/lib/button-spinner.js
  packages/sage-system/lib/index.js
  packages/sage-system/lib/init.js
  packages/sage-system/lib/toast/toast.template.js
Labels: Version Bump

#649 Adjust spacer logic for `md` to check both string and symbol values
  docs/lib/sage_rails/app/sage_components/sage_component.rb
Labels: bug

#644 Icon rounded variation
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/app/views/examples/components/icon/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_icon.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon.html.erb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-react/lib/Icon/Icon.jsx
  packages/sage-react/lib/Icon/Icon.spec.jsx
  packages/sage-react/lib/Icon/Icon.story.jsx
  packages/sage-react/lib/Icon/configs.js
Labels: enhancement

#648 Expand where spacing is reset for form fields
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/components/_switch.scss
Labels: enhancement

#647 Centralize Tab and Choice schemas for more efficient use
  docs/app/views/examples/components/tabs/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_choice.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tab.rb
  docs/lib/sage_rails/app/sage_components/sage_tabs.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs.html.erb
Labels: enhancement

#650 Fix panel classes
  docs/lib/sage_rails/app/sage_components/sage_component.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_row.rb
Labels: bug

#652 Choice content custom class
  docs/app/views/examples/components/choice/_preview.html.erb
  docs/app/views/examples/components/choice/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_choice.html.erb
Labels: enhancement

#654 Repo issue template updates
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/improvement.md
  .github/ISSUE_TEMPLATE/issue.md
Labels: documentation

#657 Image tag conversion and image path updates
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/app/views/examples/components/billboard/_preview.html.erb
  docs/app/views/examples/components/catalog_item/_preview.html.erb
  docs/app/views/examples/components/description/_preview.html.erb
  docs/app/views/examples/components/feature_toggle/_preview.html.erb
  docs/app/views/examples/components/hero/_preview.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/page_heading/_preview.html.erb
  docs/app/views/examples/components/page_heading/_props.html.erb
  docs/app/views/examples/components/popover/_preview.html.erb
  docs/app/views/examples/components/sortable/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_catalog_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item.html.erb
Labels: RAILS :exclamation:, bug

#651 Next version bump (~4.10.0)
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/improvement.md
  .github/ISSUE_TEMPLATE/issue.md
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/app/views/examples/components/billboard/_preview.html.erb
  docs/app/views/examples/components/catalog_item/_preview.html.erb
  docs/app/views/examples/components/choice/_preview.html.erb
  docs/app/views/examples/components/choice/_props.html.erb
  docs/app/views/examples/components/description/_preview.html.erb
  docs/app/views/examples/components/feature_toggle/_preview.html.erb
  docs/app/views/examples/components/feature_toggle/_props.html.erb
  docs/app/views/examples/components/hero/_preview.html.erb
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/app/views/examples/components/icon/_props.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/page_heading/_preview.html.erb
  docs/app/views/examples/components/page_heading/_props.html.erb
  docs/app/views/examples/components/popover/_preview.html.erb
  docs/app/views/examples/components/sortable/_preview.html.erb
  docs/app/views/examples/components/tabs/_preview.html.erb
  docs/lib/sage_rails/app/helpers/sage_table_helper.rb
  docs/lib/sage_rails/app/sage_components/sage_choice.rb
  docs/lib/sage_rails/app/sage_components/sage_component.rb
  docs/lib/sage_rails/app/sage_components/sage_feature_toggle.rb
  docs/lib/sage_rails/app/sage_components/sage_icon.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_row.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tab.rb
  docs/lib/sage_rails/app/sage_components/sage_tabs.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_catalog_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_choice.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_feature_toggle.scss
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/components/_switch.scss
  packages/sage-react/lib/Icon/Icon.jsx
  packages/sage-react/lib/Icon/Icon.spec.jsx
  packages/sage-react/lib/Icon/Icon.story.jsx
  packages/sage-react/lib/Icon/configs.js
Labels: Version Bump

#663 Solve table paint flakiness in safari
  packages/sage-assets/lib/stylesheets/components/_table.scss
Labels: bug

#671 Dropdown border top and schema cleanup
  docs/app/views/examples/components/dropdown/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
Labels: bug
