Repository Kajabi/sage-lib, pull requests merged in 2021-04, with the labels that each got.

#399 fix(sagesearch): adds option to not execute search on clear
  docs/lib/sage_rails/app/sage_components/sage_search.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_search.html.erb
  packages/sage-system/lib/search.js
Labels: enhancement

#394 Jcm sage site updates
  docs/app/controllers/pages_controller.rb
  docs/app/views/application/_assistant.html.erb
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/layouts/application.html.erb
  docs/app/views/pages/design_principles.html.erb
  docs/app/views/pages/getting_started.html.erb
  docs/app/views/pages/index.html.erb
  docs/config/routes.rb
  docs/lib/sage-frontend/stylesheets/docs/_assistant.scss
  docs/lib/sage-frontend/stylesheets/docs/_heading.scss
  docs/lib/sage-frontend/stylesheets/docs/_panel.scss
  docs/lib/sage-frontend/stylesheets/docs/_sidebar.scss
  docs/lib/sage-frontend/stylesheets/docs/_theme.scss
  docs/lib/sage-frontend/stylesheets/docs/index.scss
Labels: documentation

#402 docs(readme): correct spelling errors in README.md
  README.md
Labels: documentation

#398 Adds remote_url option for modals
  docs/app/views/examples/objects/modal/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  packages/sage-system/lib/modal.js
Labels: enhancement

#396 Pagination - align to spec and add an alignment property
  docs/app/views/examples/objects/pagination/_markup.html.erb
  docs/app/views/examples/objects/pagination/_preview.html.erb
  docs/app/views/examples/objects/pagination/_props.html.erb
  docs/app/views/examples/objects/panel_controls/_preview.html.erb
  docs/app/views/kaminari/sage_theme/_first_page.html.erb
  docs/app/views/kaminari/sage_theme/_gap.html.erb
  docs/app/views/kaminari/sage_theme/_last_page.html.erb
  docs/app/views/kaminari/sage_theme/_next_page.html.erb
  docs/app/views/kaminari/sage_theme/_page.html.erb
  docs/app/views/kaminari/sage_theme/_paginator.html.erb
  docs/app/views/kaminari/sage_theme/_prev_page.html.erb
  docs/lib/sage_rails/app/sage_components/sage_pagination.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_pagination.html.erb
  packages/sage-assets/lib/stylesheets/core/_variables.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_pagination.scss
  packages/sage-react/lib/Pagination/Pagination.jsx
  packages/sage-react/lib/Pagination/PaginationItem.jsx
Labels: RAILS :exclamation:, REACT :exclamation:

#407 [TME-959] Fix data-kjb-disable-search placement
  docs/lib/sage_rails/app/sage_components/sage_search.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_search.html.erb
  packages/sage-system/lib/search.js
Labels: bug

#400 Sortable Item Custom - added new rails subcomponent
  docs/app/views/examples/objects/sortable/_preview.html.erb
  docs/app/views/examples/objects/sortable/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_sortable_item_custom.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item_custom.html.erb
  packages/sage-assets/lib/stylesheets/core/mixins/_utilities.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_card.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_sortable.scss
Labels: RAILS :exclamation:

#417 SageFormInput autocomplete prop fix
  docs/app/views/examples/elements/form_input/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_input.rb
Labels: RAILS :exclamation:, bug

#411 Page size updates in React Panel Controls
  packages/sage-react/lib/Dropdown/SelectDropdown.jsx
  packages/sage-react/lib/PanelControls/PanelControls.jsx
  packages/sage-react/lib/PanelControls/PanelControls.story.jsx
Labels: enhancement

#285 Webpack config changes for Sage CSS/Fonts
  docs/config/webpack/environment.js
  packages/sage-assets/lib/stylesheets/core/_fonts.scss
  packages/sage-assets/lib/stylesheets/core/_variables.scss
  packages/sage-assets/webpack/webpack.prod.js
Labels: enhancement

#408 Dropdown: custom content options
  docs/app/views/examples/objects/dropdown/_preview.html.erb
  docs/app/views/examples/objects/dropdown/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_dropdown.rb
  docs/lib/sage_rails/app/sage_components/sage_form_select.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_button.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_dropdown.scss
Labels: enhancement

#423 Ensure expandable card content is truly hidden by default
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
  packages/sage-react/lib/ExpandableCard/ExpandableCard.jsx
Labels: bug

#424 Panel controls: toggle default toolbar
  packages/sage-react/lib/PanelControls/PanelControls.jsx
  packages/sage-react/lib/PanelControls/PanelControls.story.jsx
Labels: enhancement

#430 Dropdown - resolve dropdown children flashing on close
  packages/sage-assets/lib/stylesheets/patterns/objects/_dropdown.scss
Labels: enhancement

#436 Revise Tokens in Docs and Rails library
  docs/app/helpers/application_helper.rb
  docs/app/views/application/_home_sections.html.erb
  docs/app/views/application/_nav.html.erb
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/pages/grid_templates.html.erb
  docs/app/views/pages/icon.html.erb
  docs/app/views/pages/spacing.html.erb
  docs/app/views/pages/token.html.erb
  docs/app/views/pages/typography.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_home.scss
  docs/lib/sage_rails/app/sage_components/sage_card_list_item.rb
  docs/lib/sage_rails/app/sage_components/sage_card_row.rb
  docs/lib/sage_rails/app/sage_components/sage_classnames.rb
  docs/lib/sage_rails/app/sage_components/sage_component.rb
  docs/lib/sage_rails/app/sage_components/sage_container.rb
  docs/lib/sage_rails/app/sage_components/sage_icon_card.rb
  docs/lib/sage_rails/app/sage_components/sage_pagination.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_controls.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_list_item.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_row.rb
  docs/lib/sage_rails/app/sage_components/sage_schema_helper.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
Labels: enhancement

#434 Rails Components generated_css_classes to all remaining components
  docs/lib/sage_rails/app/views/sage_components/_sage_alert.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_assistant.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_banner.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_billboard.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_body.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_breadcrumbs.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_card_divider.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_catalog_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_checkbox.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_choice.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_container.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_text.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_data_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_description.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_empty_state.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_input.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_section.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_textarea.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_header.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_indicator.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_helper.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_loader.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_meter.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_nav.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_null_view.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_overlay.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_controls.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_popover.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_progress_bar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_radio.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_search.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sidebar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sortable_item_custom.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_stage.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_status_icon.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_switch.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tab.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_table.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs_pane.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tooltip.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_transaction_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_upload_card.html.erb
Labels: RAILS :exclamation:, enhancement

#448 Rails components - added css_classes to all remaining rails components
  docs/lib/sage_rails/app/sage_components/sage_avatar.rb
  docs/lib/sage_rails/app/sage_components/sage_avatar_group.rb
  docs/lib/sage_rails/app/sage_components/sage_body.rb
  docs/lib/sage_rails/app/sage_components/sage_breadcrumbs.rb
  docs/lib/sage_rails/app/sage_components/sage_button.rb
  docs/lib/sage_rails/app/sage_components/sage_checkbox.rb
  docs/lib/sage_rails/app/sage_components/sage_component.rb
  docs/lib/sage_rails/app/sage_components/sage_data_card.rb
  docs/lib/sage_rails/app/sage_components/sage_dropdown.rb
  docs/lib/sage_rails/app/sage_components/sage_form_input.rb
  docs/lib/sage_rails/app/sage_components/sage_hero.rb
  docs/lib/sage_rails/app/sage_components/sage_icon.rb
  docs/lib/sage_rails/app/sage_components/sage_icon_card.rb
  docs/lib/sage_rails/app/sage_components/sage_label_group.rb
  docs/lib/sage_rails/app/sage_components/sage_label_secondary_button.rb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/sage_components/sage_radio.rb
  docs/lib/sage_rails/app/sage_components/sage_switch.rb
  docs/lib/sage_rails/app/sage_components/sage_tabs.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_body.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_breadcrumbs.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_checkbox.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_label_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_radio.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_switch.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs.html.erb
Labels: enhancement

#429 React unit testing
  .gitignore
  package.json
  packages/sage-react/README.md
  packages/sage-react/jest.config.js
  packages/sage-react/lib/Alert/Alert.spec.jsx
  packages/sage-react/lib/Avatar/Avatar.spec.jsx
  packages/sage-react/lib/Avatar/AvatarGroup.jsx
  packages/sage-react/lib/AvatarGroup/AvatarGroup.jsx
  packages/sage-react/lib/AvatarGroup/AvatarGroup.spec.jsx
  packages/sage-react/lib/Breadcrumbs/Breadcrumbs.spec.jsx
  packages/sage-react/lib/Button/Button.spec.jsx
  packages/sage-react/lib/Button/ButtonGroup.spec.jsx
  packages/sage-react/lib/Card/Card.spec.jsx
  packages/sage-react/lib/CopyButton/CopyButton.spec.jsx
  packages/sage-react/lib/CopyText/CopyText.spec.jsx
  packages/sage-react/lib/DataCard/DataCard.spec.jsx
  packages/sage-react/lib/Dropdown/Dropdown.spec.jsx
  packages/sage-react/lib/EmptyState/EmptyState.spec.jsx
  packages/sage-react/lib/ExpandableCard/ExpandableCard.spec.jsx
  packages/sage-react/lib/FormSection/FormSection.spec.jsx
  packages/sage-react/lib/Grid/Grid.spec.jsx
  packages/sage-react/lib/HelpLink/HelpLink.spec.jsx
  packages/sage-react/lib/Icon/Icon.spec.jsx
  packages/sage-react/lib/IconCard/IconCard.spec.jsx
  packages/sage-react/lib/IconList/IconList.spec.jsx
  packages/sage-react/lib/Input/Input.spec.jsx
  packages/sage-react/lib/Label/Label.spec.jsx
  packages/sage-react/lib/Link/Link.spec.jsx
  packages/sage-react/lib/Loader/Loader.spec.jsx
  packages/sage-react/lib/Modal/Modal.spec.jsx
  packages/sage-react/lib/PageHeading/PageHeading.spec.jsx
  packages/sage-react/lib/Pagination/Pagination.spec.jsx
  packages/sage-react/lib/Panel/Panel.spec.jsx
  packages/sage-react/lib/PanelControls/PanelControls.spec.jsx
  packages/sage-react/lib/Popover/Popover.spec.jsx
  packages/sage-react/lib/Property/Property.spec.jsx
  packages/sage-react/lib/Search/Search.spec.jsx
  packages/sage-react/lib/Select/Select.spec.jsx
  packages/sage-react/lib/Sortable/Sortable.spec.jsx
  packages/sage-react/lib/Tabs/Tabs.spec.jsx
  packages/sage-react/lib/Textarea/Textarea.spec.jsx
  packages/sage-react/lib/Toast/Toast.spec.jsx
  packages/sage-react/lib/Toggle/Toggle.spec.jsx
  packages/sage-react/lib/Tooltip/Tooltip.spec.jsx
  packages/sage-react/lib/TransactionCard/TransactionCard.spec.jsx
  packages/sage-react/lib/Type/Type.spec.jsx
  packages/sage-react/lib/Typeahead/Typeahead.spec.jsx
  packages/sage-react/lib/UploadCard/UploadCard.spec.jsx
  packages/sage-react/package.json
  yarn.lock
Labels: enhancement

#455 Patch item count logic with page size in Panel Controls
  packages/sage-react/lib/PanelControls/PanelControls.jsx
  packages/sage-react/lib/PanelControls/PanelControlsBulkActions.jsx
Labels: bug
