Repository Kajabi/sage-lib, pull requests merged in 2021-02, with the labels that each got.

#273 Dropdown - conditionally render button in dropdown item
  docs/app/views/examples/objects/dropdown/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
Labels: enhancement

#282 Sage Feature Toggle - Add `links` prop with optional arguments
  docs/app/views/examples/objects/feature_toggle/_preview.html.erb
  docs/app/views/examples/objects/feature_toggle/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_feature_toggle.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_feature_toggle.scss
Labels: enhancement

#281 Feature Toggle - conditional image and cta
  docs/app/views/examples/objects/feature_toggle/_preview.html.erb
  docs/app/views/examples/objects/feature_toggle/_props.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_feature_toggle.scss
Labels: enhancement

#284 Dropdown - trigger label will contain recently selected option text onload
  docs/app/views/examples/objects/dropdown/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_dropdown.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  packages/sage-system/lib/dropdown.js
Labels: enhancement

#286 Transaction Card
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/transaction_card/_preview.html.erb
  docs/app/views/examples/objects/transaction_card/_props.html.erb
  docs/app/views/examples/objects/transaction_card/_rules_do.html.erb
  docs/app/views/examples/objects/transaction_card/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_components/sage_transaction_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_transaction_card.html.erb
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/patterns/objects/_transaction_card.scss
  packages/sage-react/lib/TransactionCard/TransactionCard.jsx
  packages/sage-react/lib/TransactionCard/TransactionCard.story.jsx
  packages/sage-react/lib/TransactionCard/configs.js
  packages/sage-react/lib/TransactionCard/index.js
  packages/sage-react/lib/index.js
Labels: RAILS :exclamation:, REACT :exclamation:

#294 BUILD-730 - form element error states with parsley
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/vendor/_parsley.scss
Labels: enhancement

#305 Feature Toggle - image sizing to not stretch
  packages/sage-assets/lib/stylesheets/patterns/objects/_feature_toggle.scss
Labels: bug

#297 [MAN-1065] Expandable Card Component Updates
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/expandable_card/_preview.html.erb
  docs/app/views/examples/objects/expandable_card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_expandable_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_expandable_card.scss
  packages/sage-react/lib/ExpandableCard/ExpandableCard.jsx
  packages/sage-react/lib/ExpandableCard/ExpandableCard.story.jsx
  packages/sage-react/lib/ExpandableCard/index.js
  packages/sage-react/lib/index.js
Labels: RAILS :exclamation:, REACT :exclamation:, enhancement

#310 accordian-panel.js clean up/keyboard support updates.
  packages/sage-assets/lib/stylesheets/patterns/objects/_expandable_card.scss
  packages/sage-system/lib/accordion-panel.js
Labels: RAILS :exclamation:, bug

#311 Assistant Documentation Updates
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/assistant/_markup.html.erb
  docs/app/views/examples/objects/assistant/_preview.html.erb
  docs/app/views/examples/objects/assistant/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_assistant.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_assistant.html.erb
Labels: documentation

#313 Icon List Documentation Updates
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/icon_list/_preview.html.erb
  docs/app/views/examples/objects/icon_list/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_icon_list.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_icon_list.html.erb
Labels: documentation

#314 Sidebar Documentation Updates
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/sidebar/_markup.html.erb
  docs/app/views/examples/objects/sidebar/_preview.html.erb
  docs/app/views/examples/objects/sidebar/_props.html.erb
  docs/app/views/examples/objects/sidebar/_rules_do.html.erb
  docs/lib/sage_rails/app/sage_components/sage_sidebar.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_sidebar.html.erb
Labels: documentation

#316 Upload Card Documentation Updates
  docs/app/helpers/objects_helper.rb
  docs/app/views/examples/objects/upload_card/_markup.html.erb
  docs/app/views/examples/objects/upload_card/_preview.html.erb
  docs/app/views/examples/objects/upload_card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_upload_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_upload_card.html.erb
Labels: documentation

#317 Lists Documentation Updates
  docs/app/helpers/elements_helper.rb
  docs/app/views/examples/elements/lists/_preview.html.erb
  docs/app/views/examples/elements/lists/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_lists.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_lists.html.erb
Labels: documentation

#324 Fix assistant image path
  docs/app/views/examples/objects/assistant/_preview.html.erb
  docs/app/views/examples/objects/assistant/_props.html.erb
  docs/app/views/layouts/application.html.erb
  docs/lib/sage_rails/app/sage_components/sage_assistant.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_assistant.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_sidebar.html.erb
Labels: bug

#327 Switch - add border and focus styles to parent of switch element
  docs/app/views/examples/elements/choice/_rules_dont.html.erb
  docs/app/views/examples/elements/radio/_preview.html.erb
  docs/app/views/examples/elements/radio/_props.html.erb
  docs/app/views/examples/elements/switch/_preview.html.erb
  docs/app/views/examples/elements/switch/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_radio.rb
  docs/lib/sage_rails/app/sage_components/sage_switch.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_radio.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_switch.html.erb
  packages/sage-assets/lib/stylesheets/patterns/elements/_radio.scss
  packages/sage-assets/lib/stylesheets/patterns/elements/_switch.scss
Labels: enhancement

#331 Dropdown escape hook
  packages/sage-react/lib/Dropdown/Dropdown.jsx
  packages/sage-react/lib/Dropdown/OptionsDropdown.jsx
  packages/sage-react/lib/Dropdown/SelectDropdown.jsx
Labels: enhancement

#330 Rails Docs - updates to props
  docs/app/views/examples/elements/breadcrumbs/_props.html.erb
  docs/app/views/examples/elements/button/_props.html.erb
  docs/app/views/examples/elements/checkbox/_preview.html.erb
  docs/app/views/examples/elements/checkbox/_props.html.erb
  docs/app/views/examples/elements/choice/_props.html.erb
  docs/app/views/examples/elements/copy_text/_props.html.erb
  docs/app/views/examples/elements/description/_props.html.erb
  docs/app/views/examples/elements/icon_card/_props.html.erb
  docs/app/views/examples/elements/label/_props.html.erb
  docs/app/views/examples/elements/radio/_props.html.erb
  docs/app/views/examples/elements/search/_props.html.erb
  docs/app/views/examples/elements/status_icon/_props.html.erb
  docs/app/views/examples/elements/tab/_props.html.erb
  docs/app/views/examples/elements/table/_props.html.erb
  docs/app/views/examples/elements/toast/_props.html.erb
  docs/app/views/examples/objects/alert/_props.html.erb
  docs/app/views/examples/objects/banner/_props.html.erb
  docs/app/views/examples/objects/catalog_item/_props.html.erb
  docs/app/views/examples/objects/dropdown/_props.html.erb
  docs/app/views/examples/objects/expandable_card/_props.html.erb
  docs/app/views/examples/objects/feature_toggle/_props.html.erb
  docs/app/views/examples/objects/form_section/_props.html.erb
  docs/app/views/examples/objects/hero/_props.html.erb
  docs/app/views/examples/objects/input_group/_props.html.erb
  docs/app/views/examples/objects/input_helper/_props.html.erb
  docs/app/views/examples/objects/null_view/_props.html.erb
  docs/app/views/examples/objects/page_heading/_props.html.erb
  docs/app/views/examples/objects/panel_controls/_props.html.erb
  docs/app/views/examples/objects/popover/_props.html.erb
  docs/app/views/examples/objects/tabs/_props.html.erb
  docs/app/views/examples/objects/transaction_card/_props.html.erb
  docs/app/views/examples/objects/upload_card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_assistant.rb
  docs/lib/sage_rails/app/sage_components/sage_banner.rb
  docs/lib/sage_rails/app/sage_components/sage_billboard.rb
  docs/lib/sage_rails/app/sage_components/sage_description.rb
  docs/lib/sage_rails/app/sage_components/sage_dropdown.rb
  docs/lib/sage_rails/app/sage_components/sage_empty_state.rb
  docs/lib/sage_rails/app/sage_components/sage_expandable_card.rb
  docs/lib/sage_rails/app/sage_components/sage_icon_card.rb
  docs/lib/sage_rails/app/sage_components/sage_input_helper.rb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/sage_components/sage_modal_content.rb
  docs/lib/sage_rails/app/sage_components/sage_nav_link.rb
  docs/lib/sage_rails/app/sage_components/sage_null_view.rb
  docs/lib/sage_rails/app/sage_components/sage_page_heading.rb
  docs/lib/sage_rails/app/sage_components/sage_panel.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_controls.rb
  docs/lib/sage_rails/app/sage_components/sage_search.rb
  docs/lib/sage_rails/app/sage_components/sage_status_icon.rb
  docs/lib/sage_rails/app/sage_components/sage_tabs.rb
  docs/lib/sage_rails/app/sage_components/sage_tabs_pane.rb
  docs/lib/sage_rails/app/sage_components/sage_transaction_card.rb
  docs/lib/sage_rails/app/sage_components/sage_typeahead.rb
  docs/lib/sage_rails/app/sage_components/sage_upload_card.rb
Labels: documentation

#337 Adjust upload card for links in error message
  packages/sage-assets/lib/stylesheets/patterns/objects/_upload_card.scss
  packages/sage-react/lib/UploadCard/UploadCard.jsx
Labels: enhancement

#341 Radio & Switch - added z-index
  packages/sage-assets/lib/stylesheets/patterns/elements/_radio.scss
  packages/sage-assets/lib/stylesheets/patterns/elements/_switch.scss
Labels: bug

#334 Add Tooltip Support for Disabled Dropdown Items & Links Component
  docs/app/views/examples/elements/link/_preview.html.erb
  docs/app/views/examples/elements/link/_props.html.erb
  docs/app/views/examples/objects/dropdown/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_link.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
  packages/sage-assets/lib/stylesheets/patterns/objects/_dropdown.scss
  packages/sage-react/lib/Dropdown/DropdownItem.jsx
  packages/sage-react/lib/Dropdown/stories/story-helper.jsx
  packages/sage-react/lib/Link/Link.jsx
  packages/sage-react/lib/Link/Link.story.jsx
  packages/sage-system/lib/dropdown.js
Labels: RAILS :exclamation:, REACT :exclamation:, enhancement
