Repository Kajabi/sage-lib, pull requests merged in 2021-12, with the labels that each got.

#1058 [Modal] add background color fullscreen modal header
  packages/sage-assets/lib/stylesheets/components/_modal.scss
Labels: improvement

#1056 Next version bump ~v4.28.7
  .github/workflows/release-deploy.yml
  .github/workflows/update-release.yml
  docs/app/helpers/mocks/new_plans_upgrade_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/examples/components/toast/_preview.html.erb
  docs/app/views/examples/components/toast/_props.html.erb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/mocks/new_plans_upgrade/_feature_usage_display.html.erb
  docs/app/views/mocks/new_plans_upgrade/_main.html.erb
  docs/app/views/mocks/new_plans_upgrade/_plan_tiers.html.erb
  docs/app/views/mocks/new_plans_upgrade/_plan_upgrade_panel.html.erb
  docs/app/views/mocks/new_plans_upgrade/_upgrade_modal.html.erb
  docs/app/views/mocks/new_plans_upgrade/_usage_alert.html.erb
  docs/lib/sage-frontend/stylesheets/docs/mocks/_index.scss
  docs/lib/sage-frontend/stylesheets/docs/mocks/_new_plans_upgrade.scss
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-system/lib/toast/toast.config.js
  packages/sage-system/lib/toast/toast.js
  packages/sage-system/lib/toast/toast.template.js
Labels: Version Bump

#1060 docs(readme): update to trigger main deploy
  README.md
Labels: documentation

#1061 fix(workflow token): revert token switch from PR #1055
  .github/workflows/release-deploy.yml
  .github/workflows/update-release.yml
Labels: bug

#1063 [Sage-196] Input Helper - Deprecation
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_scripts.html.erb
  docs/app/views/examples/components/input_group/_preview.html.erb
  docs/app/views/examples/components/input_group/_props.html.erb
  docs/app/views/examples/components/input_helper/_preview.html.erb
  docs/app/views/examples/components/input_helper/_props.html.erb
  docs/app/views/examples/components/input_helper/_rules_do.html.erb
  docs/app/views/examples/components/input_helper/_rules_dont.html.erb
  docs/lib/sage-frontend/javascript/docs/index.js
  docs/lib/sage-frontend/javascript/docs/inputhelper.js
  docs/lib/sage_rails/app/sage_components/sage_input_group.rb
  docs/lib/sage_rails/app/sage_components/sage_input_helper.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_helper.html.erb
  packages/sage-assets/lib/stylesheets/components/_input_helper.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-system/lib/index.js
  packages/sage-system/lib/init.js
  packages/sage-system/lib/inputhelper.js
  packages/sage-system/package.json
Labels: deprecation

#1065 [Pagination] add window property with description to docs
  docs/app/views/examples/components/pagination/_props.html.erb
Labels: documentation

#1037 [Sage-885] Description - Design Spec Updates
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/description/_preview.html.erb
  docs/app/views/examples/components/description/_props.html.erb
  docs/app/views/examples/components/description/_rules_do.html.erb
  docs/lib/sage_rails/app/sage_components/sage_description.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_description.html.erb
  packages/sage-assets/lib/stylesheets/components/_description.scss
  packages/sage-react/lib/Description/Description.jsx
  packages/sage-react/lib/Description/Description.story.jsx
  packages/sage-react/lib/Description/configs.js
Labels: enhancement

#1073 Next version bump ~v4.31.0
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_scripts.html.erb
  docs/app/views/examples/components/description/_preview.html.erb
  docs/app/views/examples/components/description/_props.html.erb
  docs/app/views/examples/components/description/_rules_do.html.erb
  docs/app/views/examples/components/input_group/_preview.html.erb
  docs/app/views/examples/components/input_group/_props.html.erb
  docs/app/views/examples/components/input_helper/_preview.html.erb
  docs/app/views/examples/components/input_helper/_props.html.erb
  docs/app/views/examples/components/input_helper/_rules_do.html.erb
  docs/app/views/examples/components/input_helper/_rules_dont.html.erb
  docs/app/views/examples/components/pagination/_props.html.erb
  docs/lib/sage-frontend/javascript/docs/index.js
  docs/lib/sage-frontend/javascript/docs/inputhelper.js
  docs/lib/sage_rails/app/sage_components/sage_description.rb
  docs/lib/sage_rails/app/sage_components/sage_input_group.rb
  docs/lib/sage_rails/app/sage_components/sage_input_helper.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_description.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_input_helper.html.erb
  packages/sage-assets/lib/stylesheets/components/_description.scss
  packages/sage-assets/lib/stylesheets/components/_input_helper.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-react/lib/Description/Description.jsx
  packages/sage-react/lib/Description/Description.story.jsx
  packages/sage-react/lib/Description/configs.js
  packages/sage-system/lib/index.js
  packages/sage-system/lib/init.js
  packages/sage-system/lib/inputhelper.js
  packages/sage-system/package.json
Labels: Version Bump

#1078 Next version bump ~v4.31.0
  docs/app/helpers/mocks_helper.rb
  docs/app/views/application/_assistant.html.erb
  docs/app/views/application/_footer.html.erb
  docs/app/views/application/_home_hero.html.erb
  docs/app/views/examples/components/_component.html.erb
  docs/app/views/examples/components/_component_preview.html.erb
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/dynamic_select/_preview.html.erb
  docs/app/views/examples/components/feature_toggle/_preview.html.erb
  docs/app/views/examples/components/form_input/_props.html.erb
  docs/app/views/examples/components/switch/_props.html.erb
  docs/app/views/mocks/_heading.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_feature_toggle.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_popover.html.erb
  packages/sage-react/lib/HelpLink/HelpLink.story.jsx
  packages/sage-react/lib/Link/Link.story.jsx
  packages/sage-react/lib/MediaTile/MediaTile.story.jsx
  packages/sage-react/lib/MediaTile/MediaTiles.story.jsx
  packages/sage-react/lib/PageHeading/PageHeading.story.jsx
  packages/sage-react/lib/Popover/Popover.jsx
  packages/sage-react/lib/Type/Type.story.jsx
  packages/sage-react/lib/Typeahead/Typeahead.story.jsx
Labels: Version Bump

#1081 Next Version Bump: ~one-off for Contact Profile
  docs/app/helpers/mocks/contact_profile_helper.rb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/mocks/contact_profile/_main.html.erb
  docs/lib/sage_rails/app/sage_components/sage_drawer.rb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_drawer.html.erb
  packages/sage-assets/lib/stylesheets/components/_avatar.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-react/lib/Drawer/Drawer.jsx
  packages/sage-react/lib/mocks/contact-profile/ContactProfile.story.jsx
  packages/sage-react/lib/mocks/contact-profile/components/Data.jsx
  packages/sage-react/lib/mocks/contact-profile/components/Header.jsx
  packages/sage-react/lib/mocks/contact-profile/components/Profile.jsx
  packages/sage-react/lib/mocks/contact-profile/components/index.js
  packages/sage-react/lib/mocks/contact-profile/dataHelper.jsx
Labels: Version Bump

#1082 Panel divider patch
  packages/sage-assets/lib/stylesheets/components/_panel.scss
Labels: Version Bump

#1070 [SAGE-1069] Statbox add optional icon
  docs/app/views/examples/components/stat_box/_preview.html.erb
  docs/app/views/examples/components/stat_box/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_stat_box.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_stat_box.html.erb
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-react/lib/StatBox/StatBox.jsx
  packages/sage-react/lib/StatBox/StatBox.story.jsx
Labels: improvement

#1085 Next version bump ~v4.32.0
  docs/app/views/examples/components/progress_bar/_preview.html.erb
  docs/app/views/examples/components/progress_bar/_props.html.erb
  docs/app/views/examples/components/stat_box/_preview.html.erb
  docs/app/views/examples/components/stat_box/_props.html.erb
  docs/app/views/pages/_color_values.html.erb
  docs/app/views/pages/color.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_colors.scss
  docs/lib/sage_rails/app/sage_components/sage_progress_bar.rb
  docs/lib/sage_rails/app/sage_components/sage_stat_box.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_progress_bar.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_stat_box.html.erb
  lerna.json
  packages/sage-assets/lib/stylesheets/components/_progress_bar.scss
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-assets/lib/stylesheets/tokens/_z_index.scss
  packages/sage-react/lib/StatBox/StatBox.jsx
  packages/sage-react/lib/StatBox/StatBox.story.jsx
  packages/sage-react/lib/configs/tokens/index.js
  packages/sage-react/lib/configs/tokens/z-indexes.js
  packages/sage-system/lib/alert.js
  packages/sage-system/lib/init.js
Labels: Version Bump

#1103 docs(readme): quick readme grammar update
  README.md
Labels: documentation

#1108 [Sage-1107] Stat Box - Fixes Default Props
  packages/sage-react/lib/StatBox/StatBox.jsx
  packages/sage-react/lib/StatBox/StatBox.story.jsx
Labels: bug, P2

#1106 [Sage-618] Panel Controls - Spacing Overlap Bug
  packages/sage-assets/lib/stylesheets/components/_panel_controls.scss
Labels: bug, responsive, P4

#1110 [SAGE-1109] SageAvatar ID on image_tag
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  packages/sage-react/lib/Avatar/Avatar.jsx
  packages/sage-react/lib/Avatar/Avatar.story.jsx
Labels: improvement, P2

#1112 Next version bump ~v4.33.0
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  packages/sage-assets/lib/stylesheets/components/_panel_controls.scss
  packages/sage-react/lib/Avatar/Avatar.jsx
  packages/sage-react/lib/Avatar/Avatar.story.jsx
  packages/sage-react/lib/StatBox/StatBox.jsx
  packages/sage-react/lib/StatBox/StatBox.story.jsx
Labels: Version Bump

#1116 [Sage-674] Form Section - Subtitle Refactor
  docs/app/views/examples/components/form_section/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_section.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_section.html.erb
  packages/sage-react/lib/FormSection/FormSection.jsx
Labels: improvement

#1118 Next version bump ~v4.33.0
  docs/app/views/examples/components/form_section/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_section.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_section.html.erb
  packages/sage-react/lib/FormSection/FormSection.jsx
Labels: Version Bump

#1122 Adjust form section subtitle for a temporary stop-gap
  docs/app/views/examples/components/form_section/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_section.html.erb
  packages/sage-assets/lib/stylesheets/components/_form_section.scss
Labels: bug
