Repository Kajabi/sage-lib, pull requests merged in 2022-02, with the labels that each got.

#1191 Next version bump v4.43.0
  docs/app/views/examples/components/dropdown/_preview.html.erb
  docs/app/views/examples/components/dropdown/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_dropdown.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
Labels: Version Bump

#1193 Storybook a11y addon
  packages/sage-react/.storybook/main.js
  packages/sage-react/lib/Alert/Alert.story.jsx
  packages/sage-react/package.json
  yarn.lock
Labels: enhancement

#1196 Next version bump v4.44.0
  docs/lib/sage_rails/app/sage_components/sage_dropdown.rb
  docs/lib/sage_rails/app/sage_components/sage_page_heading.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-react/.storybook/main.js
  packages/sage-react/lib/Alert/Alert.story.jsx
  packages/sage-react/package.json
  yarn.lock
Labels: Version Bump

#1199 fix(build): remove parallel in yarn build
  package.json
Labels: bug

#1197 [Sage-195] tabs darker background
  docs/app/views/examples/components/tabs/_preview.html.erb
  docs/app/views/examples/components/tabs/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_tabs.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs.html.erb
  packages/sage-assets/lib/stylesheets/components/_tab.scss
  packages/sage-assets/lib/stylesheets/components/_tabs.scss
  packages/sage-react/lib/Tabs/Tabs.jsx
  packages/sage-react/lib/Tabs/Tabs.story.jsx
Labels: enhancement

#1201 Next version bump v4.44.0
  docs/app/views/examples/components/tabs/_preview.html.erb
  docs/app/views/examples/components/tabs/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_tabs.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs.html.erb
  packages/sage-assets/lib/stylesheets/components/_tab.scss
  packages/sage-assets/lib/stylesheets/components/_tabs.scss
  packages/sage-react/lib/Tabs/Tabs.jsx
  packages/sage-react/lib/Tabs/Tabs.story.jsx
Labels: Version Bump

#1200 [SAGE-180] Table Settings Modal
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/customize_columns/_main.html.erb
Labels: Mock

#1210 Version bump ~v4.45.0
  docs/lib/sage-frontend/stylesheets/docs/_home.scss
  packages/sage-assets/lib/stylesheets/components/_dynamic_select.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/core/_typography.scss
  packages/sage-assets/lib/stylesheets/core/functions/_utilities.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/vendor/_reboot.scss
Labels: Version Bump

#1216 Next version bump ~4.45.0
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/examples/components/dot/_preview.html.erb
  docs/app/views/examples/components/dot/_props.html.erb
  docs/app/views/examples/components/dot/_rules_do.html.erb
  docs/app/views/examples/components/dot/_rules_dont.html.erb
  docs/app/views/pages/sandbox.html.erb
  docs/app/views/pages/truncation.html.erb
  docs/lib/sage_rails/app/sage_components/sage_dot.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_row.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dot.html.erb
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_dot.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/core/_typography.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-react/lib/Dot/Dot.jsx
  packages/sage-react/lib/Dot/Dot.spec.jsx
  packages/sage-react/lib/Dot/Dot.story.jsx
  packages/sage-react/lib/Dot/configs.js
  packages/sage-react/lib/Dot/index.js
  packages/sage-react/lib/index.js
Labels: Version Bump

#1212 [Sage-216] Radio, Checkbox - Foundations Update
  docs/app/views/examples/components/checkbox/_props.html.erb
  docs/app/views/examples/components/radio/_preview.html.erb
  docs/app/views/examples/components/radio/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_radio.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_radio.html.erb
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/core/_variables.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/Toggle/Radio.story.jsx
Labels: improvement

#1225 Truncation: resolve typo
  packages/sage-assets/lib/stylesheets/core/_typography.scss
Labels: improvement, EPIC

#1204 [SAGE-203] Button update
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/dropdown/_preview.html.erb
  docs/app/views/examples/components/panel_controls/_preview.html.erb
  docs/app/views/examples/components/toolbar/_preview.html.erb
  docs/app/views/mocks/contact_profile/_main.html.erb
  docs/app/views/mocks/new_plans_upgrade/_plan_upgrade_panel.html.erb
  docs/app/views/mocks/new_plans_upgrade/_upgrade_modal.html.erb
  docs/app/views/mocks/payments_index/_comparison_selections_bar.html.erb
  docs/app/views/mocks/payments_index/_payment_cards.html.erb
  docs/app/views/mocks/upsell_downsell/_main.html.erb
  docs/lib/sage_rails/app/sage_components/sage_button.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_alert.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_controls.html.erb
  packages/sage-assets/lib/stylesheets/components/_alert.scss
  packages/sage-assets/lib/stylesheets/components/_banner.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/Alert/Alert.story.jsx
  packages/sage-react/lib/Button/Button.jsx
  packages/sage-react/lib/Button/Button.story.jsx
  packages/sage-react/lib/Button/configs.js
  packages/sage-react/lib/Dropdown/DropdownTrigger.jsx
  packages/sage-react/lib/Dropdown/DropdownTriggerDefault.jsx
  packages/sage-react/lib/Dropdown/DropdownTriggerSelect.jsx
  packages/sage-react/lib/PanelControls/PanelControlsPagination.jsx
  packages/sage-react/lib/Toast/Toast.jsx
  packages/sage-react/lib/Toolbar/Toolbar.story.jsx
  packages/sage-react/lib/mocks/contact-profile/components/Profile.jsx
  packages/sage-system/lib/toast/toast.template.js
Labels: improvement

#1206 [Sage-210] Form Textarea - Foundations Update
  docs/app/views/examples/components/form_textarea/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_textarea.html.erb
  packages/sage-assets/lib/stylesheets/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/tokens/_border.scss
  packages/sage-react/lib/Textarea/Textarea.jsx
Labels: improvement

#1232 Sage bump patch: Fix button type formatting
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown_item.html.erb
Labels: bug
