Repository Kajabi/sage-lib, pull requests merged in 2022-06, with the labels that each got.

#1443 [SAGE-644] Link - update font-weight to semibold
  packages/sage-assets/lib/stylesheets/themes/next/components/_link.scss
Labels: improvement

#1431 [SAGE-563] Button - Within grid button full-width by default
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
Labels: bug

#1445 [SAGE-335] Select - remove inverted icon functionality
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_form_select.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_select.scss
  packages/sage-system/lib/select.js
Labels: improvement

#1441 Next version bump
  docs/app/views/examples/components/themes/legacy/card/_props.html.erb
  docs/app/views/examples/components/themes/legacy/list/_props.html.erb
  docs/app/views/examples/components/themes/legacy/panel/_props.html.erb
  docs/app/views/examples/components/themes/next/card/_props.html.erb
  docs/app/views/examples/components/themes/next/list/_props.html.erb
  docs/app/views/examples/components/themes/next/panel/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_card_list.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_list.rb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_card_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_panel_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_card_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_panel_list.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_card.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_catalog_item.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_list.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_panel.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_card.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_catalog_item.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_link.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_list.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_modal.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_nav.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_panel.scss
  packages/sage-react/lib/themes/legacy/Card/CardList.jsx
  packages/sage-react/lib/themes/legacy/List/List.jsx
  packages/sage-react/lib/themes/legacy/Panel/PanelList.jsx
  packages/sage-react/lib/themes/next/Card/CardList.jsx
  packages/sage-react/lib/themes/next/List/List.jsx
  packages/sage-react/lib/themes/next/Panel/PanelList.jsx
  packages/sage-system/lib/select.js
Labels: Version Bump

#1455 [QINBOX-403] Empty State - page variation button alignment
  docs/app/views/examples/components/themes/next/empty_state/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_empty_state.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-react/lib/themes/legacy/EmptyState/EmptyState.story.jsx
  packages/sage-react/lib/themes/next/EmptyState/EmptyState.story.jsx
Labels: improvement

#1459 Tabs: Fix console error for spacing settings
  packages/sage-react/lib/themes/legacy/Tabs/Tabs.jsx
  packages/sage-react/lib/themes/next/Tabs/Tabs.jsx
Labels: bug

#1454 Next Version Bump
  docs/app/views/examples/components/themes/legacy/alert/_preview.html.erb
  docs/app/views/examples/components/themes/legacy/alert/_props.html.erb
  docs/app/views/examples/components/themes/legacy/hero/_preview.html.erb
  docs/app/views/examples/components/themes/legacy/hero/_props.html.erb
  docs/app/views/examples/components/themes/legacy/tabs/_props.html.erb
  docs/app/views/examples/components/themes/next/alert/_preview.html.erb
  docs/app/views/examples/components/themes/next/alert/_props.html.erb
  docs/app/views/examples/components/themes/next/hero/_preview.html.erb
  docs/app/views/examples/components/themes/next/hero/_props.html.erb
  docs/app/views/examples/components/themes/next/tabs/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_tabs.rb
  docs/lib/sage_rails/app/sage_layouts/sage_layout.rb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_alert.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_hero.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_tabs.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_alert.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_hero.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_tabs.html.erb
  docs/lib/sage_rails/app/views/sage_layouts/_sage_frame.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_choice.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_hero.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_page_heading.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_tab.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_tabs.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/layout/_frame.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_choice.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_hero.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_page_heading.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_tab.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_tabs.scss
  packages/sage-assets/lib/stylesheets/themes/next/layout/_frame.scss
  packages/sage-react/lib/themes/legacy/Alert/Alert.jsx
  packages/sage-react/lib/themes/legacy/Alert/Alert.spec.jsx
  packages/sage-react/lib/themes/legacy/Alert/Alert.story.jsx
  packages/sage-react/lib/themes/legacy/Frame/Frame.jsx
  packages/sage-react/lib/themes/legacy/Frame/configs.js
  packages/sage-react/lib/themes/legacy/Hero/Hero.jsx
  packages/sage-react/lib/themes/legacy/PageHeading/PageHeading.jsx
  packages/sage-react/lib/themes/legacy/Tabs/Tabs.jsx
  packages/sage-react/lib/themes/legacy/Tabs/configs.js
  packages/sage-react/lib/themes/next/Alert/Alert.jsx
  packages/sage-react/lib/themes/next/Alert/Alert.spec.jsx
  packages/sage-react/lib/themes/next/Alert/Alert.story.jsx
  packages/sage-react/lib/themes/next/Frame/Frame.jsx
  packages/sage-react/lib/themes/next/Frame/configs.js
  packages/sage-react/lib/themes/next/Hero/Hero.jsx
  packages/sage-react/lib/themes/next/PageHeading/PageHeading.jsx
  packages/sage-react/lib/themes/next/Tabs/Tabs.jsx
  packages/sage-react/lib/themes/next/Tabs/configs.js
  packages/sage-system/lib/alert.js
  packages/sage-system/lib/init.js
Labels: Version Bump

#1452 Responsiveness Column in Status
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_status_item.html.erb
  docs/app/views/pages/status.html.erb
Labels: documentation

#1447 [Sage-527] Topbar Component
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/themes/next/topbar/_preview.html.erb
  docs/app/views/examples/components/themes/next/topbar/_props.html.erb
  docs/app/views/examples/components/themes/next/topbar/_rules_do.html.erb
  docs/app/views/examples/components/themes/next/topbar/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_components/sage_topbar.rb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_topbar.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_index.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_topbar.scss
  packages/sage-react/lib/themes/next/Topbar/Topbar.jsx
  packages/sage-react/lib/themes/next/Topbar/Topbar.spec.jsx
  packages/sage-react/lib/themes/next/Topbar/Topbar.story.jsx
  packages/sage-react/lib/themes/next/Topbar/configs.js
  packages/sage-react/lib/themes/next/Topbar/index.js
Labels: enhancement

#1450 [SAGE-518] Modal - add class to body to remove background scrolling when modal is open
  packages/sage-assets/lib/stylesheets/themes/legacy/layout/_page.scss
  packages/sage-assets/lib/stylesheets/themes/next/layout/_page.scss
  packages/sage-react/lib/themes/legacy/Modal/Modal.jsx
  packages/sage-react/lib/themes/next/Modal/Modal.jsx
  packages/sage-system/lib/modal.js
Labels: improvement

#1468 Topbar - Adds Missing Comma
  docs/app/helpers/components_helper.rb
Labels: bug

#1442 [SAGE-641] Headings - update color value
  packages/sage-assets/lib/stylesheets/themes/next/global/_reboot.scss
Labels: improvement

#1462 Icon - Adds generic class
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_icon.html.erb
  packages/sage-react/lib/themes/next/Icon/Icon.jsx
Labels: Component

#1467 Next Version Bump
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_status_item.html.erb
  docs/app/views/examples/components/themes/next/topbar/_preview.html.erb
  docs/app/views/examples/components/themes/next/topbar/_props.html.erb
  docs/app/views/examples/components/themes/next/topbar/_rules_do.html.erb
  docs/app/views/examples/components/themes/next/topbar/_rules_dont.html.erb
  docs/app/views/pages/status.html.erb
  docs/lib/sage_rails/app/sage_components/sage_topbar.rb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_icon.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_topbar.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/layout/_page.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_index.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_topbar.scss
  packages/sage-assets/lib/stylesheets/themes/next/global/_reboot.scss
  packages/sage-assets/lib/stylesheets/themes/next/layout/_page.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_border.scss
  packages/sage-react/lib/themes/legacy/Modal/Modal.jsx
  packages/sage-react/lib/themes/next/Icon/Icon.jsx
  packages/sage-react/lib/themes/next/Modal/Modal.jsx
  packages/sage-react/lib/themes/next/Topbar/Topbar.jsx
  packages/sage-react/lib/themes/next/Topbar/Topbar.spec.jsx
  packages/sage-react/lib/themes/next/Topbar/Topbar.story.jsx
  packages/sage-react/lib/themes/next/Topbar/configs.js
  packages/sage-react/lib/themes/next/Topbar/index.js
  packages/sage-system/lib/modal.js
Labels: Version Bump

#1474 [SAGE-668] Docs Site Bug - Hero Heading Color (Next)
  docs/lib/sage-frontend/stylesheets/docs/themes/next/_home.scss
Labels: bug, documentation

#1473 [SAGE-681] - Sass: Limit Badge and Label status keys to avoid color combo errors
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_label.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_badge.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_label.scss
Labels: bug

#1479 fix: change get started button back to accent in next
  docs/app/views/application/_home_hero.html.erb
Labels: documentation, a11y

#1475 Next Version Bump
  docs/app/views/application/_home_hero.html.erb
  docs/app/views/examples/components/themes/legacy/dynamic_select/_props.html.erb
  docs/app/views/examples/components/themes/next/dynamic_select/_props.html.erb
  docs/app/views/examples/components/themes/next/table/_preview.html.erb
  docs/app/views/examples/components/themes/next/table/_props.html.erb
  docs/lib/sage-frontend/stylesheets/docs/themes/next/_home.scss
  docs/lib/sage_rails/app/helpers/sage_table_helper.rb
  docs/lib/sage_rails/app/sage_components/sage_table.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_dynamic_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_dynamic_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_table.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_label.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_badge.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_label.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_table.scss
  packages/sage-react/lib/themes/legacy/Frame/Frame.jsx
  packages/sage-react/lib/themes/legacy/Select/Select.jsx
  packages/sage-react/lib/themes/next/Frame/Frame.jsx
  packages/sage-react/lib/themes/next/Select/Select.jsx
  packages/sage-react/lib/themes/next/Table/Table.jsx
  packages/sage-react/lib/themes/next/Table/TableRow.jsx
Labels: Version Bump

#1471 [SAGE-685] Foundations: add tokens and vars for additional border states
  docs/lib/sage-frontend/stylesheets/docs/themes/next/_token.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_border.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_border_interactive.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_index.scss
Labels: improvement

#1492 Badge - Font Weight Update
  packages/sage-assets/lib/stylesheets/themes/next/components/_badge.scss
Labels: bug
