Repository Kajabi/sage-lib, pull requests merged in 2022-10, with the labels that each got.

#1608 [DSS-83] Remove vocabulary page
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/pages/vocabulary.html.erb
Labels: documentation

#1609 [DSS-87] Remove content strategy page
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/pages/content.html.erb
Labels: documentation

#1610 Radio - Bordered Variant (React)
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-react/lib/Toggle/Radio.story.jsx
  packages/sage-react/lib/Toggle/Toggle.jsx
Labels: bug

#1612 [DSS-183]: Storybook Components Not Displaying Code Examples
  packages/sage-react/lib/FormSection/FormSection.story.jsx
  packages/sage-react/lib/IconCard/IconCard.story.jsx
  packages/sage-react/lib/Loader/Loader.story.jsx
  packages/sage-react/lib/Popover/Popover.story.jsx
  packages/sage-react/lib/Select/Select.story.jsx
  packages/sage-react/lib/Table/Table.story.jsx
  packages/sage-react/lib/Tooltip/Tooltip.story.jsx
  packages/sage-react/lib/Topbar/Topbar.story.jsx
  packages/sage-react/lib/Type/Type.story.jsx
  packages/sage-react/lib/UploadCard/UploadCard.story.jsx
Labels: bug, improvement

#1606 Next Version Bump
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_ga_tracking.html.erb
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/examples/components/tag/_preview.html.erb
  docs/app/views/examples/components/tag/_props.html.erb
  docs/app/views/layouts/application.html.erb
  docs/app/views/layouts/breakout.html.erb
  docs/app/views/layouts/full_page.html.erb
  docs/app/views/layouts/home.html.erb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/layouts/sandbox.html.erb
  docs/app/views/pages/content.html.erb
  docs/app/views/pages/vocabulary.html.erb
  docs/lib/sage_rails/app/sage_components/sage_tag.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_tag.html.erb
  docs/package.json
  packages/sage-assets/lib/stylesheets/components/_property.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/components/_tag.scss
  packages/sage-assets/package.json
  packages/sage-assets/sassdoc-config.yaml
  packages/sage-react/.storybook/main.js
  packages/sage-react/.storybook/manager.js
  packages/sage-react/lib/FormSection/FormSection.story.jsx
  packages/sage-react/lib/IconCard/IconCard.story.jsx
  packages/sage-react/lib/Loader/Loader.story.jsx
  packages/sage-react/lib/Popover/Popover.story.jsx
  packages/sage-react/lib/Select/Select.story.jsx
  packages/sage-react/lib/Table/Table.story.jsx
  packages/sage-react/lib/Tag/Tag.jsx
  packages/sage-react/lib/Toggle/Radio.story.jsx
  packages/sage-react/lib/Toggle/Toggle.jsx
  packages/sage-react/lib/Tooltip/Tooltip.story.jsx
  packages/sage-react/lib/Topbar/Topbar.story.jsx
  packages/sage-react/lib/Type/Type.story.jsx
  packages/sage-react/lib/UploadCard/UploadCard.story.jsx
  yarn.lock
Labels: Version Bump

#1605 [DSS-157] Avatar - Custom Icon and Color
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/app/views/examples/components/avatar/_props.html.erb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_avatar.html.erb
  packages/sage-assets/lib/stylesheets/components/_avatar.scss
  packages/sage-react/lib/Avatar/Avatar.jsx
  packages/sage-react/lib/Avatar/Avatar.spec.jsx
  packages/sage-react/lib/Avatar/Avatar.story.jsx
Labels: improvement

#1623 [DSS-197]: Update Figma Embeds to Latest Library
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/_component.html.erb
Labels: documentation, improvement

#1624 [DSS-198] Update GA Scripts to Google Tag Manager
  docs/app/views/application/_ga_tracking.html.erb
  docs/app/views/application/_gtm_tracking.html.erb
  docs/app/views/application/_gtm_tracking_body.html.erb
  docs/app/views/layouts/application.html.erb
  docs/app/views/layouts/breakout.html.erb
  docs/app/views/layouts/full_page.html.erb
  docs/app/views/layouts/home.html.erb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/layouts/sandbox.html.erb
Labels: documentation, improvement

#1625 [DSS-200]: Docs site `<head>` refactor
  docs/app/views/application/_app_head_content.html.erb
  docs/app/views/application/_gtm_tracking.html.erb
  docs/app/views/application/_meta.html.erb
  docs/app/views/application/_styles.html.erb
  docs/app/views/layouts/application.html.erb
  docs/app/views/layouts/breakout.html.erb
  docs/app/views/layouts/full_page.html.erb
  docs/app/views/layouts/home.html.erb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/layouts/sandbox.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_assistant.html.erb
Labels: documentation, improvement

#1627 Next Version Bump
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_app_head_content.html.erb
  docs/app/views/application/_gtm_tracking.html.erb
  docs/app/views/application/_meta.html.erb
  docs/app/views/application/_styles.html.erb
  docs/app/views/examples/components/accordion/_preview.html.erb
  docs/app/views/examples/components/accordion/_props.html.erb
  docs/app/views/examples/components/accordion/_rules_do.html.erb
  docs/app/views/examples/components/accordion/_rules_dont.html.erb
  docs/app/views/layouts/application.html.erb
  docs/app/views/layouts/breakout.html.erb
  docs/app/views/layouts/full_page.html.erb
  docs/app/views/layouts/home.html.erb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/layouts/sandbox.html.erb
  docs/app/views/pages/icon.html.erb
  docs/lib/sage_rails/app/sage_components/sage_accordion.rb
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_accordion.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_assistant.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_expandable_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_expandable_card.scss
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/Accordion/Accordion.jsx
  packages/sage-react/lib/Accordion/Accordion.story.jsx
  packages/sage-react/lib/Accordion/index.js
  packages/sage-react/lib/ExpandableCard/ExpandableCard.jsx
  packages/sage-react/lib/ExpandableCard/ExpandableCard.spec.jsx
  packages/sage-react/lib/configs/tokens/icons.js
  packages/sage-react/lib/index.js
  packages/sage-system/lib/accordion-panel.js
Labels: Version Bump
