Repository Kajabi/sage-lib, pull requests merged in 2022-03, with the labels that each got.

#1233 [SAGE-217] switch foundations update
  packages/sage-assets/lib/stylesheets/components/_switch.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: improvement

#1237 Get started dashboard
  docs/app/helpers/mocks/get_started_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/get_started/_dashboard_module.html.erb
  docs/app/views/mocks/get_started/_main.html.erb
  docs/app/views/mocks/get_started/_sidebar_module.html.erb
  packages/sage-react/lib/mocks/get-started/GetStarted.story.jsx
  packages/sage-react/lib/mocks/get-started/components/DashboardPanel.jsx
  packages/sage-react/lib/mocks/get-started/components/DashboardTabPane.jsx
  packages/sage-react/lib/mocks/get-started/components/SidebarModule.jsx
  packages/sage-react/lib/mocks/get-started/components/index.js
  packages/sage-react/lib/mocks/get-started/content.jsx
Labels: Mock

#1234 Add product creation wizard course mocks
  docs/app/helpers/mocks_helper.rb
  packages/sage-react/lib/mocks/product-creation-wizard/ProductCreationWizard.story.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/PaidPricingOptions.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/PricingOptionsDropdown.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/ProductChoice.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/ProductChoiceDetails.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/ProductColorPickerCard.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/Root.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/index.js
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/Main.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/CoachingAppearance.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/CoachingBooking.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/CoachingCalendlyDropdown.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/CoachingDetails.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/CoachingPricing.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/index.js
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/course/CourseAppearance.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/course/CourseDetails.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/course/CoursePricing.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/course/index.js
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/index.js
  packages/sage-react/lib/mocks/product-creation-wizard/content/index.js
  packages/sage-react/lib/mocks/product-creation-wizard/content/product-choices.js
Labels: Mock

#1245 SAGE-302 - Restore Creation Wizard mocks
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/product-creation-wizard/ProductCreationWizard.story.jsx.jsx
  docs/app/views/mocks/product-creation-wizard/components/PaidPricingOptions.jsx
  docs/app/views/mocks/product-creation-wizard/components/PricingOptionsDropdown.jsx.jsx
  docs/app/views/mocks/product-creation-wizard/components/ProductChoice.jsx
  docs/app/views/mocks/product-creation-wizard/components/ProductChoiceDetails.jsx
  docs/app/views/mocks/product-creation-wizard/components/ProductColorPickerCard.jsx
  docs/app/views/mocks/product-creation-wizard/components/Root.jsx
  docs/app/views/mocks/product-creation-wizard/components/index.js
  docs/app/views/mocks/product-creation-wizard/components/panels/Main.jsx
  docs/app/views/mocks/product-creation-wizard/components/panels/coaching/CoachingAppearance.jsx.jsx
  docs/app/views/mocks/product-creation-wizard/components/panels/coaching/CoachingBooking.jsx
  docs/app/views/mocks/product-creation-wizard/components/panels/coaching/CoachingCalendlyDropdown.jsx
  docs/app/views/mocks/product-creation-wizard/components/panels/coaching/CoachingDetails.jsx
  docs/app/views/mocks/product-creation-wizard/components/panels/coaching/CoachingPricing.jsx
  docs/app/views/mocks/product-creation-wizard/components/panels/coaching/index.js
  docs/app/views/mocks/product-creation-wizard/components/panels/course/CourseAppearance.jsx
  docs/app/views/mocks/product-creation-wizard/components/panels/course/CourseDetails.jsx
  docs/app/views/mocks/product-creation-wizard/components/panels/course/CoursePricing.jsx
  docs/app/views/mocks/product-creation-wizard/components/panels/course/index.js
  docs/app/views/mocks/product-creation-wizard/components/panels/index.js
  docs/app/views/mocks/product-creation-wizard/content/index.js
  docs/app/views/mocks/product-creation-wizard/content/product-choices.js
Labels: Mock

#1239 [Sage-227] Tooltip - Foundations Update
  docs/app/views/examples/components/tooltip/_preview.html.erb
  docs/app/views/examples/components/tooltip/_props.html.erb
  packages/sage-assets/lib/stylesheets/components/_tooltip.scss
Labels: improvement

#1236 [SAGE-257]: Breadcrumbs - Foundations Update
  docs/app/views/examples/components/breadcrumbs/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_breadcrumbs.scss
Labels: improvement

#1230 [SAGE-285] Updated Icon Set
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: improvement

#1207 [Sage-212] Form Select - Foundations Update
  docs/app/views/examples/components/form_select/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_select.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/Select/Select.jsx
Labels: improvement

#1247 Next version bump (~v4.47)
  catalog-info.yaml
  docs/app/views/mocks/payments_index/_banner.html.erb
  docs/app/views/mocks/payments_index/_comparison_selections_bar.html.erb
  docs/app/views/mocks/payments_index/_main.html.erb
  docs/app/views/mocks/payments_index/_payment_cards.html.erb
  docs/catalog-info.yaml
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  packages/sage-assets/catalog-info.yaml
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-packs/catalog-info.yaml
  packages/sage-react/catalog-info.yaml
  packages/sage-react/lib/configs/tokens/icons.js
  packages/sage-system/catalog-info.yaml
Labels: Version Bump

#1252 [SAGE-338] Updated Icon Set (4 New)
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: improvement

#1254 Next version bump (~v4.48)
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: Version Bump

#1260 [SAGE-345] add progress bar to react
  packages/sage-react/lib/ProgressBar/ProgressBar.jsx
  packages/sage-react/lib/ProgressBar/ProgressBar.spec.jsx
  packages/sage-react/lib/ProgressBar/ProgressBar.story.jsx
  packages/sage-react/lib/ProgressBar/index.js
Labels: improvement

#1256 [SAGE-344] choice tabs custom class
  docs/app/views/examples/components/tabs/_preview.html.erb
  packages/sage-react/lib/Choice/Choice.story.jsx
  packages/sage-react/lib/Tabs/Tabs.jsx
  packages/sage-react/lib/Tabs/Tabs.story.jsx
  packages/sage-react/lib/Tabs/TabsItem.jsx
  packages/sage-react/lib/Tabs/configs.js
Labels: improvement

#1262 Next version bump (~v4.51)
  docs/app/views/examples/components/tabs/_preview.html.erb
  packages/sage-react/lib/Choice/Choice.story.jsx
  packages/sage-react/lib/Grid/configs.js
  packages/sage-react/lib/ProgressBar/ProgressBar.jsx
  packages/sage-react/lib/ProgressBar/ProgressBar.spec.jsx
  packages/sage-react/lib/ProgressBar/ProgressBar.story.jsx
  packages/sage-react/lib/ProgressBar/index.js
  packages/sage-react/lib/Tabs/Tabs.jsx
  packages/sage-react/lib/Tabs/Tabs.story.jsx
  packages/sage-react/lib/Tabs/TabsItem.jsx
  packages/sage-react/lib/Tabs/configs.js
  packages/sage-react/lib/mocks/product-creation-wizard/components/Root.jsx
Labels: Version Bump

#1240 [SAGE-318] Subtle button updates foundations
  packages/sage-assets/lib/stylesheets/components/_alert.scss
  packages/sage-assets/lib/stylesheets/components/_banner.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: enhancement

#1266 [SAGE-354] Grid - allow multiple breakpoints per component call (Rails)
  docs/app/views/pages/grid.html.erb
  docs/lib/sage_rails/app/sage_components/sage_grid_col.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_grid_col.html.erb
Labels: improvement

#1259 [SAGE-328] add progress bar to header
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/modal/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal_content.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_progress_bar.html.erb
  packages/sage-assets/lib/stylesheets/components/_progress_bar.scss
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-react/lib/Modal/ModalHeader.jsx
  packages/sage-react/lib/ProgressBar/ProgressBar.jsx
Labels: improvement

#1264 [SAGE-351] Grid - add generic col class when no size is specified
  docs/lib/sage_rails/app/views/sage_components/_sage_grid_col.html.erb
  packages/sage-assets/lib/stylesheets/layout/_grid.scss
  packages/sage-react/lib/Grid/GridCol.jsx
Labels: improvement

#1267 Next version bump (~v4.51.0)
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/modal/_props.html.erb
  docs/app/views/pages/grid.html.erb
  docs/lib/sage_rails/app/sage_components/sage_grid_col.rb
  docs/lib/sage_rails/app/sage_components/sage_modal_content.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_grid_col.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_progress_bar.html.erb
  packages/sage-assets/lib/stylesheets/components/_progress_bar.scss
  packages/sage-assets/lib/stylesheets/layout/_grid.scss
  packages/sage-react/lib/Grid/GridCol.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-react/lib/Modal/ModalHeader.jsx
  packages/sage-react/lib/ProgressBar/ProgressBar.jsx
Labels: Version Bump

#1269 Contact profile mocks, pt 1
  docs/app/helpers/mocks_helper.rb
  packages/sage-react/lib/mocks/contact-profile-full/ContactProfileFull.story.jsx
  packages/sage-react/lib/mocks/contact-profile-full/components/Root.jsx
  packages/sage-react/lib/mocks/contact-profile-full/components/index.js
  packages/sage-react/lib/mocks/contact-profile-full/components/tabs/InfoTab.jsx
  packages/sage-react/lib/mocks/contact-profile-full/components/tabs/OffersTab.jsx
  packages/sage-react/lib/mocks/contact-profile-full/components/tabs/ProductsTab.jsx
  packages/sage-react/lib/mocks/contact-profile-full/components/tabs/TagsTab.jsx
  packages/sage-react/lib/mocks/contact-profile-full/components/tabs/index.js
  packages/sage-react/lib/mocks/contact-profile-full/dataHelper.js
  packages/sage-react/lib/mocks/contact-profile-full/styles.css
Labels: Mock

#1277 [Sage-291] Modal - Foundations Update
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/tokens/_shadow.scss
Labels: improvement

#1276 Next version bump (~v4.50.6)
  packages/sage-assets/lib/stylesheets/layout/_grid.scss
  packages/sage-react/lib/Grid/Grid.jsx
  packages/sage-react/lib/index.js
  packages/sage-react/lib/mocks/product-creation-wizard/components/Root.jsx
Labels: Version Bump

#1272 [Sage-290] Empty State - Foundations Update
  docs/app/assets/images/empty-state-lg.svg
  docs/app/assets/images/empty-state-sm.svg
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/empty_state/_preview.html.erb
  docs/app/views/examples/components/empty_state/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_empty_state.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_empty_state.html.erb
  packages/sage-assets/lib/stylesheets/components/_empty_state.scss
  packages/sage-react/lib/EmptyState/EmptyState.jsx
Labels: improvement

#1241 [SAGE-228] Pagination foundations update
  docs/app/views/examples/components/pagination/_preview.html.erb
  docs/app/views/kaminari/sage_theme/_gap.html.erb
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
Labels: improvement

#1283 Patch dropdown border style within toolbar__group
  packages/sage-assets/lib/stylesheets/components/_button.scss
Labels: bug

#1280 [Sage-363] Link - Spot Check Updates
  docs/app/views/examples/components/panel/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_table.scss
  packages/sage-assets/lib/stylesheets/core/_typography.scss
Labels: improvement

#1289 Add dependencies to re-render table row
  packages/sage-react/lib/Table/TableRow.jsx
Labels: bug

#1284 Next Version Bump ~4.52.0
  docs/app/views/examples/components/dropdown/_preview.html.erb
  docs/app/views/examples/components/dropdown/_props.html.erb
  docs/app/views/examples/components/search/_preview.html.erb
  docs/app/views/examples/components/toolbar/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_search.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_dropdown_trigger.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_search.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_nav.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-react/lib/Dropdown/Dropdown.jsx
  packages/sage-react/lib/Dropdown/DropdownTrigger.jsx
  packages/sage-react/lib/Dropdown/SelectDropdown.jsx
  packages/sage-react/lib/Search/Search.jsx
  packages/sage-react/lib/Search/Search.story.jsx
  packages/sage-react/lib/Table/TableRow.jsx
Labels: Version Bump

#1286 [Sage-300] Link - Default Class Patch
  packages/sage-react/lib/Alert/Alert.story.jsx
  packages/sage-react/lib/Breadcrumbs/Breadcrumbs.jsx
  packages/sage-react/lib/HelpLink/HelpLink.jsx
  packages/sage-react/lib/Link/Link.jsx
  packages/sage-react/lib/MediaTile/MediaTile.jsx
  packages/sage-react/lib/TransactionCard/TransactionCard.jsx
  packages/sage-react/lib/Typeahead/TypeaheadItem.jsx
Labels: bug

#1288 [Sage-388] Table - Foundations Update
  docs/app/views/examples/components/table/_preview.html.erb
  docs/app/views/examples/components/table/_props.html.erb
  docs/app/views/examples/shared/_props.html.erb
  packages/sage-assets/lib/stylesheets/components/_table.scss
Labels: improvement

#1292 [Sage-293] Page Heading - Foundations Update
  docs/app/views/examples/components/page_heading/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_page_heading.scss
Labels: improvement

#1291 [Focus-Ring] use box-shadow instead of outline
  docs/app/views/pages/color.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_colors.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_empty_state.scss
  packages/sage-assets/lib/stylesheets/components/_table.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: improvement

#1249 [SAGE-259] Badge foundations
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/badge/_preview.html.erb
  docs/app/views/examples/components/badge/_props.html.erb
  docs/app/views/examples/components/badge/_rules_do.html.erb
  docs/app/views/examples/components/badge/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_components/sage_badge.rb
  docs/lib/sage_rails/app/sage_components/sage_dictionary.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_badge.html.erb
  packages/sage-assets/lib/stylesheets/components/_badge.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_dot.scss
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/dictionary/_tokens.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/tokens/_font_size.scss
  packages/sage-react/lib/Badge/Badge.jsx
  packages/sage-react/lib/Badge/Badge.spec.jsx
  packages/sage-react/lib/Badge/Badge.story.jsx
  packages/sage-react/lib/Badge/configs.js
  packages/sage-react/lib/Badge/index.js
  packages/sage-react/lib/configs/dictionary/tokens.js
  packages/sage-react/lib/index.js
  style-dictionary/tokens/color/combos.json
Labels: improvement

#1293 [Sage-409] Card - Foundations Update
  docs/app/views/examples/components/card/_preview.html.erb
  docs/app/views/examples/components/card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_card.rb
  docs/lib/sage_rails/app/sage_components/sage_dictionary.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_empty_state.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/dictionary/_tokens.scss
  packages/sage-react/lib/Card/Card.jsx
  packages/sage-react/lib/configs/dictionary/tokens.js
Labels: improvement

#1295 [Sage-369] Modal - Content Scrolling
  packages/sage-assets/lib/stylesheets/components/_modal.scss
Labels: improvement

#1296 [SAGE-390] Upload Card foundations update
  docs/lib/sage_rails/app/views/sage_components/_sage_upload_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_upload_card.scss
  packages/sage-react/lib/UploadCard/UploadCard.jsx
Labels: improvement

#1294 [SAGE-295] foundations toast update
  docs/app/views/examples/components/toast/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_dictionary.rb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_empty_state.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-assets/lib/stylesheets/dictionary/_tokens.scss
  packages/sage-react/lib/configs/dictionary/tokens.js
  packages/sage-system/lib/toast/toast.config.js
Labels: improvement
