Repository Kajabi/sage-lib, pull requests merged in 2022-05, with the labels that each got.

#1371 [SAGE-493] Add generic `.sage-col` when only no column size is specified
  docs/app/views/pages/grid.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_grid_col.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_grid_col.html.erb
  packages/sage-react/lib/themes/legacy/Grid/Grid.story.jsx
  packages/sage-react/lib/themes/legacy/Grid/GridCol.jsx
  packages/sage-react/lib/themes/next/Grid/Grid.story.jsx
  packages/sage-react/lib/themes/next/Grid/GridCol.jsx
Labels: improvement

#1376 [SAGE-491] Empty state - add max-width
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_empty_state.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_empty_state.scss
Labels: improvement

#1375 [SAGE-352] add static width to grid columns
  docs/app/views/pages/grid.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/layout/_grid.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/themes/next/layout/_grid.scss
  packages/sage-react/lib/themes/legacy/Grid/Grid.story.jsx
  packages/sage-react/lib/themes/next/Grid/Grid.story.jsx
Labels: improvement

#1378 [SAGE-498]: SageSearch field border-radius
  packages/sage-assets/lib/stylesheets/themes/next/components/_panel_controls.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_search.scss
Labels: improvement

#1380 [Sage-497] Label - Fix Secondary Button Position
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
Labels: bug

#1382 MOCKS: Payouts index and empty state
  docs/app/helpers/mocks/kp_onboarding_payouts_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/kp_onboarding_payouts/_main.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_balance.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_empty_state.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_empty_state_video.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_future_payouts.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_illustration_celebrate.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_illustration_check_details.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_illustration_empty_state.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_index.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_modal_add_funds.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_modal_add_funds_confirmation.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_modal_bank_linked.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_modal_edit_bank_acct.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_modal_payout_schedule.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_modal_payouts_video.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_payout_activity_item.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_recent_activity.html.erb
Labels: Mock

#1372 [SAGE-316] Banner react variant
  docs/app/helpers/components_helper.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_banner.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_banner.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-react/lib/index.js
  packages/sage-react/lib/themes/legacy/Banner/Banner.jsx
  packages/sage-react/lib/themes/legacy/Banner/Banner.spec.jsx
  packages/sage-react/lib/themes/legacy/Banner/Banner.story.jsx
  packages/sage-react/lib/themes/legacy/Banner/BannerContent.jsx
  packages/sage-react/lib/themes/legacy/Banner/BannerWrapper.jsx
  packages/sage-react/lib/themes/legacy/Banner/configs.js
  packages/sage-react/lib/themes/legacy/Banner/index.js
  packages/sage-react/lib/themes/legacy/index.js
  packages/sage-react/lib/themes/next/Banner/Banner.jsx
  packages/sage-react/lib/themes/next/Banner/Banner.spec.jsx
  packages/sage-react/lib/themes/next/Banner/Banner.story.jsx
  packages/sage-react/lib/themes/next/Banner/BannerContent.jsx
  packages/sage-react/lib/themes/next/Banner/BannerWrapper.jsx
  packages/sage-react/lib/themes/next/Banner/configs.js
  packages/sage-react/lib/themes/next/Banner/index.js
Labels: improvement

#1384 [SAGE-519] Select update label z-index
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_select.scss
Labels: improvement

#1385 Next version bump
  docs/app/helpers/components_helper.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_banner.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_banner.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_select.scss
  packages/sage-react/lib/index.js
  packages/sage-react/lib/themes/legacy/Banner/Banner.jsx
  packages/sage-react/lib/themes/legacy/Banner/Banner.spec.jsx
  packages/sage-react/lib/themes/legacy/Banner/Banner.story.jsx
  packages/sage-react/lib/themes/legacy/Banner/BannerContent.jsx
  packages/sage-react/lib/themes/legacy/Banner/BannerWrapper.jsx
  packages/sage-react/lib/themes/legacy/Banner/configs.js
  packages/sage-react/lib/themes/legacy/Banner/index.js
  packages/sage-react/lib/themes/legacy/index.js
  packages/sage-react/lib/themes/next/Banner/Banner.jsx
  packages/sage-react/lib/themes/next/Banner/Banner.spec.jsx
  packages/sage-react/lib/themes/next/Banner/Banner.story.jsx
  packages/sage-react/lib/themes/next/Banner/BannerContent.jsx
  packages/sage-react/lib/themes/next/Banner/BannerWrapper.jsx
  packages/sage-react/lib/themes/next/Banner/configs.js
  packages/sage-react/lib/themes/next/Banner/index.js
Labels: Version Bump

#1393 Ensure consumables don't export CSS
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_icon.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/core/_typography.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/tokens/_font_size.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/tokens/_line_height.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_icon.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/_typography.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_font_size.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_line_height.scss
Labels: bug

#1383 [SAGE-520] Grid add xl breakpoint
  docs/app/views/pages/grid.html.erb
  docs/lib/sage_rails/app/sage_components/sage_grid_col.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_grid_col.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_grid_col.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/layout/_grid.scss
  packages/sage-assets/lib/stylesheets/themes/next/layout/_grid.scss
  packages/sage-react/lib/themes/legacy/Grid/Grid.story.jsx
  packages/sage-react/lib/themes/legacy/Grid/GridCol.jsx
  packages/sage-react/lib/themes/next/Grid/Grid.story.jsx
  packages/sage-react/lib/themes/next/Grid/GridCol.jsx
Labels: improvement

#1386 [SAGE-503] Alert - added margin-bottom
  packages/sage-assets/lib/stylesheets/themes/next/components/_alert.scss
Labels: improvement

#1397 [QEINBOX-340] - remove z index from select
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_select.scss
Labels: bug

#1391 [SAGE-567] Hero - add react version
  packages/sage-react/lib/index.js
  packages/sage-react/lib/themes/legacy/Hero/Hero.jsx
  packages/sage-react/lib/themes/legacy/Hero/Hero.spec.jsx
  packages/sage-react/lib/themes/legacy/Hero/Hero.story.jsx
  packages/sage-react/lib/themes/legacy/Hero/configs.js
  packages/sage-react/lib/themes/legacy/Hero/index.js
  packages/sage-react/lib/themes/legacy/index.js
  packages/sage-react/lib/themes/next/Hero/Hero.jsx
  packages/sage-react/lib/themes/next/Hero/Hero.spec.jsx
  packages/sage-react/lib/themes/next/Hero/Hero.story.jsx
  packages/sage-react/lib/themes/next/Hero/configs.js
  packages/sage-react/lib/themes/next/Hero/index.js
Labels: improvement

#1388 [SAGE-557] Checkbox - update storybook demos
  packages/sage-react/lib/themes/legacy/Toggle/Checkbox.story.jsx
  packages/sage-react/lib/themes/next/Toggle/Checkbox.story.jsx
Labels: documentation, improvement

#1404 MOCK: KP onboarding
  docs/app/assets/images/illustrations/celebrate.svg
  docs/app/assets/images/illustrations/dark_roast.svg
  docs/app/assets/images/illustrations/gift_labels.svg
  docs/app/assets/images/illustrations/laptop.svg
  docs/app/assets/images/illustrations/planter.svg
  docs/app/assets/images/kajabi.svg
  docs/app/assets/images/mocks/check_details.svg
  docs/app/views/mocks/kp_onboarding_payouts/_main.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/onboarding/_index.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/onboarding/_step.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_empty_state.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_modal_bank_linked.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_modal_edit_bank_acct.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/settings/_index.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/shared/_check_explanation.html.erb
Labels: Mock

#1405 [Sage-552] Panel Controls, Toolbar - Alignment Fix
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_panel_controls.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_search.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_toolbar.scss
Labels: bug

#1399 [Sage-504] Tabs - Link Bug
  packages/sage-assets/lib/stylesheets/themes/next/components/_tab.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/_variables.scss
  packages/sage-react/lib/themes/next/Tabs/TabsItem.jsx
Labels: bug

#1402 MOCK: Update get started to latest
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/kp_onboarding_payouts/_main.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/onboarding/_index.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/onboarding/_step.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_empty_state.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_index.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/payouts/_modal_bank_linked.html.erb
  docs/app/views/mocks/kp_onboarding_payouts/shared/_check_explanation.html.erb
  packages/sage-react/lib/themes/legacy/mocks/get-started/GetStarted.story.jsx
  packages/sage-react/lib/themes/legacy/mocks/get-started/components/DashboardPanel.jsx
  packages/sage-react/lib/themes/legacy/mocks/get-started/components/GetStartedTabs.jsx
  packages/sage-react/lib/themes/legacy/mocks/get-started/components/GetStartedTabsMobile.jsx
  packages/sage-react/lib/themes/legacy/mocks/get-started/components/SidebarModule.jsx
  packages/sage-react/lib/themes/legacy/mocks/get-started/content.jsx
  packages/sage-react/lib/themes/next/mocks/get-started/GetStarted.story.jsx
  packages/sage-react/lib/themes/next/mocks/get-started/components/DashboardPanel.jsx
  packages/sage-react/lib/themes/next/mocks/get-started/components/GetStartedTabs.jsx
  packages/sage-react/lib/themes/next/mocks/get-started/components/GetStartedTabsMobile.jsx
  packages/sage-react/lib/themes/next/mocks/get-started/components/SidebarModule.jsx
  packages/sage-react/lib/themes/next/mocks/get-started/content.jsx
Labels: Mock

#1406 [SAGE-500] Input group button alignment
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_toolbar.scss
Labels: improvement

#1387 [SAGE-556] Alert storybook demos
  packages/sage-react/lib/themes/legacy/Alert/Alert.story.jsx
  packages/sage-react/lib/themes/legacy/Link/Link.story.jsx
  packages/sage-react/lib/themes/next/Alert/Alert.story.jsx
Labels: documentation, improvement

#1417 [Sage-531] Form Elements - Color Update
  packages/sage-assets/lib/stylesheets/themes/next/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_radio.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_switch.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/_variables.scss
Labels: improvement

#1414 [Sage-522] Button - Color Update
  docs/app/views/examples/components/themes/next/button/_preview.html.erb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-react/lib/themes/next/Button/Button.story.jsx
  packages/sage-react/lib/themes/next/Button/configs.js
Labels: improvement

#1403 [SAGE-303] Input - Rails / React parity
  packages/sage-react/lib/themes/legacy/Input/Input.jsx
  packages/sage-react/lib/themes/legacy/Input/Input.story.jsx
  packages/sage-react/lib/themes/legacy/Input/configs.js
  packages/sage-react/lib/themes/next/Input/Input.jsx
  packages/sage-react/lib/themes/next/Input/Input.story.jsx
  packages/sage-react/lib/themes/next/Input/configs.js
Labels: improvement

#1413 [SAGE-532] Upload Card - remove drop area style
  packages/sage-assets/lib/stylesheets/themes/next/components/_upload_card.scss
Labels: improvement

#1407 Next Version Bump
  docs/app/views/examples/components/themes/legacy/progress_bar/_preview.html.erb
  docs/app/views/examples/components/themes/next/button/_preview.html.erb
  docs/app/views/examples/components/themes/next/progress_bar/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_progress_bar.rb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_progress_bar.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_progress_bar.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_alert.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_progress_bar.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_alert.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_panel_controls.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_progress_bar.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_radio.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_search.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_switch.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_tab.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_toolbar.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_upload_card.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/_variables.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/mixins/_sage.scss
  packages/sage-react/lib/themes/legacy/Alert/Alert.story.jsx
  packages/sage-react/lib/themes/legacy/Input/Input.jsx
  packages/sage-react/lib/themes/legacy/Input/Input.story.jsx
  packages/sage-react/lib/themes/legacy/Input/configs.js
  packages/sage-react/lib/themes/legacy/Link/Link.story.jsx
  packages/sage-react/lib/themes/legacy/ProgressBar/ProgressBar.jsx
  packages/sage-react/lib/themes/legacy/ProgressBar/ProgressBar.story.jsx
  packages/sage-react/lib/themes/next/Alert/Alert.story.jsx
  packages/sage-react/lib/themes/next/Button/Button.story.jsx
  packages/sage-react/lib/themes/next/Button/configs.js
  packages/sage-react/lib/themes/next/Input/Input.jsx
  packages/sage-react/lib/themes/next/Input/Input.story.jsx
  packages/sage-react/lib/themes/next/Input/configs.js
  packages/sage-react/lib/themes/next/ProgressBar/ProgressBar.jsx
  packages/sage-react/lib/themes/next/ProgressBar/ProgressBar.story.jsx
  packages/sage-react/lib/themes/next/ProgressBar/configs.js
  packages/sage-react/lib/themes/next/Tabs/TabsItem.jsx
Labels: Version Bump

#1422 [QINBOX-375] Fix width for panel control toolbar actions
  packages/sage-assets/lib/stylesheets/themes/next/components/_panel_controls.scss
Labels: bug

#1420 [SAGE-528] Color - update charcoal 500 value
  packages/sage-assets/lib/stylesheets/themes/next/dictionary/_tokens.scss
Labels: improvement

#1419 [SAGE-529] Update select state color
  docs/app/views/examples/components/themes/next/choice/_preview.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_choice.scss
Labels: improvement

#1424 [Sage-524] Button - Icon Button Update
  packages/sage-assets/lib/stylesheets/themes/next/core/mixins/_sage.scss
Labels: improvement

#1433 [SAGE-649] Panel, Card, List `hide_first_border` Prop
  docs/app/views/examples/components/themes/legacy/card/_props.html.erb
  docs/app/views/examples/components/themes/legacy/list/_props.html.erb
  docs/app/views/examples/components/themes/legacy/panel/_props.html.erb
  docs/app/views/examples/components/themes/next/card/_props.html.erb
  docs/app/views/examples/components/themes/next/list/_props.html.erb
  docs/app/views/examples/components/themes/next/panel/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_card_list.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_list.rb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_card_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_panel_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_card_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_panel_list.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_card.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_catalog_item.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_list.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_panel.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_card.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_catalog_item.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_list.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_panel.scss
  packages/sage-react/lib/themes/legacy/Card/CardList.jsx
  packages/sage-react/lib/themes/legacy/List/List.jsx
  packages/sage-react/lib/themes/legacy/Panel/PanelList.jsx
  packages/sage-react/lib/themes/next/Card/CardList.jsx
  packages/sage-react/lib/themes/next/List/List.jsx
  packages/sage-react/lib/themes/next/Panel/PanelList.jsx
Labels: improvement
