Repository Kajabi/sage-lib, pull requests merged in 2022-04, with the labels that each got.

#1298 [SAGE-294] Search foundations update
  docs/app/views/examples/components/search/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_search.html.erb
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-react/lib/Search/Search.jsx
Labels: improvement

#1307 [Button] - Foundations button followup
  docs/lib/sage-frontend/stylesheets/docs/_colors.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
Labels: improvement

#1310 Next version bump (~4.53.0)
  packages/sage-assets/lib/stylesheets/components/_modal.scss
Labels: Version Bump

#1306 SAGE-375: new icons: unlock, move-left, move-right, kajabi-filled, feedback
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: enhancement, Component

#1313 Next version bump (~v4.54.0)
  docs/app/views/examples/components/icon/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: Version Bump

#1022 [SAGE-1015] add grid gap options token
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/examples/components/card/_preview.html.erb
  docs/app/views/examples/components/panel/_preview.html.erb
  docs/app/views/pages/gap.html.erb
  docs/lib/sage_rails/app/sage_components/sage_button_group.rb
  docs/lib/sage_rails/app/sage_components/sage_card_list_item.rb
  docs/lib/sage_rails/app/sage_components/sage_card_row.rb
  docs/lib/sage_rails/app/sage_components/sage_classnames.rb
  docs/lib/sage_rails/app/sage_components/sage_label_group.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_list_item.rb
  docs/lib/sage_rails/app/sage_components/sage_panel_row.rb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_sortable_item_custom.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_card_list_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_card_row.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_label_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_list_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_panel_row.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_label.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-assets/lib/stylesheets/tokens/_grid_gap_options.scss
  packages/sage-assets/lib/stylesheets/tokens/_index.scss
  packages/sage-assets/lib/stylesheets/utilities/_grid_gap_options.scss
  packages/sage-react/lib/Button/ButtonGroup.jsx
  packages/sage-react/lib/Button/configs.js
  packages/sage-react/lib/Card/Card.story.jsx
  packages/sage-react/lib/Card/CardList.jsx
  packages/sage-react/lib/Card/CardListItem.jsx
  packages/sage-react/lib/Card/CardRow.jsx
  packages/sage-react/lib/Card/configs.js
  packages/sage-react/lib/Label/LabelGroup.jsx
  packages/sage-react/lib/Label/configs.js
  packages/sage-react/lib/Panel/PanelList.jsx
  packages/sage-react/lib/Panel/PanelListItem.jsx
  packages/sage-react/lib/Panel/PanelRow.jsx
  packages/sage-react/lib/Panel/configs.js
  packages/sage-react/lib/Sortable/SortableItemCustom.jsx
  packages/sage-react/lib/Sortable/configs.js
  packages/sage-react/lib/configs/classnames/gap.js
  packages/sage-react/lib/configs/classnames/index.js
  packages/sage-react/lib/configs/tokens/grid_gap_options.js
  packages/sage-react/lib/configs/tokens/index.js
Labels: enhancement

#1305 [Sage-395] Avatar - Foundations Update
  docs/app/assets/images/avatar/demi_wilkinson.png
  docs/app/assets/images/avatar/joshua_wilson.png
  docs/app/assets/images/avatar/koray_okumus.png
  docs/app/views/examples/components/avatar/_preview.html.erb
  packages/sage-assets/lib/stylesheets/dictionary/_tokens.scss
  packages/sage-react/lib/Avatar/Avatar.jsx
  packages/sage-react/lib/Avatar/Avatar.story.jsx
Labels: improvement

#1319 Next version bump ~v4.55.0
  docs/app/views/examples/components/alert/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_alert.html.erb
  packages/sage-assets/lib/stylesheets/components/_alert.scss
  packages/sage-react/lib/Alert/Alert.jsx
  packages/sage-react/lib/Input/Input.jsx
  packages/sage-react/lib/Input/Input.story.jsx
Labels: Version Bump

#1329 [Sage-412] Empty State - Foundations Sync Update
  docs/app/views/examples/components/empty_state/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_empty_state.html.erb
  packages/sage-assets/lib/stylesheets/components/_empty_state.scss
  packages/sage-react/lib/EmptyState/EmptyState.jsx
  packages/sage-react/lib/EmptyState/EmptyState.story.jsx
Labels: improvement

#1332 Next version bump ~v4.56.0
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Table/Table.jsx
  packages/sage-react/lib/Table/Table.story.jsx
  packages/sage-react/lib/Table/TableRow.jsx
  packages/sage-react/lib/Table/sample-data/contacts.js
Labels: Version Bump

#1326 [SAGE-440] Foundations link update
  docs/app/views/examples/components/link/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_link.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_catalog_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_transaction_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_breadcrumbs.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_media_tile.scss
  packages/sage-assets/lib/stylesheets/components/_nav.scss
  packages/sage-assets/lib/stylesheets/components/_pagination.scss
  packages/sage-assets/lib/stylesheets/components/_tab.scss
  packages/sage-assets/lib/stylesheets/components/_table.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/vendor/_reboot.scss
  packages/sage-react/lib/Link/Link.jsx
  packages/sage-react/lib/Link/Link.story.jsx
  packages/sage-react/lib/Link/configs.js
Labels: improvement

#1333 [Sage-438] Card Highlight - Border Fix
  packages/sage-assets/lib/stylesheets/components/_card_highlight.scss
Labels: bug

#1327 [SAGE-441] Nav and NavLink foundations
  docs/app/views/examples/components/nav_link/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_nav_link.html.erb
  packages/sage-assets/lib/stylesheets/components/_nav.scss
  packages/sage-assets/lib/stylesheets/components/_sidebar.scss
Labels: improvement

#1338 [SAGE-411] Popover foundations update
  packages/sage-assets/lib/stylesheets/components/_popover.scss
Labels: improvement

#1340 [Nav] added back no underline after rebase
  packages/sage-assets/lib/stylesheets/components/_nav.scss
Labels: improvement

#1323 [SAGE-392] Foundations form input, textarea, select updates
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/dictionary/_tokens.scss
  packages/sage-react/lib/Select/Select.jsx
  packages/sage-system/lib/select.js
Labels: improvement

#1335 [SAGE-292] Foundations dropdowns and menus
  docs/app/views/examples/components/dropdown/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-assets/lib/stylesheets/core/_variables.scss
Labels: improvement

#1339 [Sage-408] Hero - Foundations Update
  docs/app/assets/images/card-placeholder-hero.jpeg
  docs/app/views/examples/components/hero/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_hero.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  packages/sage-assets/lib/stylesheets/components/_hero.scss
Labels: improvement

#1348 [SAGE-387] Description List foundations update
  docs/app/views/examples/components/themes/next/description/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_description.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_description.scss
  packages/sage-react/lib/themes/next/Description/Description.jsx
  packages/sage-react/lib/themes/next/Description/Description.story.jsx
Labels: improvement

#1353 Patch breadcrumbs export
  packages/sage-assets/lib/stylesheets/themes/next/components/_breadcrumbs.scss
  packages/sage-react/lib/index.js
Labels: bug

#1343 [SAGE-289] Component Loader Next update
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/themes/next/loader/_preview.html.erb
  docs/app/views/examples/components/themes/next/loader/_props.html.erb
  docs/app/views/examples/components/themes/next/loader/_rules_do.html.erb
  docs/lib/sage_rails/app/sage_components/sage_loader.rb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_loader.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_loader.scss
  packages/sage-react/lib/themes/next/Loader/Loader.jsx
Labels: improvement

#1354 [SAGE-232] Component update: Button group
  docs/app/views/examples/components/themes/next/button/_preview.html.erb
Labels: improvement

#1342 [Sage-437] Focus Styles - Foundations
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_choice.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_copy_text.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_hero.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_link.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_media_tile.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_pagination.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_search.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_status_icon.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_toast.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_typeahead.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/mixins/_sage.scss
Labels: improvement

#1360 [Sage-224] Choice - Specs Update
  packages/sage-assets/lib/stylesheets/themes/next/components/_choice.scss
Labels: improvement

#1362 MOCK: Payment index page, phase 2
  docs/app/helpers/mocks/payments_index_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/payments_index_phase_2/_main.html.erb
  docs/app/views/mocks/payments_index_phase_2/_pip.html.erb
  docs/app/views/mocks/payments_index_phase_2/_transaction_stat.html.erb
  docs/lib/sage_rails/app/helpers/sage_table_helper.rb
Labels: Mock

#1367 Next Version bump ~v4.59.0
  docs/app/helpers/application_helper.rb
  docs/app/views/application/_footer.html.erb
  docs/app/views/application/_home_code.html.erb
  docs/config/environments/development.rb
Labels: Version Bump

#1370 Payments Index Page Phase 2 mocks design updates and convert to React
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/payments_index_phase_2/_main.html.erb
  docs/app/views/mocks/payments_index_phase_2/_pip.html.erb
  docs/app/views/mocks/payments_index_phase_2/_transaction_stat.html.erb
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/Main.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/PaymenstIndex.story.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/components/AlertsFactory.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/components/CarouselCard.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/components/OverviewCharts.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/components/PaymentStat.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/components/PriceCell.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/components/RecentTransactionsTable.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/components/SVGMobilePayment.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/components/UpcomingFeatures.jsx
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/components/index.js
  packages/sage-react/lib/themes/legacy/mocks/payments-index-phase-2/data-helper.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/Main.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/PaymenstIndex.story.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/components/AlertsFactory.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/components/CarouselCard.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/components/OverviewCharts.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/components/PaymentStat.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/components/PriceCell.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/components/RecentTransactionsTable.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/components/SVGMobilePayment.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/components/UpcomingFeatures.jsx
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/components/index.js
  packages/sage-react/lib/themes/next/mocks/payments-index-phase-2/data-helper.jsx
Labels: Mock
