Repository Kajabi/sage-lib, pull requests merged in 2022-01, with the labels that each got.

#1115 [Form elements] message - update alignment
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: improvement

#1120 [Sage-1119] Form Section - Markup Refactor
  docs/app/views/examples/components/form_section/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_section.html.erb
  packages/sage-assets/lib/stylesheets/components/_form_section.scss
  packages/sage-react/lib/FormSection/FormSection.jsx
Labels: improvement

#1123 Next version bump ~v4.34.0
  docs/app/views/examples/components/form_section/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_section.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_stat_box.html.erb
  packages/sage-assets/lib/stylesheets/components/_form_section.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/FormSection/FormSection.jsx
  packages/sage-react/lib/Sortable/Sortable.jsx
  packages/sage-react/lib/Textarea/Textarea.jsx
Labels: Version Bump

#1130 Form Section - Adds Missing React Link
  docs/app/helpers/components_helper.rb
Labels: documentation

#837 Style-dictionary POC
  DICTIONARY.md
  README.md
  docs/lib/sage-frontend/stylesheets/docs/_colors.scss
  docs/lib/sage_rails/app/sage_components/sage_classnames.rb
  docs/lib/sage_rails/app/sage_components/sage_dictionary.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  package.json
  packages/sage-assets/lib/stylesheets/_consumables.scss
  packages/sage-assets/lib/stylesheets/dictionary/_tokens.scss
  packages/sage-assets/lib/stylesheets/tokens/_color_combos.scss
  packages/sage-assets/lib/stylesheets/tokens/_color_palette.scss
  packages/sage-assets/lib/stylesheets/tokens/_grid-templates.scss
  packages/sage-react/lib/configs/classnames/grid-templates.js
  packages/sage-react/lib/configs/classnames/type.js
  packages/sage-react/lib/configs/dictionary/index.js
  packages/sage-react/lib/configs/dictionary/tokens.js
  packages/sage-react/lib/configs/index.js
  packages/sage-react/lib/configs/tokens/colors.js
  packages/sage-react/lib/configs/tokens/grid-templates.js
  style-dictionary/bin/formats.js
  style-dictionary/bin/platforms.js
  style-dictionary/bin/templating.js
  style-dictionary/bin/transform-groups.js
  style-dictionary/bin/transforms.js
  style-dictionary/bin/utilities.js
  style-dictionary/config.js
  style-dictionary/templates/presets/jsx/tokens.hbs
  style-dictionary/templates/presets/rb/tokens.hbs
  style-dictionary/templates/presets/scss/tokens.hbs
  style-dictionary/tokens/color/base.json
  style-dictionary/tokens/color/combos.json
  style-dictionary/tokens/color/core.json
  style-dictionary/tokens/color/custom.json
  style-dictionary/tokens/content/grid-template.json
  yarn.lock
Labels: improvement

#1131 Next version bump ~v4.33.3
  DICTIONARY.md
  README.md
  docs/app/controllers/pages_controller.rb
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_assistant.html.erb
  docs/app/views/application/_home_sections.html.erb
  docs/app/views/pages/search.html.erb
  docs/config/routes.rb
  docs/lib/sage-frontend/stylesheets/docs/_colors.scss
  docs/lib/sage_rails/app/sage_components/sage_classnames.rb
  docs/lib/sage_rails/app/sage_components/sage_dictionary.rb
  docs/lib/sage_rails/app/sage_components/sage_tokens.rb
  package.json
  packages/sage-assets/lib/stylesheets/_consumables.scss
  packages/sage-assets/lib/stylesheets/components/_expandable_card.scss
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/dictionary/_tokens.scss
  packages/sage-assets/lib/stylesheets/tokens/_color_combos.scss
  packages/sage-assets/lib/stylesheets/tokens/_color_palette.scss
  packages/sage-assets/lib/stylesheets/tokens/_grid-templates.scss
  packages/sage-react/lib/configs/classnames/grid-templates.js
  packages/sage-react/lib/configs/classnames/type.js
  packages/sage-react/lib/configs/dictionary/index.js
  packages/sage-react/lib/configs/dictionary/tokens.js
  packages/sage-react/lib/configs/index.js
  packages/sage-react/lib/configs/tokens/colors.js
  packages/sage-react/lib/configs/tokens/grid-templates.js
  style-dictionary/bin/formats.js
  style-dictionary/bin/platforms.js
  style-dictionary/bin/templating.js
  style-dictionary/bin/transform-groups.js
  style-dictionary/bin/transforms.js
  style-dictionary/bin/utilities.js
  style-dictionary/config.js
  style-dictionary/templates/presets/jsx/tokens.hbs
  style-dictionary/templates/presets/rb/tokens.hbs
  style-dictionary/templates/presets/scss/tokens.hbs
  style-dictionary/tokens/color/base.json
  style-dictionary/tokens/color/combos.json
  style-dictionary/tokens/color/core.json
  style-dictionary/tokens/color/custom.json
  style-dictionary/tokens/content/grid-template.json
  yarn.lock
Labels: Version Bump

#1140 [SAGE-1136] Docs Homepage Image Optimizations
  docs/app/assets/images/hero.jpg
  docs/app/assets/images/sage_icon.png
  docs/app/assets/images/sage_ui.png
  docs/app/views/application/_home_hero.html.erb
Labels: documentation, improvement

#1141 Next version bump ~v4.35.0
  docs/app/assets/images/hero.jpg
  docs/app/assets/images/sage_icon.png
  docs/app/assets/images/sage_ui.png
  docs/app/views/application/_home_hero.html.erb
  docs/app/views/examples/components/checkbox/_preview.html.erb
  docs/app/views/examples/components/table/_preview.html.erb
  docs/app/views/examples/components/table/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_checkbox.rb
  docs/lib/sage_rails/app/sage_components/sage_table.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_checkbox.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_table.html.erb
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_table.scss
  packages/sage-assets/package.json
  packages/sage-react/lib/Table/Table.jsx
  packages/sage-react/lib/Table/Table.story.jsx
  packages/sage-react/lib/Table/configs.js
  packages/sage-react/lib/Toggle/Checkbox.story.jsx
  packages/sage-react/lib/Toggle/Toggle.jsx
  yarn.lock
Labels: Version Bump

#1111 [SAGE-710] Button: loading/spinner truncated aria-label
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
Labels: bug, a11y

#1151 [Sage-792] Form Input - Multiple Words for Affixes
  docs/lib/sage_rails/app/views/sage_components/_sage_form_input.html.erb
Labels: bug, P3

#1148 [SAGE_1147] Creation Wizard Product Selection
  docs/app/assets/images/coaching-icon.png
  docs/app/assets/images/community-icon.png
  docs/app/assets/images/courses-icon.png
  docs/app/assets/images/podcasts-icon.png
  docs/app/helpers/mocks/creation_wizard_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/creation_wizard/_main.html.erb
  docs/app/views/mocks/creation_wizard/_product_selection.html.erb
  docs/lib/sage-frontend/stylesheets/docs/mocks/_creation_wizard.scss
  docs/lib/sage-frontend/stylesheets/docs/mocks/_index.scss
Labels: Mock

#1155 [SAGE_1154] Creation Wizard Product Dropdown and Selected Item
  docs/app/helpers/mocks/creation_wizard_helper.rb
  docs/app/views/mocks/creation_wizard/_main.html.erb
  docs/app/views/mocks/creation_wizard/_product_dropdown.html.erb
  docs/lib/sage-frontend/stylesheets/docs/mocks/_creation_wizard.scss
Labels: Mock

#1149 Next version bump ~v4.36.0
  docs/app/assets/images/coaching-icon.png
  docs/app/assets/images/community-icon.png
  docs/app/assets/images/courses-icon.png
  docs/app/assets/images/podcasts-icon.png
  docs/app/helpers/mocks/creation_wizard_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/examples/shared/_code.html.erb
  docs/app/views/mocks/creation_wizard/_main.html.erb
  docs/app/views/mocks/creation_wizard/_product_dropdown.html.erb
  docs/app/views/mocks/creation_wizard/_product_selection.html.erb
  docs/lib/sage-frontend/stylesheets/docs/mocks/_creation_wizard.scss
  docs/lib/sage-frontend/stylesheets/docs/mocks/_index.scss
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_input.html.erb
  yarn.lock
Labels: Version Bump

#1164 [SAGE-145] Allow nil as option in dropdown item styles
  docs/app/views/examples/components/dropdown/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
Labels: bug

#1159 Next version bump ~v4.37.0
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/avatar/_props.html.erb
  docs/app/views/examples/components/banner/_props.html.erb
  docs/app/views/examples/components/breadcrumbs/_props.html.erb
  docs/app/views/examples/components/chart_legend/_props.html.erb
  docs/app/views/examples/components/chart_summary/_props.html.erb
  docs/app/views/examples/components/copy_text/_props.html.erb
  docs/app/views/examples/components/data_card/_props.html.erb
  docs/app/views/examples/components/dropdown/_props.html.erb
  docs/app/views/examples/components/dynamic_select/_props.html.erb
  docs/app/views/examples/components/form_input/_props.html.erb
  docs/app/views/examples/components/form_textarea/_props.html.erb
  docs/app/views/examples/components/icon/_props.html.erb
  docs/app/views/examples/components/icon_card/_props.html.erb
  docs/app/views/examples/components/icon_list/_props.html.erb
  docs/app/views/examples/components/label/_props.html.erb
  docs/app/views/examples/components/loader/_props.html.erb
  docs/app/views/examples/components/media_tile/_props.html.erb
  docs/app/views/examples/components/meter/_props.html.erb
  docs/app/views/examples/components/pagination/_props.html.erb
  docs/app/views/examples/components/progress_bar/_props.html.erb
  docs/app/views/examples/components/radio/_props.html.erb
  docs/app/views/examples/components/sidebar/_props.html.erb
  docs/app/views/examples/components/sortable/_props.html.erb
  docs/app/views/examples/components/stat_box/_props.html.erb
  docs/app/views/examples/components/status_icon/_props.html.erb
  docs/app/views/examples/components/switch/_props.html.erb
  docs/app/views/examples/components/tab/_props.html.erb
  docs/app/views/examples/components/toolbar/_preview.html.erb
  docs/app/views/examples/components/toolbar/_props.html.erb
  docs/app/views/examples/components/toolbar/_rules_do.html.erb
  docs/app/views/examples/components/toolbar/_rules_dont.html.erb
  docs/app/views/examples/shared/_props.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_table.scss
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/sage_components/sage_toolbar.rb
  docs/lib/sage_rails/app/sage_components/sage_toolbar_group.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_toolbar.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_toolbar_group.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-assets/lib/stylesheets/components/_toolbar.scss
  packages/sage-assets/lib/stylesheets/index.scss
  packages/sage-react/lib/Toolbar/Toolbar.jsx
  packages/sage-react/lib/Toolbar/Toolbar.spec.jsx
  packages/sage-react/lib/Toolbar/Toolbar.story.jsx
  packages/sage-react/lib/Toolbar/ToolbarGroup.jsx
  packages/sage-react/lib/Toolbar/index.js
  packages/sage-react/lib/index.js
Labels: Version Bump

#1169 docs(docs): Remove the Generated HTML Code section
  docs/app/views/examples/shared/_code.html.erb
Labels: documentation

#1162 [Sage-94] Choice - Disabled Prop Fix
  docs/app/views/examples/components/choice/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_choice.html.erb
  packages/sage-react/lib/Choice/Choice.jsx
Labels: a11y, improvement

#1172 [SAGE-161] Optional Tab Icon
  docs/app/views/examples/components/tab/_preview.html.erb
  docs/app/views/examples/components/tab/_props.html.erb
  docs/app/views/examples/components/tabs/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_tab.html.erb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
Labels: improvement

#1170 Next version bump ~v4.38.0
  docs/app/views/examples/components/choice/_preview.html.erb
  docs/app/views/examples/components/page_heading/_preview.html.erb
  docs/app/views/examples/components/tab/_preview.html.erb
  docs/app/views/examples/components/tab/_props.html.erb
  docs/app/views/examples/components/tabs/_preview.html.erb
  docs/app/views/examples/shared/_code.html.erb
  docs/lib/sage_rails/app/sage_components/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_choice.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_tab.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/components/_page_heading.scss
  packages/sage-react/lib/Choice/Choice.jsx
  yarn.lock
Labels: Version Bump

#1158 [SAGE-100] Creation Wizard Payment Dropdown
  docs/app/helpers/mocks/creation_wizard_helper.rb
  docs/app/views/mocks/creation_wizard/_main.html.erb
  docs/app/views/mocks/creation_wizard/_payment_dropdown.html.erb
  docs/lib/sage-frontend/javascript/docs/mocks/creation_wizard/index.js
  docs/lib/sage-frontend/javascript/docs/mocks/index.js
  docs/lib/sage-frontend/stylesheets/docs/mocks/_creation_wizard.scss
Labels: Mock

#1179 Payments index mocks
  docs/app/helpers/mocks/payments_index_helper.rb
  docs/app/helpers/mocks_helper.rb
  docs/app/views/mocks/payments_index/_banner.html.erb
  docs/app/views/mocks/payments_index/_comparison_selections_bar.html.erb
  docs/app/views/mocks/payments_index/_main.html.erb
  docs/app/views/mocks/payments_index/_page_heading.html.erb
  docs/app/views/mocks/payments_index/_payment_cards.html.erb
Labels: Mock

#1173 [SAGE-162] update status page accessibility dot
  docs/app/helpers/components_helper.rb
Labels: documentation

#1184 [SAGE-189] Fix(creation wizard mock): scopes payment dropdown JS to page
  docs/lib/sage-frontend/javascript/docs/mocks/creation_wizard/index.js
Labels: bug
