Repository Kajabi/sage-lib, pull requests merged in 2022-12, with the labels that each got.

#1643 fix(storybook): add the Toast story back
  packages/sage-react/lib/Toast/Toast.jsx
  packages/sage-react/lib/Toast/Toast.story.jsx
Labels: bug

#1646 [DSS-142] Modal - Size Update
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/modal/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/tokens/_index.scss
  packages/sage-assets/lib/stylesheets/tokens/_modal_sizes.scss
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-react/lib/Modal/configs.js
Labels: improvement, WIP

#1654 [DSS-241]: Remove white background from input labels
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: bug

#1652 [DSS-240] Duplicate without user-selected canonical error
  docs/app/views/application/_app_head_content.html.erb
Labels: bug, documentation

#1656 [DSS-243] Add missing page title content
  docs/app/views/application/_app_head_content.html.erb
  docs/app/views/pages/color.html.erb
  docs/app/views/pages/design_principles.html.erb
  docs/app/views/pages/grid.html.erb
  docs/app/views/pages/grid_templates.html.erb
  docs/app/views/pages/icon.html.erb
  docs/app/views/pages/reveal.html.erb
  docs/app/views/pages/sandbox.html.erb
  docs/app/views/pages/search.html.erb
  docs/app/views/pages/spacing.html.erb
  docs/app/views/pages/support.html.erb
  docs/app/views/pages/truncation.html.erb
  docs/app/views/pages/typography.html.erb
Labels: documentation

#1657 [DSS-244]: Hero image .jpeg fix
  docs/app/assets/images/card-placeholder-hero.jpeg
  docs/app/assets/images/card-placeholder-hero.jpg
  docs/app/views/examples/components/hero/_preview.html.erb
Labels: bug, documentation

#1659 [DSS-245] Rich Text Editor followup
  packages/sage-react/lib/Toolbar/ToolbarEditor.jsx
  packages/sage-react/lib/Toolbar/index.js
  packages/sage-react/lib/index.js
Labels: bug

#1650 Next Version Bump
  docs/Gemfile
  docs/Gemfile.lock
  docs/app/assets/images/card-placeholder-hero.jpeg
  docs/app/assets/images/card-placeholder-hero.jpg
  docs/app/views/application/_app_head_content.html.erb
  docs/app/views/examples/components/hero/_preview.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/modal/_props.html.erb
  docs/app/views/pages/color.html.erb
  docs/app/views/pages/design_principles.html.erb
  docs/app/views/pages/grid.html.erb
  docs/app/views/pages/grid_templates.html.erb
  docs/app/views/pages/icon.html.erb
  docs/app/views/pages/reveal.html.erb
  docs/app/views/pages/sandbox.html.erb
  docs/app/views/pages/search.html.erb
  docs/app/views/pages/spacing.html.erb
  docs/app/views/pages/support.html.erb
  docs/app/views/pages/truncation.html.erb
  docs/app/views/pages/typography.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/tokens/_index.scss
  packages/sage-assets/lib/stylesheets/tokens/_modal_sizes.scss
  packages/sage-react/lib/Dropdown/Dropdown.story.jsx
  packages/sage-react/lib/Dropdown/OptionsDropdown.story.jsx
  packages/sage-react/lib/Dropdown/ToolbarDropdown.story.jsx
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-react/lib/Modal/configs.js
  packages/sage-react/lib/Toolbar/ToolbarEditor.jsx
  packages/sage-react/lib/Toolbar/index.js
  packages/sage-react/lib/index.js
  yarn.lock
Labels: Version Bump

#1663 [DSS-248] Icons: Update icon font (9 new)
  docs/app/views/pages/icon.html.erb
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: improvement

#1662 [DSS-247] Docs Site Housekeeping
  docs/app/helpers/application_helper.rb
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_home_sections.html.erb
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/examples/components/container/_props.html.erb
  docs/app/views/examples/components/table/_preview.html.erb
  docs/app/views/pages/container.html.erb
  docs/app/views/pages/panels_cards.html.erb
  docs/app/views/pages/search.html.erb
  docs/config/routes.rb
Labels: documentation, improvement
