Repository Kajabi/sage-lib, pull requests merged in 2022-07, with the labels that each got.

#1489 Next Version Bump
  docs/app/views/examples/components/themes/legacy/alert/_preview.html.erb
  docs/lib/sage-frontend/stylesheets/docs/themes/next/_token.scss
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_alert.html.erb
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_alert.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/components/_icon.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/layout/_grid.scss
  packages/sage-assets/lib/stylesheets/themes/legacy/tokens/_icon.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_badge.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_choice.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_icon.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_modal.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_radio.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_search.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_switch.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_table.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/themes/next/layout/_grid.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_border.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_border_interactive.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_icon.scss
  packages/sage-assets/lib/stylesheets/themes/next/tokens/_index.scss
  packages/sage-react/lib/themes/legacy/Alert/Alert.jsx
  packages/sage-react/lib/themes/legacy/Alert/Alert.story.jsx
  packages/sage-react/lib/themes/legacy/configs/tokens/icons.js
  packages/sage-react/lib/themes/next/configs/tokens/icons.js
Labels: Version Bump

#1500 [SAGE-712] Progress Bar within Fullscreen modal
  packages/sage-assets/lib/stylesheets/themes/next/components/_progress_bar.scss
Labels: bug

#1501 [Release] - v4.71 fixes
  packages/sage-assets/lib/stylesheets/themes/next/components/_progress_bar.scss
Labels: Version Bump, In QE

#1496 [SAGE-709] Gap - use .sage-grid-gap instead on component level gap classes
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_button_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_card_list_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_card_row.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_label_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_panel_list_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_panel_row.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_card.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_label.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_panel.scss
  packages/sage-react/lib/themes/next/Button/ButtonGroup.jsx
  packages/sage-react/lib/themes/next/Card/CardListItem.jsx
  packages/sage-react/lib/themes/next/Card/CardRow.jsx
  packages/sage-react/lib/themes/next/Label/LabelGroup.jsx
  packages/sage-react/lib/themes/next/Panel/PanelListItem.jsx
  packages/sage-react/lib/themes/next/Panel/PanelRow.jsx
Labels: improvement

#1507 [SAGE-460] BUG: Non-focusable form labels
  docs/app/views/examples/components/themes/next/form_input/_preview.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/core/mixins/_sage.scss
  packages/sage-react/lib/themes/next/Input/Input.story.jsx
Labels: bug, documentation

#1508 [Sage-704] Button - Icon Button Height
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/mixins/_sage.scss
Labels: bug

#1506 [SAGE-703] Resolve overlapping error messages
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_form_input.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_form_textarea.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_textarea.scss
  packages/sage-react/lib/themes/next/Input/Input.jsx
  packages/sage-react/lib/themes/next/Select/Select.jsx
  packages/sage-react/lib/themes/next/Textarea/Textarea.jsx
Labels: bug

#1505 Next Version Bump
  docs/app/views/examples/components/themes/next/form_input/_preview.html.erb
  docs/app/views/examples/components/themes/next/modal/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal_content.rb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_button_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_card_list_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_card_row.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_form_input.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_form_textarea.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_label_group.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_modal_content.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_panel_list_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_panel_row.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_button.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_card.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_label.scss
  packages/sage-assets/lib/stylesheets/themes/next/components/_panel.scss
  packages/sage-assets/lib/stylesheets/themes/next/core/mixins/_sage.scss
  packages/sage-react/lib/themes/next/Button/ButtonGroup.jsx
  packages/sage-react/lib/themes/next/Card/CardListItem.jsx
  packages/sage-react/lib/themes/next/Card/CardRow.jsx
  packages/sage-react/lib/themes/next/Input/Input.jsx
  packages/sage-react/lib/themes/next/Input/Input.story.jsx
  packages/sage-react/lib/themes/next/Label/LabelGroup.jsx
  packages/sage-react/lib/themes/next/Modal/Modal.story.jsx
  packages/sage-react/lib/themes/next/Modal/ModalBody.jsx
  packages/sage-react/lib/themes/next/Modal/configs.js
  packages/sage-react/lib/themes/next/Panel/PanelListItem.jsx
  packages/sage-react/lib/themes/next/Panel/PanelRow.jsx
  packages/sage-react/lib/themes/next/Select/Select.jsx
  packages/sage-react/lib/themes/next/Textarea/Textarea.jsx
  packages/sage-react/package.json
  yarn.lock
Labels: Version Bump

#1512 [Sage-728] Modal - Content Scrolling, Sage Next
  docs/app/views/examples/components/themes/next/modal/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_modal.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_modal.scss
  packages/sage-react/lib/themes/next/Modal/Modal.jsx
Labels: improvement

#1514 Next version bump
  docs/app/views/examples/components/themes/legacy/form_select/_preview.html.erb
  docs/app/views/examples/components/themes/legacy/form_select/_props.html.erb
  docs/app/views/examples/components/themes/next/form_select/_preview.html.erb
  docs/app/views/examples/components/themes/next/form_select/_props.html.erb
  docs/app/views/examples/components/themes/next/modal/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_select.rb
  docs/lib/sage_rails/app/views/sage_components/themes/legacy/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_form_select.html.erb
  docs/lib/sage_rails/app/views/sage_components/themes/next/_sage_modal.html.erb
  packages/sage-assets/lib/stylesheets/themes/next/components/_modal.scss
  packages/sage-react/lib/themes/legacy/Select/Select.jsx
  packages/sage-react/lib/themes/legacy/Select/Select.story.jsx
  packages/sage-react/lib/themes/next/Modal/Modal.jsx
  packages/sage-react/lib/themes/next/Select/Select.jsx
  packages/sage-react/lib/themes/next/Select/Select.story.jsx
  packages/sage-react/lib/themes/next/Select/configs.js
Labels: Version Bump

#1523 MOCK: Add Transactions page mocks
  packages/sage-react/lib/mocks/payment-transactions/Main.jsx
  packages/sage-react/lib/mocks/payment-transactions/PaymentTransactions.story.jsx
  packages/sage-react/lib/mocks/payment-transactions/components/ModalCustomizeColumns.jsx
  packages/sage-react/lib/mocks/payment-transactions/components/ModalFilters.jsx
  packages/sage-react/lib/mocks/payment-transactions/components/PriceField.jsx
  packages/sage-react/lib/mocks/payment-transactions/components/index.js
  packages/sage-react/lib/mocks/payment-transactions/data-helper.jsx
Labels: Mock

#1521 [Sage-738] Toast - Danger Button Color
  docs/lib/sage-frontend/stylesheets/docs/_colors.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
Labels: bug

#1529 Add transactions to mocks index
  docs/app/helpers/mocks_helper.rb
Labels: Mock

#1535 [SAGE-765] - fix(sage-react): input was using an invalid prop 'inputType'
  packages/sage-react/lib/Input/Input.jsx
  packages/sage-react/lib/Input/Input.story.jsx
Labels: Component

#1536 [SAGE-764] Card/Panel Divider Color Updates
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
Labels: improvement
