Repository Kajabi/sage-lib, pull requests merged in 2022-08, with the labels that each got.

#1519 Next version bump
  docs/app/helpers/mocks_helper.rb
  docs/lib/sage-frontend/stylesheets/docs/_colors.scss
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_data_card.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/components/_toast.scss
  packages/sage-react/lib/Breadcrumbs/Breadcrumbs.story.mdx
  packages/sage-react/lib/Button/Button.jsx
  packages/sage-react/lib/Button/Button.story.mdx
  packages/sage-react/lib/Card/CardNotes.story.mdx
  packages/sage-react/lib/DataCard/DataCardGroupNotes.story.mdx
  packages/sage-react/lib/DataCard/DataCardNotes.story.mdx
  packages/sage-react/lib/DataCard/DataCardScrollNotes.story.mdx
  packages/sage-react/lib/Frame/Frame.story.jsx
  packages/sage-react/lib/Grid/GridNotes.story.mdx
  packages/sage-react/lib/Hero/Hero.story.jsx
  packages/sage-react/lib/Input/Input.jsx
  packages/sage-react/lib/Input/Input.story.jsx
  packages/sage-react/lib/Introduction.story.mdx
  packages/sage-react/lib/Modal/Modal.story.mdx
  packages/sage-react/lib/Panel/PanelFigureNotes.story.mdx
  packages/sage-react/lib/Panel/PanelListNotes.story.mdx
  packages/sage-react/lib/Panel/PanelNotes.story.mdx
  packages/sage-react/lib/Panel/PanelRowNotes.story.mdx
  packages/sage-react/lib/Panel/PanelStackNotes.story.mdx
  packages/sage-react/lib/Panel/PanelTilesNotes.story.mdx
  packages/sage-react/lib/Tabs/TabsNotes.story.mdx
  packages/sage-react/lib/Textarea/Textarea.jsx
  packages/sage-react/lib/Textarea/Textarea.story.jsx
  packages/sage-react/lib/Type/Type.story.mdx
  packages/sage-react/lib/mocks/contact-profile-full/components/tabs/ProductsTab.jsx
  packages/sage-react/lib/mocks/payment-transactions/Main.jsx
  packages/sage-react/lib/mocks/payment-transactions/PaymentTransactions.story.jsx
  packages/sage-react/lib/mocks/payment-transactions/components/ModalCustomizeColumns.jsx
  packages/sage-react/lib/mocks/payment-transactions/components/ModalFilters.jsx
  packages/sage-react/lib/mocks/payment-transactions/components/PriceField.jsx
  packages/sage-react/lib/mocks/payment-transactions/components/index.js
  packages/sage-react/lib/mocks/payment-transactions/data-helper.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/CoachingAppearance.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/CoachingBooking.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/CoachingDetails.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/coaching/CoachingPricing.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/course/CourseAppearance.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/course/CourseDetails.jsx
  packages/sage-react/lib/mocks/product-creation-wizard/components/panels/course/CoursePricing.jsx
Labels: Version Bump

#1542 [SAGE-457] Sage docs cleanup
  docs/app/assets/images/hero-background.svg
  docs/app/assets/images/hero.jpg
  docs/app/helpers/layouts_helper.rb
  docs/app/views/application/_content_skip_link.html.erb
  docs/app/views/application/_home_code.html.erb
  docs/app/views/application/_home_hero.html.erb
  docs/app/views/application/_home_icons.html.erb
  docs/app/views/application/_meta.html.erb
  docs/app/views/application/_scripts.html.erb
  docs/app/views/examples/components/_component.html.erb
  docs/app/views/examples/components/panel_controls/_preview.html.erb
  docs/app/views/examples/shared/_figma_embed.html.erb
  docs/app/views/layouts/application.html.erb
  docs/app/views/layouts/full_page.html.erb
  docs/app/views/layouts/home.html.erb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/pages/design_principles.html.erb
  docs/app/views/pages/index.html.erb
  docs/app/views/pages/search.html.erb
  docs/app/views/pages/support.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_feature.scss
  docs/lib/sage-frontend/stylesheets/docs/_footer.scss
  docs/lib/sage-frontend/stylesheets/docs/_home.scss
  docs/lib/sage-frontend/stylesheets/docs/_nav.scss
  docs/lib/sage-frontend/stylesheets/docs/index.scss
  docs/lib/sage_rails/app/views/sage_components/_sage_assistant.html.erb
Labels: documentation

#1543 [SAGE-779]: Sage dropdown and select alignment
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
Labels: improvement

#1531 [SAGE-729] Description - remove icononly variation and update docs
  docs/app/views/examples/components/description/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_description.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_description.html.erb
  packages/sage-react/lib/Description/Description.jsx
Labels: documentation, improvement

#1532 [SAGE-619] make list and table rows clickable
  docs/app/views/examples/components/table/_preview.html.erb
  docs/lib/sage_rails/app/sage_tokens/sage_classnames.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_catalog_item.html.erb
  packages/sage-assets/lib/stylesheets/components/_catalog_item.scss
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_table.scss
  packages/sage-react/lib/Table/Table.story.jsx
  packages/sage-react/lib/Table/sample-data/domains.jsx
  packages/sage-react/lib/configs/classnames/links.js
Labels: improvement

#1550 [SAGE-787]: Sage docs broken links
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/examples/components/choice/_rules_dont.html.erb
Labels: bug, documentation

#1547 chore(support): fix broken support links
  docs/app/views/pages/support.html.erb
Labels: documentation

#1533 [SAGE-722] - Add `optgroup` support to `select` components
  docs/app/views/examples/components/form_select/_preview.html.erb
  docs/app/views/examples/components/form_select/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_form_select.rb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_select.html.erb
  packages/sage-react/lib/Select/Select.jsx
  packages/sage-react/lib/Select/Select.story.jsx
  packages/sage-react/lib/Select/configs.js
Labels: enhancement

#1553 fix(listitem): address console errors related to proptype
  packages/sage-react/lib/List/List.jsx
  packages/sage-react/lib/List/ListItem.jsx
Labels: bug

#1548 [SAGE-788] Copy Button borderless css_classes attribute fix
  docs/lib/sage_rails/app/views/sage_components/_sage_copy_button.html.erb
Labels: bug, Component

#1549 [SAGE-783] Improve legibility of documentation site color token blocks
  docs/app/views/pages/_color_values.html.erb
  docs/app/views/pages/_color_values_base.html.erb
  docs/app/views/pages/_color_values_neutral.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_colors.scss
Labels: bug, documentation

#1551 [Sage-771] Modal - Remove Drop Shadow on Header
  packages/sage-assets/lib/stylesheets/components/_modal.scss
Labels: improvement

#1554 [SAGE-517] Banner: Add storybook examples and update logic to pass active state through components
  packages/sage-react/lib/Banner/Banner.jsx
  packages/sage-react/lib/Banner/Banner.story.jsx
  packages/sage-react/lib/Banner/BannerContent.jsx
  packages/sage-react/lib/Banner/BannerWrapper.jsx
Labels: documentation

#1563 Modal - Fullscreen Bottom Margin
  packages/sage-assets/lib/stylesheets/components/_modal.scss
Labels: improvement

#1537 [Sage-761] Card - Add Interactivity
  docs/app/views/examples/components/card/_preview.html.erb
  docs/app/views/examples/components/card/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_table.scss
  packages/sage-react/lib/Card/Card.jsx
  packages/sage-react/lib/Card/Card.story.jsx
Labels: improvement

#1558 Next version bump
  docs/app/views/examples/components/card/_preview.html.erb
  docs/app/views/examples/components/card/_props.html.erb
  docs/app/views/examples/shared/_props.html.erb
  docs/app/views/examples/shared/_props_improved.html.erb
  docs/app/views/pages/container.html.erb
  docs/app/views/pages/gap.html.erb
  docs/app/views/pages/spacing.html.erb
  docs/config/environments/production.rb
  docs/lib/sage_rails/app/helpers/sage_table_helper.rb
  docs/lib/sage_rails/app/sage_components/sage_card.rb
  docs/lib/sage_rails/app/sage_components/sage_table.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_card.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_table.html.erb
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/components/_table.scss
  packages/sage-assets/lib/stylesheets/layout/_page.scss
  packages/sage-react/lib/Banner/Banner.jsx
  packages/sage-react/lib/Banner/Banner.story.jsx
  packages/sage-react/lib/Banner/BannerContent.jsx
  packages/sage-react/lib/Banner/BannerWrapper.jsx
  packages/sage-react/lib/Card/Card.jsx
  packages/sage-react/lib/Card/Card.story.jsx
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Table/Table.jsx
  packages/sage-system/lib/modal.js
Labels: Version Bump

#1569 [Sage-753] Modal - Size Prop Based on Container
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-react/lib/Modal/configs.js
Labels: improvement

#1561 Pagination: (React) Adjust default value of `pageCount` for improved use
  packages/sage-react/lib/Pagination/Pagination.jsx
  packages/sage-react/lib/Pagination/Pagination.story.jsx
Labels: improvement

#1566 [SAGE-780] `SageGrid` column class fix
  docs/lib/sage_rails/app/helpers/sage_grid_helper.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_grid_col.html.erb
Labels: bug

#1568 Next version bump
  docs/app/views/examples/components/icon/_props.html.erb
  docs/app/views/examples/components/list/_preview.html.erb
  docs/app/views/examples/components/list/_props.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/lib/sage_rails/app/helpers/sage_grid_helper.rb
  docs/lib/sage_rails/app/sage_components/sage_modal.rb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_grid_col.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_list.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_list_item.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal.html.erb
  package.json
  packages/sage-assets/lib/stylesheets/components/_list.scss
  packages/sage-assets/lib/stylesheets/components/_lists.scss
  packages/sage-assets/lib/stylesheets/components/_modal.scss
  packages/sage-assets/lib/stylesheets/components/_sidebar.scss
  packages/sage-assets/lib/stylesheets/layout/_content.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/Breadcrumbs/Breadcrumbs.jsx
  packages/sage-react/lib/Carousel/Carousel.jsx
  packages/sage-react/lib/Description/Description.jsx
  packages/sage-react/lib/Icon/Icon.story.jsx
  packages/sage-react/lib/List/List.jsx
  packages/sage-react/lib/List/List.story.jsx
  packages/sage-react/lib/List/ListItem.jsx
  packages/sage-react/lib/List/configs.js
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-react/lib/Modal/configs.js
  packages/sage-react/lib/PageHeading/PageHeading.jsx
  packages/sage-react/lib/PageHeading/PageHeading.story.jsx
  packages/sage-react/lib/Pagination/Pagination.jsx
  packages/sage-react/lib/Pagination/Pagination.story.jsx
  packages/sage-react/lib/Toggle/Checkbox.story.jsx
  packages/sage-react/lib/Toggle/Radio.story.jsx
  packages/sage-react/lib/Toggle/Switch.story.jsx
  packages/sage-react/lib/configs/tokens/icons.js
  packages/sage-react/lib/mocks/payment-transactions/Main.jsx
  packages/sage-system/lib/list.js
  packages/sage-system/package.json
  yarn.lock
Labels: Version Bump
