Repository Kajabi/sage-lib, pull requests merged in 2022-09, with the labels that each got.

#1579 [SAGE-797]: Form element spacing and color adjustments spec alignment
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_form_textarea.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: improvement

#1572 [SAGE-793] add disclosure button
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/button/_props.html.erb
  docs/app/views/examples/components/dropdown/_preview.html.erb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_button.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/Button/Button.jsx
  packages/sage-react/lib/Button/Button.story.jsx
  packages/sage-react/lib/Dropdown/Dropdown.jsx
  packages/sage-react/lib/Dropdown/Dropdown.story.jsx
  packages/sage-react/lib/Dropdown/DropdownTrigger.jsx
  packages/sage-react/lib/Dropdown/DropdownTriggerDefault.jsx
  packages/sage-react/lib/Dropdown/ToolbarDropdown.jsx
Labels: documentation, improvement

#1578 [SAGE-795] Transactions table hover behavior
  packages/sage-assets/lib/stylesheets/components/_table.scss
Labels: bug

#1583 [Sage-279] Remove `clamp` mixin
  packages/sage-assets/lib/stylesheets/components/_chart_summary.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_utilities.scss
Labels: deprecation

#1586 [DSS-69]: Tabs: Filter Variant
  docs/app/views/examples/components/tabs/_preview.html.erb
  docs/app/views/examples/components/tabs/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_tabs.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_tabs.html.erb
  packages/sage-assets/lib/stylesheets/components/_tab.scss
  packages/sage-react/lib/Tabs/Tabs.jsx
  packages/sage-react/lib/Tabs/Tabs.story.jsx
  packages/sage-react/lib/Tabs/configs.js
Labels: improvement

#1591 [DSS-70] Line Height Update
  docs/app/helpers/type_specs_helper.rb
  packages/sage-assets/lib/stylesheets/core/_typography.scss
Labels: improvement

#1589 [DSS-99] Update icon font
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: improvement

#1592 [DSS-141] Radio/Checkbox Sizing Adjustments (20px -> 16px)
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/core/_variables.scss
Labels: improvement

#1593 [DSS-144]: Badge Large Variant
  docs/app/views/examples/components/badge/_preview.html.erb
  docs/app/views/examples/components/badge/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_badge.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_badge.html.erb
  packages/sage-assets/lib/stylesheets/components/_badge.scss
  packages/sage-assets/lib/stylesheets/components/_dot.scss
  packages/sage-react/lib/Badge/Badge.jsx
  packages/sage-react/lib/Badge/Badge.story.jsx
Labels: improvement

#1595 [DSS-45] Radio - Bordered Variant Update
  docs/app/views/examples/components/radio/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_radio.html.erb
  packages/sage-assets/lib/stylesheets/components/_radio.scss
Labels: improvement

#1594 Modal: Ensure drag from within Modal does not accidentally dismiss it
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-system/lib/modal.js
Labels: bug

#1596 Next version bump
  docs/app/views/examples/components/radio/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_radio.html.erb
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-react/lib/Modal/Modal.jsx
  packages/sage-react/lib/Modal/Modal.story.jsx
  packages/sage-system/lib/modal.js
Labels: Version Bump

#1603 [DSS-174] Add Google Analytics to Storybook
  docs/package.json
  packages/sage-react/.storybook/main.js
  packages/sage-react/.storybook/manager.js
  yarn.lock
Labels: documentation, improvement

#1604 [DSS-173] Add Google Analytics to Docs Site
  docs/app/views/application/_ga_tracking.html.erb
  docs/app/views/layouts/application.html.erb
  docs/app/views/layouts/breakout.html.erb
  docs/app/views/layouts/full_page.html.erb
  docs/app/views/layouts/home.html.erb
  docs/app/views/layouts/mocks.html.erb
  docs/app/views/layouts/sandbox.html.erb
Labels: documentation, improvement

#1601 [DSS-175] Add Google Analytics to Sassdocs
  packages/sage-assets/package.json
  packages/sage-assets/sassdoc-config.yaml
Labels: documentation, improvement

#1607 GA typo patch
  docs/app/views/layouts/application.html.erb
Labels: bug

#1602 [DSS-156] Tag - Image Variant
  docs/app/views/examples/components/tag/_preview.html.erb
  docs/app/views/examples/components/tag/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_tag.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_tag.html.erb
  packages/sage-assets/lib/stylesheets/components/_tag.scss
  packages/sage-react/lib/Tag/Tag.jsx
Labels: improvement
