Repository Kajabi/sage-lib, pull requests merged in 2023-01, with the labels that each got.

#1669 [DSS-73] Responsiveness - Updates responsiveness column
  docs/app/helpers/components_helper.rb
Labels: documentation

#1672 [DSS-268] Tooltip TypeError
  packages/sage-system/lib/tooltip.js
Labels: bug

#1664 Next Version Bump
  docs/Gemfile.lock
  docs/app/helpers/application_helper.rb
  docs/app/helpers/components_helper.rb
  docs/app/views/application/_home_sections.html.erb
  docs/app/views/application/_sidebar.html.erb
  docs/app/views/examples/components/container/_props.html.erb
  docs/app/views/examples/components/input_group/_preview.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/app/views/examples/components/table/_preview.html.erb
  docs/app/views/pages/container.html.erb
  docs/app/views/pages/grid.html.erb
  docs/app/views/pages/icon.html.erb
  docs/app/views/pages/panels_cards.html.erb
  docs/app/views/pages/search.html.erb
  docs/config/routes.rb
  docs/lib/sage-frontend/stylesheets/docs/_grid.scss
  docs/lib/sage_rails/app/helpers/sage_grid_helper.rb
  docs/lib/sage_rails/app/sage_components/sage_grid_col.rb
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/components/_toolbar_editor.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-assets/lib/stylesheets/layout/_grid.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/.storybook/main.js
  packages/sage-react/lib/Dropdown/ToolbarEditorDropdown.jsx
  packages/sage-react/lib/Dropdown/stories/story-helper.jsx
  packages/sage-react/lib/Grid/GridCol.jsx
  packages/sage-react/lib/Grid/GridCol.story.mdx
  packages/sage-react/lib/Grid/GridRow.story.mdx
  packages/sage-react/lib/Toolbar/Toolbar.story.jsx
  packages/sage-react/lib/Toolbar/ToolbarEditor.jsx
  packages/sage-react/lib/Toolbar/ToolbarEditor.story.jsx
  packages/sage-react/lib/Toolbar/ToolbarEditorDocs.story.mdx
  packages/sage-react/lib/configs/tokens/icons.js
  packages/sage-react/public/ToolbarEditorSections.png
  packages/sage-system/lib/dropdown.js
  packages/sage-system/lib/inputgroup.js
  packages/sage-system/lib/tooltip.js
  yarn.lock
Labels: Version Bump

#1682 [DSS-234] Tabs Not Displaying Panel Content (Storybook)
  packages/sage-react/lib/Tabs/Tabs.story.jsx
Labels: bug, documentation, improvement

#1683 [DSS-279]: Icons: Update icon font (v.12, 4 new)
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
Labels: improvement
