Repository Kajabi/sage-lib, pull requests merged in 2023-03, with the labels that each got.

#1694 [DSS-300] Button and Toolbar style corrections
  docs/app/views/examples/components/toolbar/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-assets/lib/stylesheets/core/_variables.scss
Labels: bug

#1698 [DSS-318] Textarea content prop not populating content
  docs/lib/sage_rails/app/views/sage_components/_sage_form_textarea.html.erb
Labels: bug

#1701 [DSS-356] - Fix dropdown logic for safari
  packages/sage-system/lib/dropdown.js
Labels: bug

#1699 Next Version bump
  docs/app/views/examples/components/toolbar/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_form_textarea.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_form_input.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-assets/lib/stylesheets/core/_variables.scss
  packages/sage-system/lib/dropdown.js
Labels: Version Bump

#1703 [DSS-352]: Replace Help link focus state legacy styles
  packages/sage-assets/lib/stylesheets/components/_link.scss
Labels: bug

#1707 Next Version Bump
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/checkbox/_preview.html.erb
  docs/app/views/examples/components/checkbox/_props.html.erb
  docs/app/views/examples/components/panel_controls/_preview.html.erb
  docs/lib/sage-frontend/stylesheets/docs/_checkbox.scss
  docs/lib/sage-frontend/stylesheets/docs/index.scss
  packages/sage-assets/lib/stylesheets/components/_assistant.scss
  packages/sage-assets/lib/stylesheets/components/_banner.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
  packages/sage-react/lib/Button/ButtonGroup.story.jsx
  packages/sage-react/lib/Toggle/Checkbox.story.jsx
Labels: Version Bump

#1716 [DSS-297] Hero: Design Audit + New Variant
  docs/app/assets/images/hero-contained-placeholder.png
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/hero/_preview.html.erb
  docs/app/views/examples/components/hero/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_hero.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_hero.scss
  packages/sage-react/lib/Hero/Hero.jsx
  packages/sage-react/lib/Hero/Hero.story.jsx
  packages/sage-react/public/HeroContainerPlaceholder.png
Labels: improvement

#1724 fix(react-dropdown): max depth reached due to improper dependency added
  packages/sage-react/lib/Dropdown/Dropdown.jsx
Labels: bug

#1721 Next Version Bump
  docs/app/assets/images/hero-contained-placeholder.png
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/divider/_preview.html.erb
  docs/app/views/examples/components/divider/_props.html.erb
  docs/app/views/examples/components/divider/_rules_do.html.erb
  docs/app/views/examples/components/divider/_rules_dont.html.erb
  docs/app/views/examples/components/hero/_preview.html.erb
  docs/app/views/examples/components/hero/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_divider.rb
  docs/lib/sage_rails/app/sage_components/sage_hero.rb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_divider.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_hero.html.erb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_divider.scss
  packages/sage-assets/lib/stylesheets/components/_hero.scss
  packages/sage-assets/lib/stylesheets/components/_index.scss
  packages/sage-assets/lib/stylesheets/components/_indicator.scss
  packages/sage-react/lib/Divider/Divider.jsx
  packages/sage-react/lib/Divider/Divider.spec.jsx
  packages/sage-react/lib/Divider/Divider.story.jsx
  packages/sage-react/lib/Dropdown/Dropdown.jsx
  packages/sage-react/lib/Hero/Hero.jsx
  packages/sage-react/lib/Hero/Hero.story.jsx
  packages/sage-react/public/HeroContainerPlaceholder.png
Labels: Version Bump
