Repository Kajabi/sage-lib, pull requests merged in 2023-09, with the labels that each got.

#1800 Docs/intro page
  packages/sage-react/lib/Introduction.jsx
  packages/sage-react/lib/Introduction.story.mdx
  packages/sage-react/lib/index.js
Labels: documentation

#1802 [DSS-471] - docs(): Update color palette syntax in documentation
  docs/app/views/pages/_color_values.html.erb
  docs/app/views/pages/_color_values_base.html.erb
  docs/app/views/pages/_color_values_neutral.html.erb
Labels: bug, documentation

#1801 Next version
  docs/app/views/pages/_color_values.html.erb
  docs/app/views/pages/_color_values_base.html.erb
  docs/app/views/pages/_color_values_neutral.html.erb
  packages/sage-react/lib/Input/Input.jsx
  packages/sage-react/lib/Input/Input.story.jsx
  packages/sage-react/lib/Introduction.jsx
  packages/sage-react/lib/Introduction.story.mdx
  packages/sage-react/lib/index.js
Labels: Version Bump
