Repository Kajabi/sage-lib, pull requests merged in 2023-08, with the labels that each got.

#1777 Next Version Bump
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/sage_component/_preview.html.erb
  docs/app/views/examples/components/sage_component/_props.html.erb
  docs/app/views/examples/components/sage_component/_rules_do.html.erb
  docs/app/views/examples/components/sage_component/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_tokens/sage_tokens.rb
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_icon.scss
  packages/sage-assets/lib/stylesheets/tokens/_icon.scss
  packages/sage-react/lib/configs/tokens/icons.js
  yarn.lock
Labels: Version Bump

#1779 [DSS-448]: Button Border Correction (Follow Up)
  packages/sage-assets/lib/stylesheets/components/_button.scss
Labels: bug

#1778 Next Version Bump
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/lint-test-build.yml
  .github/workflows/release-deploy.yml
  .nvmrc
  docs/Dockerfile
  docs/app/assets/images/avatar/alex.png
  docs/app/assets/images/avatar/chanel.png
  docs/app/assets/images/avatar/cj.png
  docs/app/assets/images/avatar/court.png
  docs/app/assets/images/avatar/forrest.png
  docs/app/assets/images/avatar/isabelle.png
  docs/app/assets/images/avatar/jay.png
  docs/app/assets/images/avatar/jj.png
  docs/app/assets/images/avatar/lienha.png
  docs/app/assets/images/avatar/phil.png
  docs/app/assets/images/avatar/sean.png
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/avatar/_preview.html.erb
  docs/package.json
  packages/sage-assets/Dockerfile
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/layout/_grid.scss
  packages/sage-assets/package.json
  packages/sage-packs/package.json
  packages/sage-react/Dockerfile
  packages/sage-react/lib/Avatar/Avatar.story.jsx
  packages/sage-react/lib/Button/Button.story.jsx
  packages/sage-react/lib/Grid/GridCol.jsx
  packages/sage-react/lib/Grid/GridCol.story.mdx
  packages/sage-react/lib/Grid/GridRow.story.mdx
  packages/sage-react/package.json
  packages/sage-system/package.json
Labels: Version Bump

#1784 [DSS-403] List - Adds List Item Subcomponent
  packages/sage-react/lib/List/List.story.jsx
Labels: documentation

#1785 Button: Rails documentation update
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/button/_preview.html.erb
  docs/app/views/examples/components/button/_props.html.erb
  docs/app/views/examples/components/button/_rules_do.html.erb
  docs/app/views/examples/components/button/_rules_dont.html.erb
  docs/lib/sage_rails/app/sage_tokens/sage_schemas.rb
Labels: documentation

#1787 [DSS-454]: fix(dropdown) - Prevent MultiSelect triggerLabel update
  packages/sage-system/lib/dropdown.js
Labels: bug

#1788 Button: React documentation updates
  docs/app/helpers/components_helper.rb
  packages/sage-react/.storybook/main.js
  packages/sage-react/lib/Button/Button.story.jsx
  packages/sage-react/lib/Button/Button.story.mdx
  packages/sage-react/lib/Button/ButtonGroup.story.jsx
  packages/sage-react/lib/Toolbar/ToolbarEditorDocs.story.mdx
Labels: documentation

#1790 Storybook Theme: Sage-ify Storybook
  packages/sage-react/.storybook/SageTheme.js
  packages/sage-react/.storybook/manager-head.html
  packages/sage-react/.storybook/manager.js
  packages/sage-react/public/favicon-32x32.png
  packages/sage-react/public/favicon.ico
  packages/sage-react/public/sage-logo.png
Labels: documentation

#1791 Next version bump
  docs/app/helpers/components_helper.rb
  packages/sage-react/.storybook/SageTheme.js
  packages/sage-react/.storybook/main.js
  packages/sage-react/.storybook/manager-head.html
  packages/sage-react/.storybook/manager.js
  packages/sage-react/lib/Button/Button.story.jsx
  packages/sage-react/lib/Button/Button.story.mdx
  packages/sage-react/lib/Button/ButtonGroup.story.jsx
  packages/sage-react/lib/Select/Select.jsx
  packages/sage-react/lib/Select/Select.story.jsx
  packages/sage-react/lib/Toolbar/ToolbarEditorDocs.story.mdx
  packages/sage-react/public/favicon-32x32.png
  packages/sage-react/public/favicon.ico
  packages/sage-react/public/sage-logo.png
Labels: Version Bump

#1792 [DSS-457]: fix(modal) - Update modal subheader to match figma spec
  docs/app/views/examples/components/modal/_preview.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_modal_content.html.erb
  packages/sage-react/lib/Modal/ModalHeader.jsx
Labels: bug
