Repository Kajabi/sage-lib, pull requests merged in 2023-10, with the labels that each got.

#1805 fix: removing until we find a better solution to read Sage version
  packages/sage-react/lib/Introduction.jsx
Labels: bug

#1782 [DSS-328] Upload Card - Layout Update
  docs/app/views/examples/components/upload_card/_preview.html.erb
  docs/lib/sage_rails/app/sage_components/sage_upload_card.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_upload_card.html.erb
  packages/sage-assets/lib/stylesheets/components/_upload_card.scss
  packages/sage-react/lib/UploadCard/UploadCard.jsx
  packages/sage-react/lib/UploadCard/UploadCard.spec.jsx
  packages/sage-react/lib/UploadCard/UploadCard.story.jsx
Labels: documentation, enhancement

#1821 Next Version Bump
  docs/app/views/examples/components/panel/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_sortable.scss
  packages/sage-system/lib/tooltip.js
  yarn.lock
Labels: Version Bump

#1826 DSS-481: fix(hero): Update large hero max width to full
  packages/sage-assets/lib/stylesheets/components/_hero.scss
Labels: bug

#1818 Docs: Icon documentation update (React)
  packages/sage-react/lib/Icon/Icon.jsx
  packages/sage-react/lib/Icon/Icon.story.jsx
  packages/sage-react/lib/Icon/Icon.story.mdx
Labels: documentation

#1804 [DSS-473] React Form Section title
  packages/sage-react/lib/FormSection/FormSection.jsx
Labels: enhancement

#1812 docs(loader): update the react loader documentation
  docs/app/views/examples/components/loader/_preview.html.erb
  docs/app/views/examples/components/loader/_props.html.erb
  packages/sage-react/lib/Loader/Loader.jsx
  packages/sage-react/lib/Loader/Loader.story.jsx
  packages/sage-react/lib/Loader/Loader.story.mdx
Labels: documentation

#1811 docs(modal): Rails Modal Documentation
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/modal/_preview.html.erb
Labels: documentation

#1829 fix(table): react table schema order
  packages/sage-react/lib/Table/Table.jsx
  packages/sage-react/lib/Table/Table.story.jsx
  packages/sage-react/lib/Table/Table.story.mdx
  packages/sage-react/lib/Table/TableHeader.jsx
  packages/sage-react/lib/Table/TableRow.jsx
  packages/sage-react/lib/Table/helpers.js
Labels: bug, documentation

#1831 [DSS-483] React Dropdown right & center positioning fix
  packages/sage-react/lib/Dropdown/Dropdown.jsx
Labels: bug

#1825 Next version bump
  docs/app/helpers/components_helper.rb
  docs/app/views/examples/components/form_select/_preview.html.erb
  docs/app/views/examples/components/form_select/_props.html.erb
  docs/app/views/examples/components/loader/_preview.html.erb
  docs/app/views/examples/components/loader/_props.html.erb
  docs/app/views/examples/components/modal/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_hero.scss
  packages/sage-react/lib/Dropdown/Dropdown.jsx
  packages/sage-react/lib/FormSection/FormSection.jsx
  packages/sage-react/lib/Icon/Icon.jsx
  packages/sage-react/lib/Icon/Icon.story.jsx
  packages/sage-react/lib/Icon/Icon.story.mdx
  packages/sage-react/lib/Loader/Loader.jsx
  packages/sage-react/lib/Loader/Loader.story.jsx
  packages/sage-react/lib/Loader/Loader.story.mdx
  packages/sage-react/lib/Table/Table.jsx
  packages/sage-react/lib/Table/Table.story.jsx
  packages/sage-react/lib/Table/Table.story.mdx
  packages/sage-react/lib/Table/TableHeader.jsx
  packages/sage-react/lib/Table/TableRow.jsx
  packages/sage-react/lib/Table/helpers.js
  packages/sage-system/lib/dropdown.js
Labels: Version Bump
