Repository Kajabi/sage-lib, pull requests merged in 2024-10, with the labels that each got.

#1986 Table: update font size from 12 to 14px
  packages/sage-assets/lib/stylesheets/components/_table.scss
Labels: mercury-rising

#1985 focus-visible: Do not show focus on click
  packages/sage-assets/lib/stylesheets/components/_alert.scss
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_media_tile.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/components/_tab.scss
  packages/sage-assets/lib/stylesheets/components/_tag.scss
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: mercury-rising

#1994 style: update hint font-size
  packages/sage-assets/lib/stylesheets/components/_hint.scss
Labels: mercury-rising

#1997 fix: spinner color react
  packages/sage-react/lib/Loader/Loader.jsx
Labels: mercury-rising

#2005 style: updates Button styles to match Figma
  packages/sage-assets/lib/stylesheets/components/_button.scss
Labels: improvement

#1946 ci: single versioning for all packages in monorepo
  lerna.json
  packages/sage-packs/package.json
  packages/sage-react/package.json
  packages/sage-system/package.json
Labels: mercury-rising

#1996 fix: add border to inner cards and panels
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-assets/lib/stylesheets/components/_switch.scss
  packages/sage-assets/lib/stylesheets/components/_transaction_card.scss
Labels: WIP

#2004 Version Bump PR
  .github/labeler.yml
  docs/lib/sage_rails/app/sage_components/sage_icon.rb
  lerna.json
  packages/sage-assets/lib/stylesheets/components/_button.scss
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_checkbox.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_dropdown.scss
  packages/sage-assets/lib/stylesheets/components/_form_select.scss
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_media_tile.scss
  packages/sage-assets/lib/stylesheets/components/_panel.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-assets/lib/stylesheets/components/_search.scss
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-assets/lib/stylesheets/components/_switch.scss
  packages/sage-assets/lib/stylesheets/components/_transaction_card.scss
  packages/sage-assets/lib/stylesheets/core/_typography.scss
  packages/sage-packs/package.json
  packages/sage-react/lib/ExpandableCard/ExpandableCard.jsx
  packages/sage-react/lib/Tooltip/Tooltip.jsx
  packages/sage-react/lib/Tooltip/Tooltip.story.jsx
  packages/sage-react/lib/Tooltip/TooltipElement.jsx
  packages/sage-react/package.json
  packages/sage-system/package.json
Labels: Version Bump
