Repository Kajabi/sage-lib, pull requests merged in 2024-08, with the labels that each got.

#1915 Empty State - Style Update and Prop Deprecation
  docs/app/views/examples/components/empty_state/_preview.html.erb
  docs/app/views/examples/components/empty_state/_props.html.erb
  docs/lib/sage_rails/app/sage_components/sage_empty_state.rb
  docs/lib/sage_rails/app/views/sage_components/_sage_empty_state.html.erb
  packages/sage-assets/lib/stylesheets/components/_empty_state.scss
  packages/sage-assets/lib/stylesheets/components/_icon_card.scss
  packages/sage-react/lib/EmptyState/EmptyState.jsx
  packages/sage-react/lib/EmptyState/EmptyState.story.jsx
  packages/sage-react/lib/EmptyState/EmptyState.story.mdx
  packages/sage-react/lib/EmptyState/configs.js
Labels: enhancement

#1929 Add shadow-20 and white background to box-like elements
  packages/sage-assets/lib/stylesheets/components/_card.scss
  packages/sage-assets/lib/stylesheets/components/_choice.scss
  packages/sage-assets/lib/stylesheets/components/_stat_box.scss
  packages/sage-assets/lib/stylesheets/components/_switch.scss
  packages/sage-assets/lib/stylesheets/components/_transaction_card.scss
  packages/sage-assets/lib/stylesheets/layout/_frame.scss
  packages/sage-assets/lib/stylesheets/tokens/_shadow.scss
Labels: mercury-rising

#1942 Empty State - Scope Prop
  docs/lib/sage_rails/app/sage_components/sage_empty_state.rb
  packages/sage-react/lib/EmptyState/EmptyState.jsx
Labels: mercury-rising

#1939 Version Bump
  .github/labeler.yml
  .github/workflows/label.yml
  docs/app/views/examples/components/alert/_props.html.erb
  docs/app/views/examples/components/form_input/_props.html.erb
  docs/app/views/examples/components/hint/_props.html.erb
  docs/app/views/examples/components/icon/_props.html.erb
  docs/app/views/examples/components/icon_card/_props.html.erb
  docs/app/views/examples/components/link/_preview.html.erb
  docs/app/views/examples/components/property/_props.html.erb
  docs/app/views/examples/components/status_icon/_props.html.erb
  docs/app/views/pages/grid_templates.html.erb
  docs/lib/sage_rails/app/views/sage_components/_sage_link.html.erb
  packages/sage-assets/lib/stylesheets/components/_expandable_card.scss
  packages/sage-assets/lib/stylesheets/components/_link.scss
  packages/sage-assets/lib/stylesheets/components/_radio.scss
  packages/sage-react/package.json
  yarn.lock
Labels: Version Bump

#1957 style(choice): correct icon alignment
  docs/app/views/examples/components/choice/_preview.html.erb
  packages/sage-assets/lib/stylesheets/components/_choice.scss
Labels: mercury-rising

#1960 style(sortable): text alignment
  packages/sage-assets/lib/stylesheets/components/_sortable.scss
Labels: mercury-rising

#1958 style: add box-shadow bordered frame
  packages/sage-assets/lib/stylesheets/layout/_frame.scss
Labels: mercury-rising

#1959 style(tab): adjust tab underline variable value
  packages/sage-assets/lib/stylesheets/core/mixins/_sage.scss
Labels: mercury-rising
